In [1]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz
!tar xf spark-3.1.1-bin-hadoop3.2.tgz
!pip install -q findspark
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
spark

      SparkSession
        .builder
        .appName("SparkApp")
        .master("local[5]")
        .getOrCreate()

In [ ]:
ad_df = spark.read.format("CSV").option("header",True).option("truncate",False).load("/content/Book1.csv")
ad_df.show()

+--------------------+
|             address|
+--------------------+
|       D/O New Delhi|
|C\O Tarun123 New ...|
|C//O Tarun â‚¹ New ...|
+--------------------+

In [ ]:
from pyspark.sql.functions import *

reg = r'[^\x00-\x7F]'


ad_df.withColumn('special_address',regexp_extract('address',reg,0)).filter("special_address = ''" ).select("address").show()

+--------------------+
|             address|
+--------------------+
|       D/O New Delhi|
|C\O Tarun123 New ...|
+--------------------+

In [ ]:
sample_df = spark.read.format("CSV").option("header",True).option("truncate",False).load("/content/50-contacts.csv")

In [ ]:
sample_df.withColumn('special_address',regexp_extract('address',reg,0)).filter("special_address = ''" ).select("address").show()

+--------------------+
|             address|
+--------------------+
| C\B Blue Ridge Blvd|
|8 W Cerritos Ave #54|
|        C//O Main St|
|        34 Center St|
|        3 Mcauley Dr|
|           7 Eads St|
|    7 W Jackson Blvd|
|    5 Boston Ave #88|
|228 Runamuck Pl #...|
|   2371 ?Jerrold Ave|
|  37275 St  Rt 17m M|
|    25 E 75th St #69|
|98 Connecticut Av...|
|    56 E Morehead St|
| 73 State Road 434 E|
| 69734 E Carrillo St|
|322 New? Horizon ...|
|    1 State Route 27|
| 394 Manchester Blvd|
|         6 S 33rd St|
+--------------------+
only showing top 20 rows

In [ ]:
date_df = spark.read.format("CSV").option("header",True).option("truncate",False).load("/content/datefile.csv")
date_df.show()

+-----------------+-----------------+
|       start_time|         end_time|
+-----------------+-----------------+
| 2023-01-01 10:22| 2023-01-01 12:30|
| 2023-02-15 18:45| 2023-02-16 08:00|
| 2023-03-30 07:10| 2023-02-16 18:00|
+-----------------+-----------------+

In [ ]:
temp = date_df.withColumn('time_col', to_date(col("start_time"), "yyyy-MM-dd HH:mm"))
temp2 = temp.withColumn("Start_timestamp",col("time_col").cast("timestamp"))

In [ ]:
print(temp2)

DataFrame[start_time: string,  end_time: string, time_col: date, Start_timestamp: timestamp]

In [ ]:
# after tranformation my dataframe contain a new column which is the required timestamp column
# but im not able to show it, i tired it many times but every time. Im still trying to figure it out

In [9]:
import logging
logging.getLogger().setLevel(logging.INFO)

In [10]:
def func():
  ad_df = spark.read.format("CSV").option("header",True).option("truncate",False).load("/content/Book1.csv")
  ad_df.show()
  logging.info("successfully created")

func()

INFO:root:successfully created

+--------------------+
|             address|
+--------------------+
|       D/O New Delhi|
|C\O Tarun123 New ...|
|C//O Tarun â‚¹ New ...|
+--------------------+

In [11]:
def my_function():
    try:
        # Your PySpark code here
        logging.info("Operation successful")
    except Exception as e:
        logging.error(f"An error occurred: {str(e)}")

my_function()

INFO:root:Operation successful

In [6]:
my_function()