In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz
!tar xf spark-3.1.1-bin-hadoop3.2.tgz
!pip install -q findspark
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
spark

In [ ]:
df=spark.createDataFrame([['1','2','3','4']])
df.show()

+---+---+---+---+
| _1| _2| _3| _4|
+---+---+---+---+
|  1|  2|  3|  4|
+---+---+---+---+

In [ ]:
sc=spark.sparkContext
df = sc.parallelize([2,3,4,5,6])
df.collect()

[2, 3, 4, 5, 6]

In [ ]:
ss=spark.read.option("header","True").csv("/content/sample_data/mnist_test.csv")
ss.show()

+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+---+---+---+---+---+---+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+---+------+------+------+------+---+------+------+------+------+------+------+------+------+---+-----+----+----+----+----+----+----+----+----+----+----+----+----+-----+------+---+------+---+---+------+---+------+------+------+---+---+------+------+---+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+---+---+---+-----+-----+-----+-----+---+---+------+---+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+-----+---+---+-----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+---+---+---+-----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+---+------+---+---+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+-----+---+------+---+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+------+------+---+---+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+---+---+---+---+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+---+------+---+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+---+---+---+---+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+---+---+------+---+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+---+---+------+------+---+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+---+------+------+---+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+---+---+------+---+---+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+------+------+------+-----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+---+---+------+------+-----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+------+------+------+------+---+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+------+------+---+-----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+
|  7| 01| 02| 03| 04| 05| 06| 07| 08| 09|010|011|012|013|014|015|016|017|018|019|020|021|022|023|024|025|026|027|028|029|030|031|032|033|034|035|036|037|038|039|040|041|042|043|044|045|046|047|048|049|050|051|052|053|054|055|056|057|058|059|060|061|062|063|064|065|066|067|068|069|070|071|072|073|074|075|076|077|078|079|080|081|082|083|084|085|086|087|088|089|090|091|092|093|094|095|096|097|098|099|0100|0101|0102|0103|0104|0105|0106|0107|0108|0109|0110|0111|0112|0113|0114|0115|0116|0117|0118|0119|0120|0121|0122|0123|0124|0125|0126|0127|0128|0129|0130|0131|0132|0133|0134|0135|0136|0137|0138|0139|0140|0141|0142|0143|0144|0145|0146|0147|0148|0149|0150|0151|0152|0153|0154|0155|0156|0157|0158|0159|0160|0161|0162|0163|0164|0165|0166|0167|0168|0169|0170|0171|0172|0173|0174|0175|0176|0177|0178|0179|0180|0181|0182|0183|0184|0185|0186|0187|0188|0189|0190|0191|0192|0193|0194|0195|0196|0197|0198|0199|0200|0201|0202| 84|185|159|151| 60| 36|0209|0210|0211|0212|0213|0214|0215|0216|0217|0218|0219|0220|0221|0222|0223|0224|0225|0226|0227|0228|0229|0230|222|254232|254233|254234|254235|241|198237|198238|198239|198240|198241|198242|198243|198244|170|52246|0247|0248|0249|0250|0251|0252|0253|0254|0255|0256|0257|0258|67259|114260| 72|114262|163|227|254265|225|254267|254268|254269|250|229|254272|254273|140|0275|0276|0277|0278|0279|0280|0281|0282|0283|0284|0285|0286|0287|0288|0289|0290|0291| 17| 66| 14|67295|67296|67297|59298| 21|236|254301|106|0303|0304|0305|0306|0307|0308|0309|0310|0311|0312|0313|0314|0315|0316|0317|0318|0319|0320|0321|0322|0323|0324|0325|0326|83327|253|209|18330|0331|0332|0333|0334|0335|0336|0337|0338|0339|0340|0341|0342|0343|0344|0345|0346|0347|0348|0349|0350|0351|0352|0353| 22|233|255|83357|0358|0359|0360|0361|0362|0363|0364|0365|0366|0367|0368|0369|0370|0371|0372|0373|0374|0375|0376|0377|0378|0379|0380|0381|129|254383|238| 44|0386|0387|0388|0389|0390|0391|0392|0393|0394|0395|0396|0397|0398|0399|0400|0401|0402|0403|0404|0405|0406|0407|0408|59409|249|254411| 62|0413|0414|0415|0416|0417|0418|0419|0420|0421|0422|0423|0424|0425|0426|0427|0428|0429|0430|0431|0432|0433|0434|0435|0436|133437|254438|187|  5|0441|0442|0443|0444|0445|0446|0447|0448|0449|0450|0451|0452|0453|0454|0455|0456|0457|0458|0459|0460|0461|0462|0463|  9|205|248| 58|0468|0469|0470|0471|0472|0473|0474|0475|0476|0477|0478|0479|0480|0481|0482|0483|0484|0485|0486|0487|0488|0489|0490|0491|126|254493|182|0495|0496|0497|0498|0499|0500|0501|0502|0503|0504|0505|0506|0507|0508|0509|0510|0511|0512|0513|0514|0515|0516|0517|0518| 75|251|240| 57|0523|0524|0525|0526|0527|0528|0529|0530|0531|0532|0533|0534|0535|0536|0537|0538|0539|0540|0541|0542|0543|0544|0545| 19|221|254548|166|0550|0551|0552|0553|0554|0555|0556|0557|0558|0559|0560|0561|0562|0563|0564|0565|0566|0567|0568|0569|0570|0571|0572|  3|203|254575|219576| 35|0578|0579|0580|0581|0582|0583|0584|0585|0586|0587|0588|0589|0590|0591|0592|0593|0594|0595|0596|0597|0598|0599|0600| 38|254602|254603| 77|0605|0606|0607|0608|0609|0610|0611|0612|0613|0614|0615|0616|0617|0618|0619|0620|0621|0622|0623|0624|0625|0626|0627| 31|224|254630|115|  1|0633|0634|0635|0636|0637|0638|0639|0640|0641|0642|0643|0644|0645|0646|0647|0648|0649|0650|0651|0652|0653|0654|0655|133656|254657|254658|52659|0660|0661|0662|0663|0664|0665|0666|0667|0668|0669|0670|0671|0672|0673|0674|0675|0676|0677|0678|0679|0680|0681|0682| 61|242|254685|254686|52687|0688|0689|0690|0691|0692|0693|0694|0695|0696|0697|0698|0699|0700|0701|0702|0703|0704|0705|0706|0707|0708|0709|0710|121711|254712|254713|219714| 40|0716|0717|0718|0719|0720|0721|0722|0723|0724|0725|0726|0727|0728|0729|0730|0731|0732|0733|0734|0735|0736|0737|0738|121739|254740|207|18742|0743|0744|0745|0746|0747|0748|0749|0750|0751|0752|0753|0754|0755|0756|0757|0758|0759|0760|0761|0762|0763|0764|0765|0766|0767|0768|0769|0770|0771|0772|0773|0774|0775|0776|0777|0778|0779|0780|0781|0782|0783|0784|
+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+---+---+---+---+---+---+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+---+------+------+------+------+---+------+------+------+------+------+------+------+------+---+-----+----+----+----+----+----+----+----+----+----+----+----+----+-----+------+---+------+---+---+------+---+------+------+------+---+---+------+------+---+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+---+---+---+-----+-----+-----+-----+---+---+------+---+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+-----+---+---+-----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+---+---+---+-----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+---+------+---+---+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+-----+---+------+---+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+------+------+---+---+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+---+---+---+---+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+---+------+---+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+---+---+---+---+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+---+---+------+---+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+---+---+------+------+---+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+---+------+------+---+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+---+---+------+---+---+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+------+------+------+-----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+---+---+------+------+-----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+------+------+------+------+---+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+------+------+---+-----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+
|  2|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|116|125|171|255|255| 150|  93|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0| 169| 253| 253| 253| 253| 253| 253| 218|  30|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0| 169| 253| 253| 253| 213| 142| 176| 253| 253| 122|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|  52| 250| 253| 210|  32|  12|   0|   6| 206| 253| 140|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|  0| 77|251|210| 25|  0|   0|   0| 122| 248| 253|  65|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|  0|     0|    31|    18|     0|  0|     0|     0|   209|   253|   253|    65|     0|     0|  0|    0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|    0|     0|  0|     0|  0|  0|     0|117|   247|   253|   198| 10|  0|     0|     0|  0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|  0| 76|247|  253|  231|   63|    0|  0|  0|     0|  0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0| 128| 253| 253| 144|   0|   0|    0|  0|  0|    0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0| 176| 246| 253| 159|  12|   0|  0|  0|  0|    0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|  25| 234| 253| 233|  35|   0|   0|  0|     0|  0|  0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0| 198| 253| 253| 141|   0|   0|    0|  0|     0|  0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|  78| 248| 253| 189|  12|   0|   0|     0|     0|  0|  0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|  19| 200| 253| 253| 141|   0|   0|  0|  0|  0|  0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0| 134| 253| 253| 173|  12|   0|   0|  0|     0|  0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0| 248| 253| 253|  25|   0|   0|  0|  0|  0|  0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0| 248| 253| 253|  43|  20| 20| 20|    20|  5|   0|   5|  20|  20|  37| 150| 150| 150| 147|  10|   0|   0|   0|   0|   0|   0|   0|   0|   0| 248| 253| 253| 253|253|253|   253|   253|168| 143| 166| 253| 253| 253| 253| 253| 253| 253| 123|   0|   0|   0|   0|   0|   0|   0|   0|   0| 174| 253| 253| 253|253|   253|   253|253| 253| 253| 253| 253| 249| 247| 247| 169| 117| 117|  57|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0| 118| 123|123|123|   166|253|253| 253| 155| 123| 123|  41|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|     0|     0|     0|    0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|  0|  0|     0|     0|    0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|     0|     0|     0|     0|  0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|     0|     0|  0|    0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|
|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|  38| 254| 109|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|  87| 252|  82|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0| 135| 241|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|  0|  0|  0|  0|  0|  0|   0|   0|   0|  45| 244| 150|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|  0|     0|     0|     0|     0|  0|     0|     0|     0|    84|   254|    63|     0|     0|  0|    0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|    0|     0|  0|     0|  0|  0|     0|  0|     0|   202|   223| 11|  0|     0|     0|  0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|  0|  0|  0|   32|  254|  216|    0|  0|  0|     0|  0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|  95| 254| 195|   0|    0|  0|  0|    0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0| 140| 254|  77|  0|  0|  0|    0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|  57| 237| 205|   8|  0|     0|  0|  0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0| 124| 255| 165|    0|  0|     0|  0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0| 171| 254|  81|     0|     0|  0|  0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|  24| 232| 215|  0|  0|  0|  0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0| 120| 254| 159|  0|     0|  0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0| 151| 254|142|  0|  0|  0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0| 228|254| 66|     0|  0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|  61|251|254|    66|     0|  0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0| 141|254|   205|     3|  0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|  10|215|254|   121|  0|  0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   5|   198|   176|    10|    0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|  0|  0|     0|     0|    0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|     0|     0|     0|     0|  0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|     0|     0|  0|    0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|

In [ ]:
ss=spark.read.option("delimiter","|").option("header","True").option("inferschema","True").csv("name.csv")
ss.show()
ss.printSchema()

+---------+----+-----+
|     Name|e_id|value|
+---------+----+-----+
|Tarandeep| e20|   20|
|     Yash| e10|   10|
+---------+----+-----+

root
 |-- Name: string (nullable = true)
 |-- e_id: string (nullable = true)
 |-- value: integer (nullable = true)

In [ ]:
pq=spark.read.parquet("MT cars.parquet")
pq.show()
pq.printSchema()

+-------------------+----+---+-----+---+----+-----+-----+---+---+----+----+
|              model| mpg|cyl| disp| hp|drat|   wt| qsec| vs| am|gear|carb|
+-------------------+----+---+-----+---+----+-----+-----+---+---+----+----+
|          Mazda RX4|21.0|  6|160.0|110| 3.9| 2.62|16.46|  0|  1|   4|   4|
|      Mazda RX4 Wag|21.0|  6|160.0|110| 3.9|2.875|17.02|  0|  1|   4|   4|
|         Datsun 710|22.8|  4|108.0| 93|3.85| 2.32|18.61|  1|  1|   4|   1|
|     Hornet 4 Drive|21.4|  6|258.0|110|3.08|3.215|19.44|  1|  0|   3|   1|
|  Hornet Sportabout|18.7|  8|360.0|175|3.15| 3.44|17.02|  0|  0|   3|   2|
|            Valiant|18.1|  6|225.0|105|2.76| 3.46|20.22|  1|  0|   3|   1|
|         Duster 360|14.3|  8|360.0|245|3.21| 3.57|15.84|  0|  0|   3|   4|
|          Merc 240D|24.4|  4|146.7| 62|3.69| 3.19| 20.0|  1|  0|   4|   2|
|           Merc 230|22.8|  4|140.8| 95|3.92| 3.15| 22.9|  1|  0|   4|   2|
|           Merc 280|19.2|  6|167.6|123|3.92| 3.44| 18.3|  1|  0|   4|   4|
|          Merc 280C|17.8|  6|167.6|123|3.92| 3.44| 18.9|  1|  0|   4|   4|
|         Merc 450SE|16.4|  8|275.8|180|3.07| 4.07| 17.4|  0|  0|   3|   3|
|         Merc 450SL|17.3|  8|275.8|180|3.07| 3.73| 17.6|  0|  0|   3|   3|
|        Merc 450SLC|15.2|  8|275.8|180|3.07| 3.78| 18.0|  0|  0|   3|   3|
| Cadillac Fleetwood|10.4|  8|472.0|205|2.93| 5.25|17.98|  0|  0|   3|   4|
|Lincoln Continental|10.4|  8|460.0|215| 3.0|5.424|17.82|  0|  0|   3|   4|
|  Chrysler Imperial|14.7|  8|440.0|230|3.23|5.345|17.42|  0|  0|   3|   4|
|           Fiat 128|32.4|  4| 78.7| 66|4.08|  2.2|19.47|  1|  1|   4|   1|
|        Honda Civic|30.4|  4| 75.7| 52|4.93|1.615|18.52|  1|  1|   4|   2|
|     Toyota Corolla|33.9|  4| 71.1| 65|4.22|1.835| 19.9|  1|  1|   4|   1|
+-------------------+----+---+-----+---+----+-----+-----+---+---+----+----+
only showing top 20 rows

root
 |-- model: string (nullable = true)
 |-- mpg: double (nullable = true)
 |-- cyl: integer (nullable = true)
 |-- disp: double (nullable = true)
 |-- hp: integer (nullable = true)
 |-- drat: double (nullable = true)
 |-- wt: double (nullable = true)
 |-- qsec: double (nullable = true)
 |-- vs: integer (nullable = true)
 |-- am: integer (nullable = true)
 |-- gear: integer (nullable = true)
 |-- carb: integer (nullable = true)

In [ ]:
from pyspark.sql import functions as F
from pyspark.sql.window import Window
# Create SparkSession
spark = SparkSession.builder \
    .appName("Average, Mean, Sum with Partition") \
    .getOrCreate()

# Sample data
data = [("A", 10), ("A", 20), ("B", 30), ("B", 40), ("B", 50)]

df = spark.createDataFrame(data, ["cyl", "hp"])

# Define window partitioned by 'cyl'
window_spec = Window.partitionBy("cyl")

# Calculate average, min, max, and sum using window functions
wdfn = df.withColumn("avg", F.avg("hp").over(window_spec)) \
    .withColumn("min", F.min("hp").over(window_spec)) \
    .withColumn("max", F.max("hp").over(window_spec)) \
    .withColumn("sum", F.sum("hp").over(window_spec))

# Show result
wdfn.show()
wdfn.select('cyl','sum').dropDuplicates().show()

+---+---+----+---+---+---+
|cyl| hp| avg|min|max|sum|
+---+---+----+---+---+---+
|  B| 30|40.0| 30| 50|120|
|  B| 40|40.0| 30| 50|120|
|  B| 50|40.0| 30| 50|120|
|  A| 10|15.0| 10| 20| 30|
|  A| 20|15.0| 10| 20| 30|
+---+---+----+---+---+---+

+---+---+
|cyl|sum|
+---+---+
|  B|120|
|  A| 30|
+---+---+

In [ ]:
wdfn

DataFrame[cyl: string, hp: bigint, avg: double, min: bigint, max: bigint, sum: bigint]

In [ ]:
from re import MULTILINE
readjson=spark.read.options(MULTILINE=True).json('sample.json')
readjson.show()
readjson.printSchema()

+--------+------------------+------------------+-------------------+
|Adddress|   Job_Description|              Name|             Skills|
+--------+------------------+------------------+-------------------+
|Varanasi|Software Developer|{Tarandeep, Singh}|[Python, Java, SQL]|
| Mathura|Software Developer| {Yatendra, Kumar}|     [Python, Java]|
+--------+------------------+------------------+-------------------+

root
 |-- Adddress: string (nullable = true)
 |-- Job_Description: string (nullable = true)
 |-- Name: struct (nullable = true)
 |    |-- First: string (nullable = true)
 |    |-- Last: string (nullable = true)
 |-- Skills: array (nullable = true)
 |    |-- element: string (containsNull = true)

In [ ]:
newl=spark.sparkContext.textFile('/content/sample_data/california_housing_train.csv')
newl.collect()

['"longitude","latitude","housing_median_age","total_rooms","total_bedrooms","population","households","median_income","median_house_value"',
 '-114.310000,34.190000,15.000000,5612.000000,1283.000000,1015.000000,472.000000,1.493600,66900.000000',
 '-114.470000,34.400000,19.000000,7650.000000,1901.000000,1129.000000,463.000000,1.820000,80100.000000',
 '-114.560000,33.690000,17.000000,720.000000,174.000000,333.000000,117.000000,1.650900,85700.000000',
 '-114.570000,33.640000,14.000000,1501.000000,337.000000,515.000000,226.000000,3.191700,73400.000000',
 '-114.570000,33.570000,20.000000,1454.000000,326.000000,624.000000,262.000000,1.925000,65500.000000',
 '-114.580000,33.630000,29.000000,1387.000000,236.000000,671.000000,239.000000,3.343800,74000.000000',
 '-114.580000,33.610000,25.000000,2907.000000,680.000000,1841.000000,633.000000,2.676800,82400.000000',
 '-114.590000,34.830000,41.000000,812.000000,168.000000,375.000000,158.000000,1.708300,48500.000000',
 '-114.590000,33.610000,34.000000,4789.000000,1175.000000,3134.000000,1056.000000,2.178200,58400.000000',
 '-114.600000,34.830000,46.000000,1497.000000,309.000000,787.000000,271.000000,2.190800,48100.000000',
 '-114.600000,33.620000,16.000000,3741.000000,801.000000,2434.000000,824.000000,2.679700,86500.000000',
 '-114.600000,33.600000,21.000000,1988.000000,483.000000,1182.000000,437.000000,1.625000,62000.000000',
 '-114.610000,34.840000,48.000000,1291.000000,248.000000,580.000000,211.000000,2.157100,48600.000000',
 '-114.610000,34.830000,31.000000,2478.000000,464.000000,1346.000000,479.000000,3.212000,70400.000000',
 '-114.630000,32.760000,15.000000,1448.000000,378.000000,949.000000,300.000000,0.858500,45000.000000',
 '-114.650000,34.890000,17.000000,2556.000000,587.000000,1005.000000,401.000000,1.699100,69100.000000',
 '-114.650000,33.600000,28.000000,1678.000000,322.000000,666.000000,256.000000,2.965300,94900.000000',
 '-114.650000,32.790000,21.000000,44.000000,33.000000,64.000000,27.000000,0.857100,25000.000000',
 '-114.660000,32.740000,17.000000,1388.000000,386.000000,775.000000,320.000000,1.204900,44000.000000',
 '-114.670000,33.920000,17.000000,97.000000,24.000000,29.000000,15.000000,1.265600,27500.000000',
 '-114.680000,33.490000,20.000000,1491.000000,360.000000,1135.000000,303.000000,1.639500,44400.000000',
 '-114.730000,33.430000,24.000000,796.000000,243.000000,227.000000,139.000000,0.896400,59200.000000',
 '-114.940000,34.550000,20.000000,350.000000,95.000000,119.000000,58.000000,1.625000,50000.000000',
 '-114.980000,33.820000,15.000000,644.000000,129.000000,137.000000,52.000000,3.209700,71300.000000',
 '-115.220000,33.540000,18.000000,1706.000000,397.000000,3424.000000,283.000000,1.625000,53500.000000',
 '-115.320000,32.820000,34.000000,591.000000,139.000000,327.000000,89.000000,3.652800,100000.000000',
 '-115.370000,32.820000,30.000000,1602.000000,322.000000,1130.000000,335.000000,3.573500,71100.000000',
 '-115.370000,32.820000,14.000000,1276.000000,270.000000,867.000000,261.000000,1.937500,80900.000000',
 '-115.370000,32.810000,32.000000,741.000000,191.000000,623.000000,169.000000,1.760400,68600.000000',
 '-115.370000,32.810000,23.000000,1458.000000,294.000000,866.000000,275.000000,2.359400,74300.000000',
 '-115.380000,32.820000,38.000000,1892.000000,394.000000,1175.000000,374.000000,1.993900,65800.000000',
 '-115.380000,32.810000,35.000000,1263.000000,262.000000,950.000000,241.000000,1.895800,67500.000000',
 '-115.390000,32.760000,16.000000,1136.000000,196.000000,481.000000,185.000000,6.255800,146300.000000',
 '-115.400000,32.860000,19.000000,1087.000000,171.000000,649.000000,173.000000,3.318200,113800.000000',
 '-115.400000,32.700000,19.000000,583.000000,113.000000,531.000000,134.000000,1.683800,95800.000000',
 '-115.410000,32.990000,29.000000,1141.000000,220.000000,684.000000,194.000000,3.403800,107800.000000',
 '-115.460000,33.190000,33.000000,1234.000000,373.000000,777.000000,298.000000,1.000000,40000.000000',
 '-115.480000,32.800000,21.000000,1260.000000,246.000000,805.000000,239.000000,2.617200,88500.000000',
 '-115.480000,32.680000,15.000000,3414.000000,666.000000,2097.000000,622.000000,2.331900,91200.000000',
 '-115.490000,32.870000,19.000000,541.000000,104.000000,457.000000,106.000000,3.358300,102800.000000',
 '-115.490000,32.690000,17.000000,1960.000000,389.000000,1691.000000,356.000000,1.899000,64000.000000',
 '-115.490000,32.670000,29.000000,1523.000000,440.000000,1302.000000,393.000000,1.131100,84700.000000',
 '-115.490000,32.670000,25.000000,2322.000000,573.000000,2185.000000,602.000000,1.375000,70100.000000',
 '-115.500000,32.750000,13.000000,330.000000,72.000000,822.000000,64.000000,3.410700,142500.000000',
 '-115.500000,32.680000,18.000000,3631.000000,913.000000,3565.000000,924.000000,1.593100,88400.000000',
 '-115.500000,32.670000,35.000000,2159.000000,492.000000,1694.000000,475.000000,2.177600,75500.000000',
 '-115.510000,33.240000,32.000000,1995.000000,523.000000,1069.000000,410.000000,1.655200,43300.000000',
 '-115.510000,33.120000,21.000000,1024.000000,218.000000,890.000000,232.000000,2.101000,46700.000000',
 '-115.510000,32.990000,20.000000,1402.000000,287.000000,1104.000000,317.000000,1.908800,63700.000000',
 '-115.510000,32.680000,11.000000,2872.000000,610.000000,2644.000000,581.000000,2.625000,72700.000000',
 '-115.520000,34.220000,30.000000,540.000000,136.000000,122.000000,63.000000,1.333300,42500.000000',
 '-115.520000,33.130000,18.000000,1109.000000,283.000000,1006.000000,253.000000,2.163000,53400.000000',
 '-115.520000,33.120000,38.000000,1327.000000,262.000000,784.000000,231.000000,1.879300,60800.000000',
 '-115.520000,32.980000,32.000000,1615.000000,382.000000,1307.000000,345.000000,1.458300,58600.000000',
 '-115.520000,32.970000,24.000000,1617.000000,366.000000,1416.000000,401.000000,1.975000,66400.000000',
 '-115.520000,32.970000,10.000000,1879.000000,387.000000,1376.000000,337.000000,1.991100,67500.000000',
 '-115.520000,32.770000,18.000000,1715.000000,337.000000,1166.000000,333.000000,2.241700,79200.000000',
 '-115.520000,32.730000,17.000000,1190.000000,275.000000,1113.000000,258.000000,2.357100,63100.000000',
 '-115.520000,32.670000,6.000000,2804.000000,581.000000,2807.000000,594.000000,2.062500,67700.000000',
 '-115.530000,34.910000,12.000000,807.000000,199.000000,246.000000,102.000000,2.539100,40000.000000',
 '-115.530000,32.990000,25.000000,2578.000000,634.000000,2082.000000,565.000000,1.715900,62200.000000',
 '-115.530000,32.970000,35.000000,1583.000000,340.000000,933.000000,318.000000,2.406300,70700.000000',
 '-115.530000,32.970000,34.000000,2231.000000,545.000000,1568.000000,510.000000,1.521700,60300.000000',
 '-115.530000,32.730000,14.000000,1527.000000,325.000000,1453.000000,332.000000,1.735000,61200.000000',
 '-115.540000,32.990000,23.000000,1459.000000,373.000000,1148.000000,388.000000,1.537200,69400.000000',
 '-115.540000,32.990000,17.000000,1697.000000,268.000000,911.000000,254.000000,4.352300,96000.000000',
 '-115.540000,32.980000,27.000000,1513.000000,395.000000,1121.000000,381.000000,1.946400,60600.000000',
 '-115.540000,32.970000,41.000000,2429.000000,454.000000,1188.000000,430.000000,3.009100,70800.000000',
 '-115.540000,32.790000,23.000000,1712.000000,403.000000,1370.000000,377.000000,1.275000,60400.000000',
 '-115.550000,32.980000,33.000000,2266.000000,365.000000,952.000000,360.000000,5.434900,143000.000000',
 '-115.550000,32.980000,24.000000,2565.000000,530.000000,1447.000000,473.000000,3.259300,80800.000000',
 '-115.550000,32.820000,34.000000,1540.000000,316.000000,1013.000000,274.000000,2.566400,67500.000000',
 '-115.550000,32.800000,23.000000,666.000000,142.000000,580.000000,160.000000,2.113600,61000.000000',
 '-115.550000,32.790000,23.000000,1004.000000,221.000000,697.000000,201.000000,1.635100,59600.000000',
 '-115.550000,32.790000,22.000000,565.000000,162.000000,692.000000,141.000000,1.208300,53600.000000',
 '-115.550000,32.780000,5.000000,2652.000000,606.000000,1767.000000,536.000000,2.802500,84300.000000',
 '-115.560000,32.960000,21.000000,2164.000000,480.000000,1164.000000,421.000000,3.817700,107200.000000',
 '-115.560000,32.800000,28.000000,1672.000000,416.000000,1335.000000,397.000000,1.598700,59400.000000',
 '-115.560000,32.800000,25.000000,1311.000000,375.000000,1193.000000,351.000000,2.197900,63900.000000',
 '-115.560000,32.800000,15.000000,1171.000000,328.000000,1024.000000,298.000000,1.388200,69400.000000',
 '-115.560000,32.790000,20.000000,2372.000000,835.000000,2283.000000,767.000000,1.170700,62500.000000',
 '-115.560000,32.790000,18.000000,1178.000000,438.000000,1377.000000,429.000000,1.337300,58300.000000',
 '-115.560000,32.780000,46.000000,2511.000000,490.000000,1583.000000,469.000000,3.060300,70800.000000',
 '-115.560000,32.780000,35.000000,1185.000000,202.000000,615.000000,191.000000,4.615400,86200.000000',
 '-115.560000,32.780000,29.000000,1568.000000,283.000000,848.000000,245.000000,3.159700,76200.000000',
 '-115.560000,32.760000,15.000000,1278.000000,217.000000,653.000000,185.000000,4.482100,140300.000000',
 '-115.570000,32.850000,33.000000,1365.000000,269.000000,825.000000,250.000000,3.239600,62300.000000',
 '-115.570000,32.850000,17.000000,1039.000000,256.000000,728.000000,246.000000,1.741100,63500.000000',
 '-115.570000,32.840000,29.000000,1207.000000,301.000000,804.000000,288.000000,1.953100,61100.000000',
 '-115.570000,32.830000,31.000000,1494.000000,289.000000,959.000000,284.000000,3.528200,67500.000000',
 '-115.570000,32.800000,16.000000,2276.000000,594.000000,1184.000000,513.000000,1.875000,93800.000000',
 '-115.570000,32.790000,34.000000,1152.000000,208.000000,621.000000,208.000000,3.604200,73600.000000',
 '-115.570000,32.780000,20.000000,1534.000000,235.000000,871.000000,222.000000,6.271500,97200.000000',
 '-115.570000,32.780000,15.000000,1413.000000,279.000000,803.000000,277.000000,4.302100,87500.000000',
 '-115.580000,33.880000,21.000000,1161.000000,282.000000,724.000000,186.000000,3.182700,71700.000000',
 '-115.580000,32.810000,5.000000,805.000000,143.000000,458.000000,143.000000,4.475000,96300.000000',
 '-115.580000,32.810000,10.000000,1088.000000,203.000000,533.000000,201.000000,3.659700,87500.000000',
 '-115.580000,32.790000,14.000000,1687.000000,507.000000,762.000000,451.000000,1.663500,64400.000000',
 '-115.580000,32.780000,5.000000,2494.000000,414.000000,1416.000000,421.000000,5.784300,110100.000000',
 '-115.590000,32.850000,20.000000,1608.000000,274.000000,862.000000,248.000000,4.875000,90800.000000',
 '-115.590000,32.790000,8.000000,2183.000000,307.000000,1000.000000,287.000000,6.381400,159900.000000',
 '-115.590000,32.690000,30.000000,935.000000,177.000000,649.000000,148.000000,2.576900,94400.000000',
 '-115.600000,33.200000,37.000000,709.000000,187.000000,390.000000,142.000000,2.451100,72500.000000',
 '-115.600000,32.870000,3.000000,1629.000000,317.000000,1005.000000,312.000000,4.129300,83200.000000',
 '-115.620000,33.040000,20.000000,1121.000000,244.000000,766.000000,230.000000,2.296900,62000.000000',
 '-115.620000,33.040000,17.000000,1009.000000,231.000000,745.000000,217.000000,2.046300,61200.000000',
 '-115.640000,32.800000,23.000000,1228.000000,235.000000,569.000000,235.000000,3.166700,125000.000000',
 '-115.690000,32.790000,18.000000,1564.000000,340.000000,1161.000000,343.000000,2.179200,55200.000000',
 '-115.720000,32.750000,16.000000,348.000000,99.000000,123.000000,54.000000,2.093800,87500.000000',
 '-115.730000,33.360000,19.000000,749.000000,238.000000,476.000000,169.000000,1.772700,50000.000000',
 '-115.730000,33.350000,23.000000,1586.000000,448.000000,338.000000,182.000000,1.213200,30000.000000',
 '-115.730000,33.090000,27.000000,452.000000,103.000000,258.000000,61.000000,2.900000,87500.000000',
 '-115.730000,32.800000,44.000000,472.000000,81.000000,206.000000,57.000000,2.208300,93800.000000',
 '-115.800000,33.260000,2.000000,96.000000,18.000000,30.000000,16.000000,5.337400,47500.000000',
 '-115.840000,33.490000,20.000000,1660.000000,379.000000,637.000000,250.000000,2.034700,68900.000000',
 '-115.850000,34.200000,34.000000,3868.000000,1257.000000,890.000000,423.000000,1.357100,41000.000000',
 '-115.880000,32.930000,15.000000,208.000000,49.000000,51.000000,20.000000,4.020800,32500.000000',
 '-115.900000,33.340000,19.000000,1210.000000,248.000000,329.000000,155.000000,1.785700,62800.000000',
 '-115.910000,33.360000,15.000000,459.000000,95.000000,160.000000,73.000000,0.922000,67500.000000',
 '-115.930000,35.550000,18.000000,1321.000000,272.000000,754.000000,226.000000,3.402800,67500.000000',
 '-115.940000,33.380000,5.000000,186.000000,43.000000,41.000000,21.000000,2.700000,58800.000000',
 '-115.950000,33.280000,12.000000,99.000000,25.000000,37.000000,17.000000,1.895800,53800.000000',
 '-115.960000,33.300000,27.000000,322.000000,81.000000,112.000000,57.000000,1.125000,54400.000000',
 '-115.980000,33.320000,8.000000,240.000000,46.000000,63.000000,24.000000,1.468800,53800.000000',
 '-115.990000,33.400000,15.000000,1945.000000,536.000000,515.000000,273.000000,2.010900,54300.000000',
 '-116.000000,33.190000,16.000000,245.000000,57.000000,81.000000,33.000000,1.263900,51300.000000',
 '-116.000000,32.740000,26.000000,1134.000000,280.000000,329.000000,158.000000,1.433800,43900.000000',
 '-116.010000,33.510000,24.000000,2985.000000,958.000000,4042.000000,905.000000,1.734400,66400.000000',
 '-116.010000,33.410000,20.000000,1996.000000,515.000000,659.000000,295.000000,2.868400,62800.000000',
 '-116.020000,34.180000,8.000000,569.000000,97.000000,312.000000,96.000000,4.302100,94500.000000',
 '-116.050000,34.120000,19.000000,301.000000,65.000000,150.000000,56.000000,3.125000,65600.000000',
 '-116.050000,33.330000,17.000000,290.000000,94.000000,135.000000,57.000000,1.729200,81300.000000',
 '-116.060000,34.200000,29.000000,1202.000000,290.000000,383.000000,156.000000,1.337100,66900.000000',
 '-116.060000,34.150000,15.000000,10377.000000,2331.000000,4507.000000,1807.000000,2.246600,66800.000000',
 '-116.080000,33.860000,16.000000,381.000000,89.000000,182.000000,75.000000,2.425000,76100.000000',
 '-116.090000,34.150000,13.000000,9444.000000,1997.000000,4166.000000,1482.000000,2.611100,65600.000000',
 '-116.110000,33.640000,20.000000,1273.000000,354.000000,1548.000000,355.000000,2.087100,84700.000000',
 '-116.120000,33.530000,17.000000,2421.000000,820.000000,2971.000000,685.000000,1.654000,100000.000000',
 '-116.140000,34.220000,32.000000,3298.000000,1228.000000,763.000000,360.000000,1.875000,47800.000000',
 '-116.150000,34.140000,18.000000,3312.000000,705.000000,1251.000000,512.000000,3.013900,82600.000000',
 '-116.150000,33.690000,22.000000,197.000000,54.000000,331.000000,70.000000,2.928600,112500.000000',
 '-116.150000,33.640000,10.000000,1711.000000,499.000000,1896.000000,443.000000,1.655700,65400.000000',
 '-116.160000,33.680000,12.000000,1230.000000,277.000000,1334.000000,260.000000,2.267900,61400.000000',
 '-116.170000,33.670000,18.000000,3585.000000,800.000000,3873.000000,788.000000,2.571400,65900.000000',
 '-116.170000,33.660000,22.000000,639.000000,203.000000,664.000000,153.000000,1.930600,47500.000000',
 '-116.170000,33.530000,13.000000,1713.000000,512.000000,1978.000000,442.000000,2.128700,58600.000000',
 '-116.180000,33.690000,17.000000,89.000000,19.000000,79.000000,21.000000,2.375000,155000.000000',
 '-116.180000,33.670000,25.000000,2888.000000,654.000000,2940.000000,660.000000,2.214100,66700.000000',
 '-116.190000,33.670000,16.000000,1859.000000,476.000000,1994.000000,477.000000,1.729700,67500.000000',
 '-116.200000,33.700000,26.000000,2399.000000,625.000000,2654.000000,535.000000,2.298900,60600.000000',
 '-116.200000,33.630000,23.000000,1152.000000,273.000000,1077.000000,235.000000,2.500000,96300.000000',
 '-116.200000,32.640000,28.000000,1608.000000,409.000000,567.000000,254.000000,1.464800,61800.000000',
 '-116.210000,33.750000,22.000000,894.000000,192.000000,830.000000,202.000000,3.067300,68200.000000',
 '-116.210000,33.720000,28.000000,2488.000000,714.000000,2891.000000,676.000000,2.316900,68900.000000',
 '-116.210000,33.710000,19.000000,3114.000000,787.000000,3157.000000,772.000000,1.708300,82200.000000',
 '-116.210000,33.680000,34.000000,584.000000,176.000000,625.000000,166.000000,1.580900,100000.000000',
 '-116.210000,33.660000,19.000000,1596.000000,295.000000,1201.000000,282.000000,3.884600,100900.000000',
 '-116.220000,36.000000,14.000000,1372.000000,386.000000,436.000000,213.000000,1.147100,32900.000000',
 '-116.220000,34.210000,23.000000,1175.000000,468.000000,355.000000,151.000000,2.208300,42500.000000',
 '-116.220000,33.740000,26.000000,4120.000000,858.000000,2918.000000,815.000000,3.310700,69400.000000',
 '-116.220000,33.730000,38.000000,1695.000000,352.000000,1279.000000,305.000000,2.121700,68500.000000',
 '-116.220000,33.720000,28.000000,826.000000,258.000000,979.000000,245.000000,1.717200,58800.000000',
 '-116.220000,33.700000,9.000000,3861.000000,849.000000,825.000000,401.000000,3.283300,124700.000000',
 '-116.230000,33.730000,29.000000,1133.000000,221.000000,918.000000,239.000000,2.864800,72100.000000',
 '-116.230000,33.720000,32.000000,4981.000000,1326.000000,3779.000000,1186.000000,1.780500,76900.000000',
 '-116.230000,33.710000,17.000000,4874.000000,1349.000000,5032.000000,1243.000000,2.444000,90000.000000',
 '-116.240000,33.730000,14.000000,2774.000000,566.000000,1530.000000,505.000000,3.068200,104100.000000',
 '-116.240000,33.720000,25.000000,5236.000000,1039.000000,2725.000000,935.000000,3.775000,93400.000000',
 '-116.240000,33.710000,10.000000,9033.000000,2224.000000,5525.000000,1845.000000,2.759800,95000.000000',
 '-116.250000,33.810000,24.000000,880.000000,187.000000,507.000000,169.000000,3.458300,67500.000000',
 '-116.250000,33.750000,33.000000,278.000000,91.000000,375.000000,81.000000,2.025000,50000.000000',
 '-116.250000,33.690000,5.000000,1664.000000,444.000000,907.000000,374.000000,2.766700,92900.000000',
 '-116.260000,33.650000,3.000000,7437.000000,1222.000000,574.000000,302.000000,10.294800,382400.000000',
 '-116.260000,33.070000,17.000000,934.000000,284.000000,452.000000,184.000000,1.987500,83700.000000',
 '-116.270000,34.130000,37.000000,452.000000,109.000000,184.000000,59.000000,3.729200,65800.000000',
 '-116.290000,33.740000,6.000000,12991.000000,2555.000000,4571.000000,1926.000000,4.719500,199300.000000',
 '-116.290000,33.720000,5.000000,3584.000000,760.000000,1097.000000,470.000000,3.177100,167400.000000',
 '-116.300000,33.680000,10.000000,2387.000000,481.000000,863.000000,304.000000,2.888200,137500.000000',
 '-116.310000,34.130000,20.000000,2352.000000,556.000000,1217.000000,481.000000,1.606300,55400.000000',
 '-116.310000,33.670000,15.000000,2214.000000,410.000000,1152.000000,350.000000,2.918700,93400.000000',
 '-116.310000,33.670000,11.000000,4686.000000,851.000000,2466.000000,731.000000,3.333300,91800.000000',
 '-116.310000,33.660000,7.000000,4497.000000,831.000000,2248.000000,713.000000,3.635400,98000.000000',
 '-116.320000,34.140000,18.000000,1880.000000,487.000000,994.000000,425.000000,1.690000,54200.000000',
 '-116.320000,34.100000,10.000000,4256.000000,861.000000,1403.000000,686.000000,2.661800,81000.000000',
 '-116.320000,33.280000,19.000000,1791.000000,367.000000,327.000000,185.000000,3.362500,100000.000000',
 '-116.330000,34.150000,13.000000,1808.000000,411.000000,735.000000,320.000000,1.548900,57400.000000',
 '-116.330000,33.750000,5.000000,19107.000000,3923.000000,2880.000000,1376.000000,4.036000,158500.000000',
 '-116.330000,33.720000,11.000000,12327.000000,2000.000000,2450.000000,1139.000000,7.438200,353100.000000',
 '-116.340000,33.360000,24.000000,2746.000000,514.000000,731.000000,295.000000,3.321400,176400.000000',
 '-116.350000,34.130000,9.000000,1969.000000,406.000000,805.000000,349.000000,1.549100,62300.000000',
 '-116.350000,32.740000,16.000000,2595.000000,606.000000,1046.000000,367.000000,1.713700,110700.000000',
 '-116.360000,33.880000,11.000000,12557.000000,3098.000000,2453.000000,1232.000000,1.784400,78500.000000',

In [ ]:
newl=newl.flatMap(lambda a:a.split(','))
newl=newl.map(lambda a: (a,1))
newl.reduceByKey(lambda a,b : a+b).collect()

[('"longitude"', 1),
 ('"housing_median_age"', 1),
 ('"total_bedrooms"', 1),
 ('"median_house_value"', 1),
 ('-114.310000', 1),
 ('34.190000', 113),
 ('1283.000000', 33),
 ('472.000000', 69),
 ('1.493600', 1),
 ('66900.000000', 6),
 ('19.000000', 419),
 ('1901.000000', 14),
 ('1129.000000', 19),
 ('1.820000', 1),
 ('80100.000000', 3),
 ('720.000000', 36),
 ('333.000000', 65),
 ('117.000000', 21),
 ('85700.000000', 10),
 ('-114.570000', 2),
 ('14.000000', 359),
 ('1501.000000', 12),
 ('73400.000000', 7),
 ('326.000000', 72),
 ('262.000000', 50),
 ('1.925000', 4),
 ('65500.000000', 4),
 ('33.630000', 38),
 ('29.000000', 390),
 ('236.000000', 68),
 ('671.000000', 38),
 ('33.610000', 40),
 ('25.000000', 473),
 ('680.000000', 28),
 ('1841.000000', 10),
 ('633.000000', 42),
 ('82400.000000', 3),
 ('34.830000', 7),
 ('168.000000', 30),
 ('4789.000000', 2),
 ('1175.000000', 21),
 ('1056.000000', 32),
 ('58400.000000', 6),
 ('1497.000000', 20),
 ('271.000000', 67),
 ('2.190800', 2),
 ('3741.000000', 4),
 ('2.679700', 2),
 ('21.000000', 383),
 ('483.000000', 64),
 ('1182.000000', 24),
 ('437.000000', 58),
 ('1.625000', 23),
 ('62000.000000', 10),
 ('-114.610000', 2),
 ('48.000000', 150),
 ('1291.000000', 22),
 ('580.000000', 51),
 ('211.000000', 40),
 ('2.157100', 3),
 ('31.000000', 391),
 ('2478.000000', 2),
 ('1346.000000', 16),
 ('1448.000000', 11),
 ('949.000000', 33),
 ('300.000000', 75),
 ('-114.650000', 3),
 ('2556.000000', 8),
 ('1678.000000', 15),
 ('322.000000', 87),
 ('666.000000', 37),
 ('2.965300', 1),
 ('94900.000000', 10),
 ('32.790000', 56),
 ('44.000000', 310),
 ('33.000000', 532),
 ('0.857100', 1),
 ('25000.000000', 1),
 ('-114.660000', 1),
 ('32.740000', 57),
 ('1388.000000', 15),
 ('1.204900', 1),
 ('-114.670000', 1),
 ('33.920000', 119),
 ('33.490000', 14),
 ('1491.000000', 20),
 ('1135.000000', 18),
 ('303.000000', 72),
 ('1.639500', 1),
 ('44400.000000', 2),
 ('796.000000', 30),
 ('227.000000', 44),
 ('139.000000', 26),
 ('59200.000000', 5),
 ('34.550000', 4),
 ('350.000000', 71),
 ('95.000000', 17),
 ('119.000000', 19),
 ('58.000000', 13),
 ('-114.980000', 1),
 ('137.000000', 26),
 ('52.000000', 1070),
 ('-115.220000', 1),
 ('33.540000', 12),
 ('1706.000000', 11),
 ('397.000000', 59),
 ('32.820000', 33),
 ('327.000000', 66),
 ('-115.370000', 4),
 ('30.000000', 397),
 ('1130.000000', 21),
 ('3.573500', 3),
 ('71100.000000', 1),
 ('1276.000000', 22),
 ('270.000000', 59),
 ('867.000000', 30),
 ('261.000000', 70),
 ('1.937500', 13),
 ('80900.000000', 3),
 ('32.810000', 47),
 ('32.000000', 471),
 ('191.000000', 49),
 ('623.000000', 50),
 ('169.000000', 24),
 ('23.000000', 395),
 ('1458.000000', 13),
 ('866.000000', 29),
 ('2.359400', 4),
 ('74300.000000', 7),
 ('-115.380000', 2),
 ('38.000000', 388),
 ('1892.000000', 6),
 ('374.000000', 63),
 ('1263.000000', 9),
 ('67500.000000', 51),
 ('-115.390000', 1),
 ('481.000000', 55),
 ('6.255800', 1),
 ('32.860000', 21),
 ('3.318200', 3),
 ('32.700000', 33),
 ('583.000000', 35),
 ('134.000000', 20),
 ('1141.000000', 25),
 ('220.000000', 37),
 ('684.000000', 35),
 ('373.000000', 71),
 ('298.000000', 55),
 ('1.000000', 7),
 ('40000.000000', 3),
 ('805.000000', 30),
 ('2.617200', 2),
 ('88500.000000', 6),
 ('32.680000', 24),
 ('91200.000000', 9),
 ('32.870000', 11),
 ('541.000000', 42),
 ('104.000000', 16),
 ('102800.000000', 5),
 ('32.690000', 38),
 ('1960.000000', 10),
 ('389.000000', 71),
 ('1691.000000', 13),
 ('1.899000', 2),
 ('440.000000', 44),
 ('84700.000000', 14),
 ('573.000000', 49),
 ('602.000000', 39),
 ('1.375000', 8),
 ('32.750000', 89),
 ('72.000000', 17),
 ('3.410700', 5),
 ('3631.000000', 5),
 ('2.177600', 5),
 ('75500.000000', 4),
 ('-115.510000', 4),
 ('33.240000', 5),
 ('1995.000000', 15),
 ('1069.000000', 11),
 ('410.000000', 86),
 ('1.655200', 1),
 ('43300.000000', 1),
 ('33.120000', 16),
 ('218.000000', 39),
 ('46700.000000', 6),
 ('63700.000000', 5),
 ('2872.000000', 2),
 ('2644.000000', 6),
 ('72700.000000', 4),
 ('34.220000', 68),
 ('122.000000', 17),
 ('1.333300', 2),
 ('42500.000000', 8),
 ('33.130000', 14),
 ('1109.000000', 23),
 ('53400.000000', 4),
 ('784.000000', 20),
 ('60800.000000', 5),
 ('1.458300', 3),
 ('58600.000000', 5),
 ('66400.000000', 5),
 ('10.000000', 241),
 ('1879.000000', 12),
 ('387.000000', 68),
 ('1376.000000', 13),
 ('1.991100', 3),
 ('1715.000000', 15),
 ('32.730000', 38),
 ('258.000000', 54),
 ('6.000000', 149),
 ('594.000000', 39),
 ('-115.530000', 5),
 ('807.000000', 31),
 ('199.000000', 50),
 ('2578.000000', 8),
 ('2082.000000', 12),
 ('340.000000', 86),
 ('2.406300', 1),
 ('70700.000000', 8),
 ('1568.000000', 18),
 ('510.000000', 64),
 ('1.735000', 1),
 ('61200.000000', 6),
 ('1459.000000', 13),
 ('388.000000', 77),
 ('1.537200', 1),
 ('69400.000000', 12),
 ('1697.000000', 19),
 ('911.000000', 26),
 ('4.352300', 4),
 ('395.000000', 66),
 ('1121.000000', 15),
 ('60600.000000', 8),
 ('454.000000', 59),
 ('3.009100', 1),
 ('70800.000000', 4),
 ('1370.000000', 13),
 ('60400.000000', 6),
 ('-115.550000', 7),
 ('2266.000000', 3),
 ('365.000000', 76),
 ('952.000000', 29),
 ('5.434900', 1),
 ('530.000000', 55),
 ('473.000000', 44),
 ('3.259300', 1),
 ('316.000000', 83),
 ('274.000000', 58),
 ('2.113600', 3),
 ('697.000000', 36),
 ('1.635100', 1),
 ('59600.000000', 5),
 ('162.000000', 26),
 ('692.000000', 34),
 ('1.208300', 3),
 ('5.000000', 223),
 ('606.000000', 50),
 ('-115.560000', 10),
 ('32.960000', 14),
 ('2164.000000', 11),
 ('480.000000', 51),
 ('1164.000000', 25),
 ('3.817700', 1),
 ('1672.000000', 16),
 ('416.000000', 73),
 ('1335.000000', 27),
 ('1.598700', 1),
 ('1193.000000', 31),
 ('1171.000000', 26),
 ('2372.000000', 11),
 ('767.000000', 27),
 ('1178.000000', 18),
 ('438.000000', 67),
 ('429.000000', 76),
 ('1.337300', 1),
 ('58300.000000', 4),
 ('3.060300', 1),
 ('4.615400', 1),
 ('86200.000000', 7),
 ('1278.000000', 17),
 ('653.000000', 33),
 ('4.482100', 6),
 ('-115.570000', 8),
 ('32.850000', 22),
 ('1365.000000', 13),
 ('825.000000', 39),
 ('250.000000', 69),
 ('3.239600', 3),
 ('1207.000000', 21),
 ('301.000000', 66),
 ('288.000000', 57),
 ('32.830000', 32),
 ('1494.000000', 18),
 ('289.000000', 69),
 ('284.000000', 86),
 ('2276.000000', 7),
 ('1184.000000', 15),
 ('513.000000', 49),
 ('93800.000000', 21),
 ('1152.000000', 20),
 ('235.000000', 62),
 ('871.000000', 27),
 ('97200.000000', 10),
 ('803.000000', 17),
 ('277.000000', 77),
 ('4.302100', 2),
 ('87500.000000', 64),
 ('-115.580000', 5),
 ('33.880000', 136),
 ('1161.000000', 19),
 ('724.000000', 28),
 ('1088.000000', 24),
 ('762.000000', 33),
 ('414.000000', 65),
 ('110100.000000', 3),
 ('1608.000000', 11),
 ('862.000000', 32),
 ('90800.000000', 7),
 ('2183.000000', 12),
 ('6.381400', 1),
 ('148.000000', 27),
 ('33.200000', 22),
 ('37.000000', 459),
 ('2.451100', 1),
 ('72500.000000', 12),
 ('3.000000', 84),
 ('1629.000000', 15),
 ('312.000000', 70),
 ('4.129300', 1),
 ('-115.620000', 2),
 ('33.040000', 14),
 ('745.000000', 25),
 ('569.000000', 50),
 ('3.166700', 13),
 ('-115.690000', 1),
 ('1564.000000', 14),
 ('343.000000', 81),
 ('55200.000000', 4),
 ('54.000000', 18),
 ('2.093800', 5),
 ('-115.730000', 4),
 ('33.360000', 7),
 ('476.000000', 57),
 ('33.350000', 3),
 ('1586.000000', 13),
 ('182.000000', 33),
 ('1.213200', 1),
 ('452.000000', 55),
 ('61.000000', 11),
 ('2.900000', 7),
 ('81.000000', 14),
 ('57.000000', 17),
 ('2.208300', 7),
 ('5.337400', 1),
 ('-115.840000', 1),
 ('637.000000', 33),
 ('2.034700', 1),
 ('68900.000000', 8),
 ('34.200000', 86),
 ('1257.000000', 30),
 ('41000.000000', 1),
 ('-115.880000', 1),
 ('32.930000', 7),
 ('49.000000', 128),
 ('51.000000', 48),
 ('32500.000000', 3),
 ('1210.000000', 18),
 ('459.000000', 58),
 ('-115.930000', 1),
 ('35.550000', 5),
 ('272.000000', 81),
 ('754.000000', 33),
 ('3.402800', 6),
 ('43.000000', 300),
 ('53800.000000', 5),
 ('-115.960000', 1),
 ('112.000000', 26),
 ('54400.000000', 9),
 ('-115.980000', 1),
 ('33.320000', 2),
 ('240.000000', 63),
 ('1.468800', 4),
 ('-115.990000', 1),
 ('1945.000000', 13),
 ('2.010900', 1),
 ('54300.000000', 7),
 ('26.000000', 518),
 ('33.510000', 19),
 ('2985.000000', 5),
 ('4042.000000', 2),
 ('905.000000', 24),
 ('33.410000', 5),
 ('1996.000000', 13),
 ('659.000000', 36),
 ('295.000000', 88),
 ('2.868400', 1),
 ('-116.020000', 1),
 ('34.180000', 111),
 ('34.120000', 128),
 ('3.125000', 41),
 ('290.000000', 66),
 ('1.729200', 6),
 ('81300.000000', 23),
 ('383.000000', 61),
 ('1.337100', 1),
 ('34.150000', 126),
 ('10377.000000', 1),
 ('4507.000000', 2),
 ('66800.000000', 9),
 ('75.000000', 21),
 ('2.425000', 9),
 ('76100.000000', 5),
 ('1997.000000', 12),
 ('4166.000000', 3),
 ('2.611100', 2),
 ('1548.000000', 18),
 ('2421.000000', 10),
 ('820.000000', 23),
 ('-116.140000', 1),
 ('3298.000000', 8),
 ('763.000000', 38),
 ('47800.000000', 3),
 ('-116.150000', 3),
 ('512.000000', 62),
 ('197.000000', 32),
 ('2.928600', 3),
 ('112500.000000', 85),
 ('443.000000', 62),
 ('1230.000000', 17),
 ('260.000000', 52),
 ('2.267900', 6),
 ('-116.170000', 3),
 ('153.000000', 19),
 ('1.930600', 1),
 ('1713.000000', 14),
 ('-116.180000', 2),
 ('79.000000', 12),
 ('2.375000', 26),
 ('155000.000000', 13),
 ('66700.000000', 2),
 ('-116.190000', 1),
 ('1859.000000', 17),
 ('1.729700', 1),
 ('-116.200000', 3),
 ('2399.000000', 12),
 ('625.000000', 36),
 ('2654.000000', 9),
 ('535.000000', 58),
 ('1077.000000', 27),
 ('2.500000', 22),
 ('409.000000', 70),
 ('1.464800', 1),
 ('894.000000', 26),
 ('3.067300', 2),
 ('68200.000000', 7),
 ('714.000000', 29),
 ('2891.000000', 3),
 ('676.000000', 33),
 ('33.710000', 58),
 ('3157.000000', 7),
 ('772.000000', 31),
 ('176.000000', 37),
 ('3.884600', 4),
 ('-116.220000', 6),
 ('213.000000', 35),
 ('1.147100', 1),
 ('32900.000000', 1),
 ('468.000000', 52),
 ('4120.000000', 1),
 ('815.000000', 32),
 ('33.730000', 60),
 ('352.000000', 77),
 ('2.121700', 1),
 ('68500.000000', 9),
 ('3861.000000', 3),
 ('849.000000', 28),
 ('3.283300', 3),
 ('-116.230000', 3),
 ('1133.000000', 17),
 ('918.000000', 28),
 ('72100.000000', 7),
 ('1186.000000', 16),
 ('1.780500', 1),
 ('76900.000000', 7),
 ('4874.000000', 2),
 ('2774.000000', 3),
 ('566.000000', 37),
 ('505.000000', 37),
 ('9033.000000', 1),
 ('2224.000000', 9),
 ('5525.000000', 1),
 ('1845.000000', 14),
 ('2.759800', 1),
 ('95000.000000', 12),
 ('33.810000', 98),
 ('880.000000', 34),
 ('3.458300', 8),
 ('907.000000', 17),
 ('2.766700', 2),
 ('92900.000000', 8),
 ('-116.260000', 2),
 ('7437.000000', 1),
 ('1222.000000', 20),
 ('10.294800', 1),
 ('382400.000000', 2),
 ('934.000000', 31),
 ('83700.000000', 3),
 ('-116.270000', 1),
 ('3.729200', 5),
 ('12991.000000', 1),
 ('2555.000000', 4),
 ('1926.000000', 9),
 ('199300.000000', 6),
 ('-116.300000', 1),
 ('863.000000', 24),
 ('304.000000', 67),
 ('-116.310000', 4),
 ('2352.000000', 12),
 ('556.000000', 50),
 ('1217.000000', 20),
 ('2214.000000', 5),
 ('2.918700', 2),
 ('2466.000000', 5),
 ('3.333300', 11),
 ('91800.000000', 5),
 ('7.000000', 161),
 ('4497.000000', 1),
 ('3.635400', 3),
 ('98000.000000', 5),
 ('1880.000000', 18),
 ('487.000000', 46),
 ('425.000000', 63),
 ('54200.000000', 5),
 ('4256.000000', 3),
 ('686.000000', 34),
 ('1791.000000', 8),
 ('367.000000', 65),
 ('3.362500', 4),
 ('1808.000000', 16),
 ('735.000000', 35),
 ('1.548900', 1),
 ('57400.000000', 7),
 ('12327.000000', 1),
 ('7.438200', 1),
 ('-116.340000', 1),
 ('406.000000', 73),
 ('1.549100', 1),
 ('2595.000000', 8),
 ('1046.000000', 18),
 ('1.713700', 1),
 ('110700.000000', 10),
 ('-116.360000', 1),
 ('12557.000000', 1),
 ('3098.000000', 5),
 ('1232.000000', 17),
 ('1.784400', 1),
 ('78500.000000', 4),
 ('8626.000000', 1),
 ('3497.000000', 4),
 ('121300.000000', 6),
 ('1542.000000', 15),
 ('318100.000000', 2),
 ('4890.000000', 1),
 ('1289.000000', 12),
 ('570.000000', 40),
 ('2.579500', 3),
 ('-116.380000', 5),
 ('1238.000000', 20),
 ('954.000000', 27),
 ('65000.000000', 9),
 ('4.145800', 3),
 ('116300.000000', 9),
 ('3479.000000', 3),
 ('4.084000', 1),
 ('2405.000000', 9),
 ('3811.000000', 3),
 ('4.007900', 1),
 ('134500.000000', 9),
 ('12509.000000', 1),
 ('2460.000000', 10),
 ('2737.000000', 8),
 ('1423.000000', 17),
 ('1149.000000', 25),
 ('2709.000000', 5),
 ('964.000000', 23),
 ('73300.000000', 3),
 ('2257.000000', 5),
 ('4122.000000', 2),
 ('7646.000000', 1),
 ('2496.000000', 8),
 ('1075.000000', 18),
 ('128000.000000', 6),
 ('2007.000000', 11),
 ('6.983300', 1),
 ('-116.400000', 3),
 ('5648.000000', 1),
 ('4855.000000', 2),
 ('2098.000000', 15),
 ('765.000000', 33),
 ('33.780000', 101),
 ('500.000000', 54),
 ('6.872900', 1),
 ('259200.000000', 3),
 ('2475.000000', 5),
 ('910.000000', 22),
 ('3.363900', 1),
 ('2.465900', 3),
 ('177800.000000', 7),
 ('-116.420000', 4),
 ('33.790000', 105),
 ('7095.000000', 1),
 ('4.944400', 2),
 ('2837.000000', 8),
 ('341700.000000', 6),
 ('782.000000', 34),
 ('529.000000', 50),
 ('2.220800', 2),
 ('138300.000000', 2),
 ('-116.430000', 3),
 ('1296.000000', 22),
 ('2677.000000', 10),
 ('6710.000000', 1),
 ('2069.000000', 6),
 ('237.000000', 52),
 ('500001.000000', 814),
 ('-116.440000', 5),
 ('321.000000', 62),
 ('2.892900', 4),
 ('98100.000000', 6),
 ('5584.000000', 1),
 ('1303.000000', 14),
 ('1158.000000', 28),
 ('1.582300', 1),
 ('33.930000', 142),
 ('599.000000', 38),
 ('33.770000', 93),
 ('1110.000000', 20),
 ('955.000000', 26),
 ('656.000000', 30),
 ('97500.000000', 10),
 ('846.000000', 29),
 ('403300.000000', 1),
 ('-116.450000', 3),
 ('33.800000', 82),
 ('1206.000000', 12),
 ('5228.000000', 1),
 ('3.085900', 2),
 ('32.650000', 9),
 ('3010.000000', 5),
 ('828.000000', 27),
 ('3.950800', 1),
 ('2301.000000', 4),
 ('638.000000', 31),
 ('83000.000000', 5),
 ('34.070000', 194),
 ('5473.000000', 1),
 ('2581.000000', 6),
 ('65300.000000', 3),
 ('471.000000', 55),
 ('919.000000', 19),
 ('3.257800', 2),
 ('3838.000000', 4),
 ('1270.000000', 16),
 ('4.311100', 1),
 ('2481.000000', 6),
 ('6274.000000', 1),
 ('2095.000000', 12),
 ('2.449700', 1),
 ('90900.000000', 5),
 ('3.316200', 1),
 ('-116.480000', 3),
 ('923.000000', 18),
 ('1.800000', 3),
 ('9425.000000', 1),
 ('-116.490000', 2),
 ('3316.000000', 2),
 ('636.000000', 42),
 ('2362.000000', 7),
 ('8789.000000', 1),
 ('1274.000000', 15),
 ('688.000000', 30),
 ('3.739600', 2),
 ('4332.000000', 4),
 ('868.000000', 27),
 ('33.950000', 116),
 ('7249.000000', 3),
 ('1882.000000', 15),
 ('1.698300', 2),
 ('1229.000000', 20),
 ('2.539900', 1),
 ('94800.000000', 9),
 ('1074.000000', 26),
 ('740.000000', 36),
 ('3149.000000', 3),
 ('34.450000', 19),
 ('2634.000000', 8),
 ('991.000000', 25),
 ('1395.000000', 16),
 ('2518.000000', 5),
 ('1132.000000', 21),
 ('3369.000000', 5),
 ('1.738800', 2),
 ('1284.000000', 23),
 ('306.000000', 84),
 ('537.000000', 52),
 ('1.950000', 4),
 ('3921.000000', 3),
 ('33.850000', 95),
 ('3.488600', 1),
 ('4465.000000', 2),
 ('853.000000', 30),
 ('445.000000', 58),
 ('3.687500', 20),
 ('130400.000000', 8),
 ('10227.000000', 1),
 ('3623.000000', 6),
 ('2.521200', 2),
 ('32.900000', 10),
 ('852.000000', 33),
 ('4.570000', 1),
 ('-116.530000', 5),
 ('2990.000000', 7),
 ('648.000000', 43),
 ('1906.000000', 11),
 ('667.000000', 42),
 ('10077.000000', 1),
 ('110900.000000', 6),
 ('1839.000000', 14),
 ('2547.000000', 7),
 ('2.548900', 1),
 ('1341.000000', 21),
 ('124100.000000', 7),
 ('6087.000000', 1),
 ('833.000000', 31),
 ('1432.000000', 20),
 ('183900.000000', 13),
 ('1780.000000', 10),
 ('3.973700', 1),
 ('-116.550000', 1),
 ('2992.000000', 4),
 ('346.000000', 72),
 ('34.060000', 205),
 ('1529.000000', 17),
 ('1765.000000', 18),
 ('399.000000', 85),
 ('2.608300', 4),
 ('4.125000', 39),
 ('9975.000000', 2),
 ('1743.000000', 15),
 ('6835.000000', 1),
 ('2.713800', 1),
 ('22500.000000', 3),
 ('50.000000', 130),
 ('76600.000000', 5),
 ('224.000000', 61),
 ('1.191700', 1),
 ('2009.000000', 11),
 ('230200.000000', 5),
 ('82.000000', 12),
 ('183.000000', 36),
 ('74.000000', 21),
 ('876.000000', 26),
 ('718.000000', 45),
 ('2.919000', 1),
 ('116500.000000', 5),
 ('-116.600000', 2),
 ('3730.000000', 2),
 ('827.000000', 29),
 ('2522.000000', 7),
 ('198100.000000', 7),
 ('-116.620000', 2),
 ('34.230000', 68),
 ('6438.000000', 1),
 ('1719.000000', 11),
 ('691.000000', 38),
 ('1.613600', 2),
 ('4115.000000', 4),
 ('847.000000', 30),
 ('2032.000000', 9),
 ('4.015900', 1),
 ('169100.000000', 5),
 ('843.000000', 26),
 ('152.000000', 31),
 ('-116.670000', 1),
 ('5.359000', 1),
 ('193800.000000', 27),
 ('255.000000', 66),
 ('3.588200', 1),
 ('161100.000000', 6),
 ('1001.000000', 25),
 ('324.000000', 62),
 ('2.179700', 1),
 ('-116.710000', 1),
 ('3.020800', 9),
 ('4527.000000', 3),
 ('1640.000000', 11),
 ('81700.000000', 5),
 ('1250.000000', 20),
 ('122900.000000', 7),
 ('661.000000', 49),
 ('242.000000', 48),
 ('2.914100', 1),
 ('946.000000', 23),
 ('1802.000000', 13),
 ('-116.750000', 3),
 ('143400.000000', 11),
 ('845.000000', 21),
 ('769.000000', 33),
 ('3348.000000', 3),
 ('308600.000000', 2),
 ('2.821400', 4),
 ('111400.000000', 13),
 ('4.000000', 195),
 ('42.000000', 324),
 ('33.460000', 9),
 ('3311.000000', 1),
 ('751.000000', 27),
 ('2129.000000', 12),
 ('214500.000000', 6),
 ('2307.000000', 9),
 ('525.000000', 57),
 ('1.687500', 11),
 ('-116.780000', 1),
 ('5102.000000', 2),
 ('5.510200', 1),
 ('221000.000000', 6),
 ('33.990000', 142),
 ('68.000000', 18),
 ('4281.000000', 3),
 ('1891.000000', 16),
 ('721.000000', 37),
 ('32.610000', 10),
 ('1421.000000', 11),
 ('3.522700', 4),
 ('206100.000000', 3),
 ('-116.800000', 2),
 ('3.416700', 5),
 ('3874.000000', 3),
 ('546.000000', 40),
 ('6.148100', 1),
 ('34.240000', 53),
 ('5799.000000', 2),
 ('-116.830000', 2),
 ('1316.000000', 25),
 ('2.737500', 3),
 ('5.428800', 1),
 ('167800.000000', 7),
 ('-116.840000', 3),
 ('33.010000', 11),
 ('855.000000', 30),
 ('2592.000000', 6),
 ('797.000000', 27),
 ('199200.000000', 5),
 ('32.920000', 11),
 ('1066.000000', 20),
 ('119300.000000', 7),
 ('2502.000000', 6),
 ('1211.000000', 19),
 ('494.000000', 61),
 ('-116.850000', 3),
 ('3606.000000', 3),
 ('792.000000', 35),
 ('608.000000', 45),
 ('5806.000000', 2),
 ('4.013200', 3),
 ('938.000000', 22),
 ('147800.000000', 7),
 ('131.000000', 28),
 ('2.397700', 3),
 ('118.000000', 16),
 ('2.778800', 1),
 ('91100.000000', 5),
 ('170700.000000', 7),
 ('9044.000000', 1),
 ('1689.000000', 15),
 ('5030.000000', 1),
 ('33.020000', 10),
 ('251.000000', 53),
 ('170200.000000', 6),
 ('2630.000000', 10),
 ('5.052400', 2),
 ('291.000000', 81),
 ('4448.000000', 3),
 ('2.218000', 1),
 ('3141.000000', 5),
 ('2589.000000', 7),
 ('1.455600', 1),
 ('761.000000', 36),
 ('265.000000', 65),
 ('195.000000', 41),
 ('128100.000000', 9),
 ('2053.000000', 16),
 ('993.000000', 30),
 ('5.516400', 2),
 ('32.720000', 40),
 ('1431.000000', 15),
 ('5.765200', 2),
 ('-116.880000', 9),
 ('198.000000', 44),
 ('4.964300', 4),
 ('176000.000000', 9),
 ('4.639400', 1),
 ('259.000000', 70),
 ('3419.000000', 4),
 ('710.000000', 30),
 ('1495.000000', 15),
 ('865.000000', 18),
 ('342.000000', 73),
 ('1.218800', 3),
 ('3111.000000', 5),
 ('508.000000', 56),
 ('7217.000000', 1),
 ('3204.000000', 6),
 ('5.259600', 1),
 ('171500.000000', 2),
 ('5.073300', 1),
 ('-116.890000', 9),
 ('916.000000', 16),
 ('912.000000', 21),
 ('72600.000000', 4),
 ('2653.000000', 8),
 ('1967.000000', 13),
 ('2.664300', 1),
 ('1950.000000', 12),
 ('3.041700', 11),
 ('930.000000', 28),
 ('2816.000000', 4),
 ('210900.000000', 8),
 ('2.890600', 4),
 ('158300.000000', 14),
 ('593.000000', 34),
 ('5.118500', 1),
 ('362.000000', 72),
 ('6.257800', 1),
 ('293100.000000', 2),
 ('-116.900000', 14),
 ('34.690000', 10),
 ('108.000000', 25),
 ('34.520000', 6),
 ('3481.000000', 7),
 ('1.400000', 2),
 ('3.528800', 4),
 ('189700.000000', 9),
 ('3915.000000', 4),
 ('672.000000', 38),
 ('3.633900', 2),
 ('98600.000000', 7),
 ('738.000000', 26),
 ('647.000000', 43),
 ('2.232100', 4),
 ('71800.000000', 5),
 ('2281.000000', 10),
 ('149.000000', 32),
 ('2.107100', 5),
 ('33.220000', 15),
 ('4132.000000', 2),
 ('773.000000', 33),
 ('2012.000000', 11),
 ('3.190600', 2),
 ('234500.000000', 5),
 ('33.030000', 15),

In [ ]:
rdd=spark.sparkContext.parallelize([('a',1),('a',4),('b',10),('b',2),('a',3)])
rdd.collect()

[('a', 1), ('a', 4), ('b', 10), ('b', 2), ('a', 3)]

In [ ]:
rdd.aggregateByKey((0,0),lambda x,y:(x[0]+y,x[1]+1),lambda x,y:(x[0]+y[0],x[1]+y[1])).collect()

[('b', (12, 2)), ('a', (8, 3))]

In [ ]:
rdd.aggregateByKey(1,lambda x,y:x+y , lambda x,y:x+y).collect()

[('b', 13), ('a', 10)]

## RDDOperation

Q1 a

In [ ]:
rdd=spark.sparkContext.textFile('/content/rdd operations.txt')
rdd.collect()

['Certainly! Here are practice questions for each of the specified topics:',
 '',
 '1. **Transformation Operations:**',
 '   a. Write a Spark application to read a text file and convert all words to uppercase using the `map()` transformation.',
 '   b. Given an RDD of integers, filter out numbers greater than 10 using the `filter()` transformation.',
 '   c. Concatenate two RDDs containing strings using the `union()` transformation.',
 '   d. Perform a `flatMap()` transformation on an RDD of sentences to split each sentence into words.',
 '   e. Use the `distinct()` transformation to remove duplicate elements from an RDD of integers.',
 '',
 '2. **Action Operations:**',
 '   a. Calculate the sum of all elements in an RDD of integers using the `reduce()` action.',
 '   b. Find the maximum value in an RDD of floats using the `max()` action.',
 '   c. Count the number of elements in an RDD using the `count()` action.',
 '   d. Collect the first 5 elements of an RDD into a local array using the `take()` action.',
 '   e. Save the contents of an RDD to a text file using the `saveAsTextFile()` action.',
 '',
 '3. **Pair RDD Operations:**',
 '   a. Compute the sum of values for each key in a Pair RDD using the `reduceByKey()` transformation.',
 '   b. Join two Pair RDDs based on their keys using the `join()` transformation.',
 '   c. Group the values of a Pair RDD by key using the `groupByKey()` transformation.',
 '   d. Sort the elements of a Pair RDD by key using the `sortByKey()` transformation.',
 '   e. Use the `cogroup()` transformation to combine values from two Pair RDDs with the same key.',
 '',
 '4. **Performance Optimization:**',
 '   a. Cache an RDD in memory using the `cache()` or `persist()` function and measure the time taken for subsequent actions.',
 '   b. Use the `broadcast()` function to efficiently distribute large read-only variables to worker nodes.',
 '   c. Adjust the number of partitions using the `repartition()` or `coalesce()` function to optimize parallelism.',
 '   d. Use `parallelize()` to create an RDD from an in-memory collection and measure the time taken for operations.',
 '   e. Experiment with different cluster configurations and executor/memory settings to optimize performance.',
 '',
 '5. **Error Handling and Fault Tolerance:**',
 '   a. Handle exceptions gracefully when reading data from external sources like HDFS or S3.',
 '   b. Use the `checkpoint()` function to create a checkpoint of RDD lineage for fault tolerance.',
 '   c. Implement custom error handling logic using `try-catch` blocks to handle specific exceptions.',
 '   d. Monitor job progress and resource usage using Spark UI to identify and troubleshoot errors.',
 "   e. Retry failed tasks automatically using Spark's fault tolerance mechanisms.",
 '',
 '6. **Advanced RDD Operations:**',
 '   a. Implement a custom partitioner for a Pair RDD to optimize data distribution and reduce shuffle overhead.',
 '   b. Use the `aggregateByKey()` transformation to perform complex aggregations on a Pair RDD.',
 '   c. Combine RDDs with different schemas using the `zip()` transformation to create paired RDDs.',
 '   d. Implement a custom serialization format for RDD elements to optimize storage and network overhead.',
 '   e. Utilize the `foreachPartition()` function to perform efficient bulk operations on RDD partitions.',
 '',
 'These practice questions cover a wide range of concepts and operations in Apache Spark RDDs, providing opportunities for hands-on learning and skill development.']

In [ ]:
rdd=rdd.flatMap(lambda x: x.split())
rdd=rdd.map(lambda a :a.upper())
rdd.collect()

['CERTAINLY!',
 'HERE',
 'ARE',
 'PRACTICE',
 'QUESTIONS',
 'FOR',
 'EACH',
 'OF',
 'THE',
 'SPECIFIED',
 'TOPICS:',
 '1.',
 '**TRANSFORMATION',
 'OPERATIONS:**',
 'A.',
 'WRITE',
 'A',
 'SPARK',
 'APPLICATION',
 'TO',
 'READ',
 'A',
 'TEXT',
 'FILE',
 'AND',
 'CONVERT',
 'ALL',
 'WORDS',
 'TO',
 'UPPERCASE',
 'USING',
 'THE',
 '`MAP()`',
 'TRANSFORMATION.',
 'B.',
 'GIVEN',
 'AN',
 'RDD',
 'OF',
 'INTEGERS,',
 'FILTER',
 'OUT',
 'NUMBERS',
 'GREATER',
 'THAN',
 '10',
 'USING',
 'THE',
 '`FILTER()`',
 'TRANSFORMATION.',
 'C.',
 'CONCATENATE',
 'TWO',
 'RDDS',
 'CONTAINING',
 'STRINGS',
 'USING',
 'THE',
 '`UNION()`',
 'TRANSFORMATION.',
 'D.',
 'PERFORM',
 'A',
 '`FLATMAP()`',
 'TRANSFORMATION',
 'ON',
 'AN',
 'RDD',
 'OF',
 'SENTENCES',
 'TO',
 'SPLIT',
 'EACH',
 'SENTENCE',
 'INTO',
 'WORDS.',
 'E.',
 'USE',
 'THE',
 '`DISTINCT()`',
 'TRANSFORMATION',
 'TO',
 'REMOVE',
 'DUPLICATE',
 'ELEMENTS',
 'FROM',
 'AN',
 'RDD',
 'OF',
 'INTEGERS.',
 '2.',
 '**ACTION',
 'OPERATIONS:**',
 'A.',
 'CALCULATE',
 'THE',
 'SUM',
 'OF',
 'ALL',
 'ELEMENTS',
 'IN',
 'AN',
 'RDD',
 'OF',
 'INTEGERS',
 'USING',
 'THE',
 '`REDUCE()`',
 'ACTION.',
 'B.',
 'FIND',
 'THE',
 'MAXIMUM',
 'VALUE',
 'IN',
 'AN',
 'RDD',
 'OF',
 'FLOATS',
 'USING',
 'THE',
 '`MAX()`',
 'ACTION.',
 'C.',
 'COUNT',
 'THE',
 'NUMBER',
 'OF',
 'ELEMENTS',
 'IN',
 'AN',
 'RDD',
 'USING',
 'THE',
 '`COUNT()`',
 'ACTION.',
 'D.',
 'COLLECT',
 'THE',
 'FIRST',
 '5',
 'ELEMENTS',
 'OF',
 'AN',
 'RDD',
 'INTO',
 'A',
 'LOCAL',
 'ARRAY',
 'USING',
 'THE',
 '`TAKE()`',
 'ACTION.',
 'E.',
 'SAVE',
 'THE',
 'CONTENTS',
 'OF',
 'AN',
 'RDD',
 'TO',
 'A',
 'TEXT',
 'FILE',
 'USING',
 'THE',
 '`SAVEASTEXTFILE()`',
 'ACTION.',
 '3.',
 '**PAIR',
 'RDD',
 'OPERATIONS:**',
 'A.',
 'COMPUTE',
 'THE',
 'SUM',
 'OF',
 'VALUES',
 'FOR',
 'EACH',
 'KEY',
 'IN',
 'A',
 'PAIR',
 'RDD',
 'USING',
 'THE',
 '`REDUCEBYKEY()`',
 'TRANSFORMATION.',
 'B.',
 'JOIN',
 'TWO',
 'PAIR',
 'RDDS',
 'BASED',
 'ON',
 'THEIR',
 'KEYS',
 'USING',
 'THE',
 '`JOIN()`',
 'TRANSFORMATION.',
 'C.',
 'GROUP',
 'THE',
 'VALUES',
 'OF',
 'A',
 'PAIR',
 'RDD',
 'BY',
 'KEY',
 'USING',
 'THE',
 '`GROUPBYKEY()`',
 'TRANSFORMATION.',
 'D.',
 'SORT',
 'THE',
 'ELEMENTS',
 'OF',
 'A',
 'PAIR',
 'RDD',
 'BY',
 'KEY',
 'USING',
 'THE',
 '`SORTBYKEY()`',
 'TRANSFORMATION.',
 'E.',
 'USE',
 'THE',
 '`COGROUP()`',
 'TRANSFORMATION',
 'TO',
 'COMBINE',
 'VALUES',
 'FROM',
 'TWO',
 'PAIR',
 'RDDS',
 'WITH',
 'THE',
 'SAME',
 'KEY.',
 '4.',
 '**PERFORMANCE',
 'OPTIMIZATION:**',
 'A.',
 'CACHE',
 'AN',
 'RDD',
 'IN',
 'MEMORY',
 'USING',
 'THE',
 '`CACHE()`',
 'OR',
 '`PERSIST()`',
 'FUNCTION',
 'AND',
 'MEASURE',
 'THE',
 'TIME',
 'TAKEN',
 'FOR',
 'SUBSEQUENT',
 'ACTIONS.',
 'B.',
 'USE',
 'THE',
 '`BROADCAST()`',
 'FUNCTION',
 'TO',
 'EFFICIENTLY',
 'DISTRIBUTE',
 'LARGE',
 'READ-ONLY',
 'VARIABLES',
 'TO',
 'WORKER',
 'NODES.',
 'C.',
 'ADJUST',
 'THE',
 'NUMBER',
 'OF',
 'PARTITIONS',
 'USING',
 'THE',
 '`REPARTITION()`',
 'OR',
 '`COALESCE()`',
 'FUNCTION',
 'TO',
 'OPTIMIZE',
 'PARALLELISM.',
 'D.',
 'USE',
 '`PARALLELIZE()`',
 'TO',
 'CREATE',
 'AN',
 'RDD',
 'FROM',
 'AN',
 'IN-MEMORY',
 'COLLECTION',
 'AND',
 'MEASURE',
 'THE',
 'TIME',
 'TAKEN',
 'FOR',
 'OPERATIONS.',
 'E.',
 'EXPERIMENT',
 'WITH',
 'DIFFERENT',
 'CLUSTER',
 'CONFIGURATIONS',
 'AND',
 'EXECUTOR/MEMORY',
 'SETTINGS',
 'TO',
 'OPTIMIZE',
 'PERFORMANCE.',
 '5.',
 '**ERROR',
 'HANDLING',
 'AND',
 'FAULT',
 'TOLERANCE:**',
 'A.',
 'HANDLE',
 'EXCEPTIONS',
 'GRACEFULLY',
 'WHEN',
 'READING',
 'DATA',
 'FROM',
 'EXTERNAL',
 'SOURCES',
 'LIKE',
 'HDFS',
 'OR',
 'S3.',
 'B.',
 'USE',
 'THE',
 '`CHECKPOINT()`',
 'FUNCTION',
 'TO',
 'CREATE',
 'A',
 'CHECKPOINT',
 'OF',
 'RDD',
 'LINEAGE',
 'FOR',
 'FAULT',
 'TOLERANCE.',
 'C.',
 'IMPLEMENT',
 'CUSTOM',
 'ERROR',
 'HANDLING',
 'LOGIC',
 'USING',
 '`TRY-CATCH`',
 'BLOCKS',
 'TO',
 'HANDLE',
 'SPECIFIC',
 'EXCEPTIONS.',
 'D.',
 'MONITOR',
 'JOB',
 'PROGRESS',
 'AND',
 'RESOURCE',
 'USAGE',
 'USING',
 'SPARK',
 'UI',
 'TO',
 'IDENTIFY',
 'AND',
 'TROUBLESHOOT',
 'ERRORS.',
 'E.',
 'RETRY',
 'FAILED',
 'TASKS',
 'AUTOMATICALLY',
 'USING',
 "SPARK'S",
 'FAULT',
 'TOLERANCE',
 'MECHANISMS.',
 '6.',
 '**ADVANCED',
 'RDD',
 'OPERATIONS:**',
 'A.',
 'IMPLEMENT',
 'A',
 'CUSTOM',
 'PARTITIONER',
 'FOR',
 'A',
 'PAIR',
 'RDD',
 'TO',
 'OPTIMIZE',
 'DATA',
 'DISTRIBUTION',
 'AND',
 'REDUCE',
 'SHUFFLE',
 'OVERHEAD.',
 'B.',
 'USE',
 'THE',
 '`AGGREGATEBYKEY()`',
 'TRANSFORMATION',
 'TO',
 'PERFORM',
 'COMPLEX',
 'AGGREGATIONS',
 'ON',
 'A',
 'PAIR',
 'RDD.',
 'C.',
 'COMBINE',
 'RDDS',
 'WITH',
 'DIFFERENT',
 'SCHEMAS',
 'USING',
 'THE',
 '`ZIP()`',
 'TRANSFORMATION',
 'TO',
 'CREATE',
 'PAIRED',
 'RDDS.',
 'D.',
 'IMPLEMENT',
 'A',
 'CUSTOM',
 'SERIALIZATION',
 'FORMAT',
 'FOR',
 'RDD',
 'ELEMENTS',
 'TO',
 'OPTIMIZE',
 'STORAGE',
 'AND',
 'NETWORK',
 'OVERHEAD.',
 'E.',
 'UTILIZE',
 'THE',
 '`FOREACHPARTITION()`',
 'FUNCTION',
 'TO',
 'PERFORM',
 'EFFICIENT',
 'BULK',
 'OPERATIONS',
 'ON',
 'RDD',
 'PARTITIONS.',
 'THESE',
 'PRACTICE',
 'QUESTIONS',
 'COVER',
 'A',
 'WIDE',
 'RANGE',
 'OF',
 'CONCEPTS',
 'AND',
 'OPERATIONS',
 'IN',
 'APACHE',
 'SPARK',
 'RDDS,',
 'PROVIDING',
 'OPPORTUNITIES',
 'FOR',
 'HANDS-ON',
 'LEARNING',
 'AND',
 'SKILL',
 'DEVELOPMENT.']

In [ ]:
import re
rdd=rdd.flatMap(lambda x: re.split(r'[; |, ()*.`!]',x))

In [ ]:
rdd=rdd.filter(lambda x: x!="").map(lambda x:(x,1))

In [ ]:
s=rdd.reduceByKey(lambda a,b:a+b)
s=s.map(lambda x:(x[1],x[0]))
s.sortByKey(False).collect()

[(34, 'THE'),
 (20, 'A'),
 (20, 'RDD'),
 (19, 'TO'),
 (18, 'USING'),
 (16, 'OF'),
 (13, 'TRANSFORMATION'),
 (11, 'AND'),
 (11, 'AN'),
 (8, 'FOR'),
 (8, 'PAIR'),
 (6, 'C'),
 (6, 'USE'),
 (6, 'B'),
 (6, 'RDDS'),
 (6, 'D'),
 (6, 'E'),
 (6, 'ELEMENTS'),
 (6, 'ACTION'),
 (6, 'IN'),
 (5, 'FUNCTION'),
 (4, 'KEY'),
 (4, 'OPTIMIZE'),
 (4, 'OPERATIONS:'),
 (4, 'ON'),
 (4, 'FROM'),
 (3, 'SPARK'),
 (3, 'TWO'),
 (3, 'PERFORM'),
 (3, 'IMPLEMENT'),
 (3, 'CUSTOM'),
 (3, 'EACH'),
 (3, 'INTEGERS'),
 (3, 'VALUES'),
 (3, 'WITH'),
 (3, 'OR'),
 (3, 'CREATE'),
 (3, 'OPERATIONS'),
 (3, 'FAULT'),
 (2, 'PRACTICE'),
 (2, 'QUESTIONS'),
 (2, 'TEXT'),
 (2, 'REDUCE'),
 (2, 'NUMBER'),
 (2, 'COMBINE'),
 (2, 'CACHE'),
 (2, 'TIME'),
 (2, 'TAKEN'),
 (2, 'PARTITIONS'),
 (2, 'HANDLING'),
 (2, 'EXCEPTIONS'),
 (2, 'TOLERANCE'),
 (2, 'OVERHEAD'),
 (2, 'FILE'),
 (2, 'ALL'),
 (2, 'WORDS'),
 (2, 'FILTER'),
 (2, 'INTO'),
 (2, 'SUM'),
 (2, 'COUNT'),
 (2, '5'),
 (2, 'JOIN'),
 (2, 'BY'),
 (2, 'PERFORMANCE'),
 (2, 'MEASURE'),
 (2, 'DIFFERENT'),
 (2, 'ERROR'),
 (2, 'HANDLE'),
 (2, 'DATA'),
 (2, 'CHECKPOINT'),
 (1, 'CERTAINLY'),
 (1, 'ARE'),
 (1, '1'),
 (1, 'UPPERCASE'),
 (1, 'OUT'),
 (1, 'NUMBERS'),
 (1, 'GREATER'),
 (1, 'THAN'),
 (1, '10'),
 (1, 'CONCATENATE'),
 (1, 'FLATMAP'),
 (1, 'SENTENCES'),
 (1, 'SPLIT'),
 (1, 'DISTINCT'),
 (1, 'CALCULATE'),
 (1, 'MAXIMUM'),
 (1, 'VALUE'),
 (1, 'FLOATS'),
 (1, 'LOCAL'),
 (1, 'SAVE'),
 (1, 'BASED'),
 (1, 'THEIR'),
 (1, 'KEYS'),
 (1, 'GROUPBYKEY'),
 (1, 'SORT'),
 (1, 'SORTBYKEY'),
 (1, 'SAME'),
 (1, '4'),
 (1, 'OPTIMIZATION:'),
 (1, 'MEMORY'),
 (1, 'ACTIONS'),
 (1, 'BROADCAST'),
 (1, 'DISTRIBUTE'),
 (1, 'READ-ONLY'),
 (1, 'WORKER'),
 (1, 'ADJUST'),
 (1, 'PARALLELIZE'),
 (1, 'IN-MEMORY'),
 (1, 'COLLECTION'),
 (1, 'EXPERIMENT'),
 (1, 'CONFIGURATIONS'),
 (1, 'GRACEFULLY'),
 (1, 'WHEN'),
 (1, 'READING'),
 (1, 'EXTERNAL'),
 (1, 'SOURCES'),
 (1, 'LIKE'),
 (1, 'HDFS'),
 (1, 'S3'),
 (1, 'TRY-CATCH'),
 (1, 'BLOCKS'),
 (1, 'MONITOR'),
 (1, 'PROGRESS'),
 (1, 'RESOURCE'),
 (1, 'IDENTIFY'),
 (1, 'TROUBLESHOOT'),
 (1, 'ERRORS'),
 (1, 'RETRY'),
 (1, 'AUTOMATICALLY'),
 (1, 'MECHANISMS'),
 (1, 'ADVANCED'),
 (1, 'PARTITIONER'),
 (1, 'SHUFFLE'),
 (1, 'COMPLEX'),
 (1, 'AGGREGATIONS'),
 (1, 'ZIP'),
 (1, 'PAIRED'),
 (1, 'SERIALIZATION'),
 (1, 'FORMAT'),
 (1, 'STORAGE'),
 (1, 'NETWORK'),
 (1, 'UTILIZE'),
 (1, 'EFFICIENT'),
 (1, 'CONCEPTS'),
 (1, 'APACHE'),
 (1, 'PROVIDING'),
 (1, 'OPPORTUNITIES'),
 (1, 'HANDS-ON'),
 (1, 'LEARNING'),
 (1, 'DEVELOPMENT'),
 (1, 'HERE'),
 (1, 'SPECIFIED'),
 (1, 'TOPICS:'),
 (1, 'WRITE'),
 (1, 'APPLICATION'),
 (1, 'READ'),
 (1, 'CONVERT'),
 (1, 'MAP'),
 (1, 'GIVEN'),
 (1, 'CONTAINING'),
 (1, 'STRINGS'),
 (1, 'UNION'),
 (1, 'SENTENCE'),
 (1, 'REMOVE'),
 (1, 'DUPLICATE'),
 (1, '2'),
 (1, 'FIND'),
 (1, 'MAX'),
 (1, 'COLLECT'),
 (1, 'FIRST'),
 (1, 'ARRAY'),
 (1, 'TAKE'),
 (1, 'CONTENTS'),
 (1, 'SAVEASTEXTFILE'),
 (1, '3'),
 (1, 'COMPUTE'),
 (1, 'REDUCEBYKEY'),
 (1, 'GROUP'),
 (1, 'COGROUP'),
 (1, 'PERSIST'),
 (1, 'SUBSEQUENT'),
 (1, 'EFFICIENTLY'),
 (1, 'LARGE'),
 (1, 'VARIABLES'),
 (1, 'NODES'),
 (1, 'REPARTITION'),
 (1, 'COALESCE'),
 (1, 'PARALLELISM'),
 (1, 'CLUSTER'),
 (1, 'EXECUTOR/MEMORY'),
 (1, 'SETTINGS'),
 (1, 'TOLERANCE:'),
 (1, 'LINEAGE'),
 (1, 'LOGIC'),
 (1, 'SPECIFIC'),
 (1, 'JOB'),
 (1, 'USAGE'),
 (1, 'UI'),
 (1, 'FAILED'),
 (1, 'TASKS'),
 (1, "SPARK'S"),
 (1, '6'),
 (1, 'DISTRIBUTION'),
 (1, 'AGGREGATEBYKEY'),
 (1, 'SCHEMAS'),
 (1, 'FOREACHPARTITION'),
 (1, 'BULK'),
 (1, 'THESE'),
 (1, 'COVER'),
 (1, 'WIDE'),
 (1, 'RANGE'),
 (1, 'SKILL')]

In [ ]:
s=s.reduceByKey(lambda x,y:x+" "+y)

print(s.collect())
s=s.map(lambda x:(x[0],x[1].split()))

[(2, 'PRACTICE QUESTIONS TEXT REDUCE NUMBER COMBINE CACHE TIME TAKEN PARTITIONS HANDLING EXCEPTIONS TOLERANCE OVERHEAD FILE ALL WORDS FILTER INTO SUM COUNT 5 JOIN BY PERFORMANCE MEASURE DIFFERENT ERROR HANDLE DATA CHECKPOINT'), (8, 'FOR PAIR'), (16, 'OF'), (6, 'C USE B RDDS D E ELEMENTS ACTION IN'), (4, 'KEY OPTIMIZE OPERATIONS: ON FROM'), (34, 'THE'), (20, 'A RDD'), (18, 'USING'), (1, "CERTAINLY ARE 1 UPPERCASE OUT NUMBERS GREATER THAN 10 CONCATENATE FLATMAP SENTENCES SPLIT DISTINCT CALCULATE MAXIMUM VALUE FLOATS LOCAL SAVE BASED THEIR KEYS GROUPBYKEY SORT SORTBYKEY SAME 4 OPTIMIZATION: MEMORY ACTIONS BROADCAST DISTRIBUTE READ-ONLY WORKER ADJUST PARALLELIZE IN-MEMORY COLLECTION EXPERIMENT CONFIGURATIONS GRACEFULLY WHEN READING EXTERNAL SOURCES LIKE HDFS S3 TRY-CATCH BLOCKS MONITOR PROGRESS RESOURCE IDENTIFY TROUBLESHOOT ERRORS RETRY AUTOMATICALLY MECHANISMS ADVANCED PARTITIONER SHUFFLE COMPLEX AGGREGATIONS ZIP PAIRED SERIALIZATION FORMAT STORAGE NETWORK UTILIZE EFFICIENT CONCEPTS APACHE PROVIDING OPPORTUNITIES HANDS-ON LEARNING DEVELOPMENT HERE SPECIFIED TOPICS: WRITE APPLICATION READ CONVERT MAP GIVEN CONTAINING STRINGS UNION SENTENCE REMOVE DUPLICATE 2 FIND MAX COLLECT FIRST ARRAY TAKE CONTENTS SAVEASTEXTFILE 3 COMPUTE REDUCEBYKEY GROUP COGROUP PERSIST SUBSEQUENT EFFICIENTLY LARGE VARIABLES NODES REPARTITION COALESCE PARALLELISM CLUSTER EXECUTOR/MEMORY SETTINGS TOLERANCE: LINEAGE LOGIC SPECIFIC JOB USAGE UI FAILED TASKS SPARK'S 6 DISTRIBUTION AGGREGATEBYKEY SCHEMAS FOREACHPARTITION BULK THESE COVER WIDE RANGE SKILL"), (3, 'SPARK TWO PERFORM IMPLEMENT CUSTOM EACH INTEGERS VALUES WITH OR CREATE OPERATIONS FAULT'), (19, 'TO'), (5, 'FUNCTION'), (13, 'TRANSFORMATION'), (11, 'AND AN')]

In [ ]:
s=s.sortByKey(False).collect()

In [ ]:
s[0],s[-1]

((34, ['THE']),
 (1,
  ['CERTAINLY',
   'ARE',
   '1',
   'UPPERCASE',
   'OUT',
   'NUMBERS',
   'GREATER',
   'THAN',
   '10',
   'CONCATENATE',
   'FLATMAP',
   'SENTENCES',
   'SPLIT',
   'DISTINCT',
   'CALCULATE',
   'MAXIMUM',
   'VALUE',
   'FLOATS',
   'LOCAL',
   'SAVE',
   'BASED',
   'THEIR',
   'KEYS',
   'GROUPBYKEY',
   'SORT',
   'SORTBYKEY',
   'SAME',
   '4',
   'OPTIMIZATION:',
   'MEMORY',
   'ACTIONS',
   'BROADCAST',
   'DISTRIBUTE',
   'READ-ONLY',
   'WORKER',
   'ADJUST',
   'PARALLELIZE',
   'IN-MEMORY',
   'COLLECTION',
   'EXPERIMENT',
   'CONFIGURATIONS',
   'GRACEFULLY',
   'WHEN',
   'READING',
   'EXTERNAL',
   'SOURCES',
   'LIKE',
   'HDFS',
   'S3',
   'TRY-CATCH',
   'BLOCKS',
   'MONITOR',
   'PROGRESS',
   'RESOURCE',
   'IDENTIFY',
   'TROUBLESHOOT',
   'ERRORS',
   'RETRY',
   'AUTOMATICALLY',
   'MECHANISMS',
   'ADVANCED',
   'PARTITIONER',
   'SHUFFLE',
   'COMPLEX',
   'AGGREGATIONS',
   'ZIP',
   'PAIRED',
   'SERIALIZATION',
   'FORMAT',
   'STORAGE',
   'NETWORK',
   'UTILIZE',
   'EFFICIENT',
   'CONCEPTS',
   'APACHE',
   'PROVIDING',
   'OPPORTUNITIES',
   'HANDS-ON',
   'LEARNING',
   'DEVELOPMENT',
   'HERE',
   'SPECIFIED',
   'TOPICS:',
   'WRITE',
   'APPLICATION',
   'READ',
   'CONVERT',
   'MAP',
   'GIVEN',
   'CONTAINING',
   'STRINGS',
   'UNION',
   'SENTENCE',
   'REMOVE',
   'DUPLICATE',
   '2',
   'FIND',
   'MAX',
   'COLLECT',
   'FIRST',
   'ARRAY',
   'TAKE',
   'CONTENTS',
   'SAVEASTEXTFILE',
   '3',
   'COMPUTE',
   'REDUCEBYKEY',
   'GROUP',
   'COGROUP',
   'PERSIST',
   'SUBSEQUENT',
   'EFFICIENTLY',
   'LARGE',
   'VARIABLES',
   'NODES',
   'REPARTITION',
   'COALESCE',
   'PARALLELISM',
   'CLUSTER',
   'EXECUTOR/MEMORY',
   'SETTINGS',
   'TOLERANCE:',
   'LINEAGE',
   'LOGIC',
   'SPECIFIC',
   'JOB',
   'USAGE',
   'UI',
   'FAILED',
   'TASKS',
   "SPARK'S",
   '6',
   'DISTRIBUTION',
   'AGGREGATEBYKEY',
   'SCHEMAS',
   'FOREACHPARTITION',
   'BULK',
   'THESE',
   'COVER',
   'WIDE',
   'RANGE',
   'SKILL']))

##Q1 b

In [ ]:
import random
rdd1b=spark.sparkContext.parallelize(random.sample(range(100),10))
rdd1b.collect()

[18, 61, 62, 48, 44, 0, 91, 43, 3, 77]

In [ ]:
rdd1b.filter(lambda x:x>10).collect()

[18, 61, 62, 48, 44, 91, 43, 77]

##Q1 c

In [ ]:
str1="Since I have not used any arguments for sorting by default it sorts in ascending order. This yields the below output in the console"
str2="The naive method to perform this particular task can be shortened using list comprehension. randrange function is used to perform the task of generating the random numbers. "
rstr1=spark.sparkContext.parallelize(str1.split())
rstr2=spark.sparkContext.parallelize(str2.split())
rstr1.union(rstr2).collect()

['Since',
 'I',
 'have',
 'not',
 'used',
 'any',
 'arguments',
 'for',
 'sorting',
 'by',
 'default',
 'it',
 'sorts',
 'in',
 'ascending',
 'order.',
 'This',
 'yields',
 'the',
 'below',
 'output',
 'in',
 'the',
 'console',
 'The',
 'naive',
 'method',
 'to',
 'perform',
 'this',
 'particular',
 'task',
 'can',
 'be',
 'shortened',
 'using',
 'list',
 'comprehension.',
 'randrange',
 'function',
 'is',
 'used',
 'to',
 'perform',
 'the',
 'task',
 'of',
 'generating',
 'the',
 'random',
 'numbers.']

##Q2

You have been given a dataset containing information about sales transactions. Each transaction consists of the following fields: transaction_id, customer_id, product_id, quantity, and amount. Your task is to analyze this dataset using PySpark and answer the following questions:

a)What is the total revenue generated from all transactions?

b)How many unique customers made purchases?

c)Which product generated the highest revenue, and what was the revenue?

d)What is the average quantity of products purchased per transaction?

e)Can you identify any outliers in the dataset? If so, how would you handle them?

In [ ]:
data=[[1,101,'A001',2,20.00]
,[2,102,'B002',1,15.50]
,[3,103,'C003',3,30.75]
,[4,101,'B002',2,31.00]
,[5,104,'A001',1,10.00]
,[6,105,'C003',2,25.50]
,[7,102,'A001',3,30.00]
,[8,103,'B002',1,15.50]
,[9,101,'A001',1,10.00]
,[10,104,'C003',2,25.50]]
schema=['transaction_id','customer_id','product_id','quantity','amount']
data=spark.createDataFrame(data=data,schema=schema)
data.show()
data.printSchema()

+--------------+-----------+----------+--------+------+
|transaction_id|customer_id|product_id|quantity|amount|
+--------------+-----------+----------+--------+------+
|             1|        101|      A001|       2|  20.0|
|             2|        102|      B002|       1|  15.5|
|             3|        103|      C003|       3| 30.75|
|             4|        101|      B002|       2|  31.0|
|             5|        104|      A001|       1|  10.0|
|             6|        105|      C003|       2|  25.5|
|             7|        102|      A001|       3|  30.0|
|             8|        103|      B002|       1|  15.5|
|             9|        101|      A001|       1|  10.0|
|            10|        104|      C003|       2|  25.5|
+--------------+-----------+----------+--------+------+

root
 |-- transaction_id: long (nullable = true)
 |-- customer_id: long (nullable = true)
 |-- product_id: string (nullable = true)
 |-- quantity: long (nullable = true)
 |-- amount: double (nullable = true)

In [ ]:
#a
import pyspark.sql.functions as F
data_rev=data.withColumn('revenue',F.col('quantity')*F.col('amount'))
data_rev.agg(F.sum('revenue')).show()

+------------+
|sum(revenue)|
+------------+
|      437.25|
+------------+

In [ ]:
#b
data.select('customer_id').distinct().show()

+-----------+
|customer_id|
+-----------+
|        103|
|        104|
|        105|
|        101|
|        102|
+-----------+

In [ ]:
#c
data_rev.groupBy('product_id').agg(F.sum('revenue').alias('total_revenue')).orderBy('total_revenue').show()

+----------+-------------+
|product_id|total_revenue|
+----------+-------------+
|      B002|         93.0|
|      A001|        150.0|
|      C003|       194.25|
+----------+-------------+

In [ ]:
#d
data_rev.agg(F.avg('quantity')).show()

+-------------+
|avg(quantity)|
+-------------+
|          1.8|
+-------------+

###29 Feb 2023
1)How to convert the index of a PySpark DataFrame into a column?

2)How to get the minimum, 25th percentile, median, 75th percentile, and maximum of a numeric column?

3)How to get frequency counts of unique items in a column?

In [ ]:
#1
df = spark.createDataFrame([
    ("Alice", 1),
    ("Bob", 2),
    ("Charlie", 3)
], ["Name", "Value"])

df.show()

import pyspark.sql.functions as F
from pyspark.sql.window import Window
w=Window.orderBy('Value')
df.withColumn('index',F.row_number().over(w)).show()

+-------+-----+
|   Name|Value|
+-------+-----+
|  Alice|    1|
|    Bob|    2|
|Charlie|    3|
+-------+-----+

+-------+-----+-----+
|   Name|Value|index|
+-------+-----+-----+
|  Alice|    1|    1|
|    Bob|    2|    2|
|Charlie|    3|    3|
+-------+-----+-----+

In [ ]:
#2
data = [
    ("A", 10), ("B", 20), ("C", 30),
    ("D", 40), ("E", 50), ("F", 15),
    ("G", 28), ("H", 54), ("I", 41),
    ("J", 86)
]
df = spark.createDataFrame(data, ["Name", "Age"])
df.show()
df.agg(F.min('Age').alias('Min'),F.max('Age').alias('Max'),F.percentile_approx('Age',0.25).alias('25th Per'),F.percentile_approx('Age',0.5).alias('Median'),F.percentile_approx('Age',0.75).alias('75th Per')).show()

+----+---+
|Name|Age|
+----+---+
|   A| 10|
|   B| 20|
|   C| 30|
|   D| 40|
|   E| 50|
|   F| 15|
|   G| 28|
|   H| 54|
|   I| 41|
|   J| 86|
+----+---+

+---+---+--------+------+--------+
|Min|Max|25th Per|Median|75th Per|
+---+---+--------+------+--------+
| 10| 86|      20|    30|      50|
+---+---+--------+------+--------+

In [ ]:
#3
data=[[1,101,'A001',2,20.00]
,[2,102,'B002',1,15.50]
,[3,103,'C003',3,30.75]
,[4,101,'B002',2,31.00]
,[5,104,'A001',1,10.00]
,[6,105,'C003',2,25.50]
,[7,102,'A001',3,30.00]
,[8,103,'B002',1,15.50]
,[9,101,'A001',1,10.00]
,[10,104,'C003',2,25.50]]
schema=['transaction_id','customer_id','product_id','quantity','amount']
data=spark.createDataFrame(data=data,schema=schema)
data.show()
data.groupBy('product_id').count().alias('Nymber').show()

+--------------+-----------+----------+--------+------+
|transaction_id|customer_id|product_id|quantity|amount|
+--------------+-----------+----------+--------+------+
|             1|        101|      A001|       2|  20.0|
|             2|        102|      B002|       1|  15.5|
|             3|        103|      C003|       3| 30.75|
|             4|        101|      B002|       2|  31.0|
|             5|        104|      A001|       1|  10.0|
|             6|        105|      C003|       2|  25.5|
|             7|        102|      A001|       3|  30.0|
|             8|        103|      B002|       1|  15.5|
|             9|        101|      A001|       1|  10.0|
|            10|        104|      C003|       2|  25.5|
+--------------+-----------+----------+--------+------+

+----------+-----+
|product_id|count|
+----------+-----+
|      B002|    3|
|      C003|    3|
|      A001|    4|
+----------+-----+

In [ ]:
dd=data.createOrReplaceTempView('newTV')
spark.sql('select product_id,count(*) as Number from newTV group by product_id').show()

+----------+------+
|product_id|Number|
+----------+------+
|      B002|     3|
|      C003|     3|
|      A001|     4|
+----------+------+

A Crash Couse in PySpark :Challenge

In [ ]:
df=spark.read.csv('challenge.csv',header=True,inferSchema=True)
df.show()
df.printSchema()

+---------------+--------------+-----------------+----------+
|     ip_address|       Country|      Domain Name|Bytes_used|
+---------------+--------------+-----------------+----------+
|  52.81.192.172|         China| odnoklassniki.ru|       463|
| 119.239.207.13|         China|         youtu.be|        51|
|  68.69.217.210|         China|        adobe.com|        10|
|   7.191.21.223|      Bulgaria|     linkedin.com|       853|
|   211.13.10.68|     Indonesia|          hud.gov|        29|
|   239.80.21.97|      Suriname|       smh.com.au|       218|
|106.214.106.233|       Jamaica|    amazonaws.com|        95|
| 127.242.24.138|         China| surveymonkey.com|       123|
|     99.2.6.139|Czech Republic|     geocities.jp|       322|
|   237.54.11.63|         China|       amazon.com|        83|
| 252.141.157.25|         Japan|      cornell.edu|       374|
|185.220.128.248|       Belgium|       weebly.com|       389|
|   151.77.19.45|   Afghanistan|independent.co.uk|       282|
|  9.161.158.225|     Indonesia|    bloglines.com|       726|
| 156.144.61.155|Czech Republic|   slideshare.net|       657|
|   8.96.188.151|     Indonesia|          ibm.com|       517|
|      5.72.7.65|        Mexico|         youtu.be|       877|
|227.110.112.144|       Croatia|         ehow.com|       287|
|    81.71.28.97|      Thailand|          last.fm|       588|
|  9.255.129.184|      Thailand|          mtv.com|       114|
+---------------+--------------+-----------------+----------+
only showing top 20 rows

root
 |-- ip_address: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Domain Name: string (nullable = true)
 |-- Bytes_used: integer (nullable = true)

In [ ]:
df.describe().show()

+-------+------------+-----------+-------------+------------------+
|summary|  ip_address|    Country|  Domain Name|        Bytes_used|
+-------+------------+-----------+-------------+------------------+
|  count|        1000|       1000|         1000|              1000|
|   mean|        null|       null|         null|           514.369|
| stddev|        null|       null|         null|287.66708047357156|
|    min|0.23.109.109|Afghanistan|123-reg.co.uk|                 1|
|    max|99.73.193.76|     Zambia|   zimbio.com|              1000|
+-------+------------+-----------+-------------+------------------+

In [ ]:
# add column to add if country is mexico
import pyspark.sql.functions as F
df=df.withColumn('Mexico',F.when(df.Country=='Mexico','Yes').otherwise('No'))
df.show()

+---------------+--------------+-----------------+----------+------+
|     ip_address|       Country|      Domain Name|Bytes_used|Mexico|
+---------------+--------------+-----------------+----------+------+
|  52.81.192.172|         China| odnoklassniki.ru|       463|    No|
| 119.239.207.13|         China|         youtu.be|        51|    No|
|  68.69.217.210|         China|        adobe.com|        10|    No|
|   7.191.21.223|      Bulgaria|     linkedin.com|       853|    No|
|   211.13.10.68|     Indonesia|          hud.gov|        29|    No|
|   239.80.21.97|      Suriname|       smh.com.au|       218|    No|
|106.214.106.233|       Jamaica|    amazonaws.com|        95|    No|
| 127.242.24.138|         China| surveymonkey.com|       123|    No|
|     99.2.6.139|Czech Republic|     geocities.jp|       322|    No|
|   237.54.11.63|         China|       amazon.com|        83|    No|
| 252.141.157.25|         Japan|      cornell.edu|       374|    No|
|185.220.128.248|       Belgium|       weebly.com|       389|    No|
|   151.77.19.45|   Afghanistan|independent.co.uk|       282|    No|
|  9.161.158.225|     Indonesia|    bloglines.com|       726|    No|
| 156.144.61.155|Czech Republic|   slideshare.net|       657|    No|
|   8.96.188.151|     Indonesia|          ibm.com|       517|    No|
|      5.72.7.65|        Mexico|         youtu.be|       877|   Yes|
|227.110.112.144|       Croatia|         ehow.com|       287|    No|
|    81.71.28.97|      Thailand|          last.fm|       588|    No|
|  9.255.129.184|      Thailand|          mtv.com|       114|    No|
+---------------+--------------+-----------------+----------+------+
only showing top 20 rows

In [ ]:
#2 group by new cal and sum used byte
df.groupby('Mexico').agg(F.sum('Bytes_used').alias('Total_Bytes_used')).show()

+------+----------------+
|Mexico|Total_Bytes_used|
+------+----------------+
|    No|          508076|
|   Yes|            6293|
+------+----------------+

In [ ]:
#3.df distanct ip used by country
df.groupby('Country').agg(F.countDistinct('ip_address').alias('D_ip')).show()

+-----------+----+
|    Country|D_ip|
+-----------+----+
|       Chad|   1|
|     Russia|  56|
|   Paraguay|   1|
|      Yemen|   1|
|     Sweden|  28|
|Philippines|  65|
|   Malaysia|   5|
|     Turkey|   1|
|     Malawi|   2|
|    Germany|   5|
|    Comoros|   1|
|Afghanistan|   5|
|     Rwanda|   1|
|      Sudan|   1|
|     France|  21|
|     Greece|   8|
|  Sri Lanka|   3|
|   Dominica|   1|
|  Argentina|  14|
|    Belgium|   1|
+-----------+----+
only showing top 20 rows

A Crash Couse in PySpark :Original data set clean it and give summary of dataset

In [ ]:
df=spark.read.csv('/content/original.csv',header=True,inferSchema=True)
df.show()
df.printSchema()

+---+----------+----------+------+---------------+--------------------+---------+----------+-----------+
| id|first_name| last_name|gender|           City|            JobTitle|   Salary|  Latitude|  Longitude|
+---+----------+----------+------+---------------+--------------------+---------+----------+-----------+
|  1|   Melinde| Shilburne|Female|      Nowa Ruda| Assistant Professor|$57438.18|50.5774075| 16.4967184|
|  2|  Kimberly|Von Welden|Female|         Bulgan|       Programmer II|$62846.60|48.8231572|103.5218199|
|  3|    Alvera|  Di Boldi|Female|           null|                null|$57576.52|39.9947462|116.3397725|
|  4|   Shannon| O'Griffin|  Male|  Divnomorskoye|Budget/Accounting...|$61489.23|44.5047212| 38.1300171|
|  5|  Sherwood|   Macieja|  Male|      Mytishchi|            VP Sales|$63863.09|      null| 37.6489954|
|  6|     Maris|      Folk|Female|Kinsealy-Drinan|      Civil Engineer|$30101.16|53.4266145| -6.1644997|
|  7|     Masha|    Divers|Female|         Dachun|                null|$25090.87| 24.879416| 118.930111|
|  8|   Goddart|     Flear|  Male|      Trlissac|Desktop Support T...|$46116.36|45.1905186|  0.7423124|
|  9|      Roth|O'Cannavan|  Male|         Heitan|VP Product Manage...|$73697.10| 32.027934| 106.657113|
| 10|      Bran|   Trahear|  Male|       Arbelez|Mechanical System...|$68098.42|  4.272793| -74.416014|
| 11|    Kylynn|   Lockart|Female|       El Cardo|Nuclear Power Eng...|$13604.63|     -5.85|-79.8833329|
| 12|       Rey|    Meharg|Female|    Wangqingtuo|Systems Administr...|$73423.70| 39.172378| 116.931607|
| 13|      Kerr|    Braden|  Male|      Sukowice|Compensation Analyst|$33432.99|49.8151822| 19.3771749|
| 14|    Mickie| Whanstall|  Male|    Springfield|Assistant Media P...|$50838.53|42.1014803|-72.5766759|
| 15|    Kaspar|     Pally|  Male|         Chrst|  Analyst Programmer|$40163.03|49.7923299| 13.4915324|
| 16|    Norbie|    Gwyllt|  Male|         Xijiao|              Editor|$32492.73|43.4945737|  5.8978018|
| 17|    Claude|    Briant|Female|      Miecisko|Research Assistan...|$51862.48|52.7441662| 17.3278637|
| 18|     Thain|    Habbon|  Male| Foros do Trapo|     Design Engineer|$42135.67| 38.696249| -8.7098337|
| 19|  Tiffanie|  Pattison|Female|    Jabungsisir|Senior Financial ...|$91925.08|-7.7232567|113.4686802|
| 20|    Ettore|  Gerriets|  Male|          Pedra| Staff Accountant IV|$73921.33|40.7172049| -8.3625148|
+---+----------+----------+------+---------------+--------------------+---------+----------+-----------+
only showing top 20 rows

root
 |-- id: integer (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- City: string (nullable = true)
 |-- JobTitle: string (nullable = true)
 |-- Salary: string (nullable = true)
 |-- Latitude: double (nullable = true)
 |-- Longitude: double (nullable = true)

In [ ]:
from pyspark.sql.functions import *
from pyspark.sql.types import FloatType
df=df.withColumn('int_sal',when(df.Salary.isNotNull(),df.Salary.substr(2,100)).otherwise(0).cast(FloatType()))
df.show()
df.printSchema()

+---+----------+----------+------+---------------+--------------------+---------+----------+-----------+--------+
| id|first_name| last_name|gender|           City|            JobTitle|   Salary|  Latitude|  Longitude| int_sal|
+---+----------+----------+------+---------------+--------------------+---------+----------+-----------+--------+
|  1|   Melinde| Shilburne|Female|      Nowa Ruda| Assistant Professor|$57438.18|50.5774075| 16.4967184|57438.18|
|  2|  Kimberly|Von Welden|Female|         Bulgan|       Programmer II|$62846.60|48.8231572|103.5218199| 62846.6|
|  3|    Alvera|  Di Boldi|Female|           null|                null|$57576.52|39.9947462|116.3397725|57576.52|
|  4|   Shannon| O'Griffin|  Male|  Divnomorskoye|Budget/Accounting...|$61489.23|44.5047212| 38.1300171|61489.23|
|  5|  Sherwood|   Macieja|  Male|      Mytishchi|            VP Sales|$63863.09|      null| 37.6489954|63863.09|
|  6|     Maris|      Folk|Female|Kinsealy-Drinan|      Civil Engineer|$30101.16|53.4266145| -6.1644997|30101.16|
|  7|     Masha|    Divers|Female|         Dachun|                null|$25090.87| 24.879416| 118.930111|25090.87|
|  8|   Goddart|     Flear|  Male|      Trlissac|Desktop Support T...|$46116.36|45.1905186|  0.7423124|46116.36|
|  9|      Roth|O'Cannavan|  Male|         Heitan|VP Product Manage...|$73697.10| 32.027934| 106.657113| 73697.1|
| 10|      Bran|   Trahear|  Male|       Arbelez|Mechanical System...|$68098.42|  4.272793| -74.416014|68098.42|
| 11|    Kylynn|   Lockart|Female|       El Cardo|Nuclear Power Eng...|$13604.63|     -5.85|-79.8833329|13604.63|
| 12|       Rey|    Meharg|Female|    Wangqingtuo|Systems Administr...|$73423.70| 39.172378| 116.931607| 73423.7|
| 13|      Kerr|    Braden|  Male|      Sukowice|Compensation Analyst|$33432.99|49.8151822| 19.3771749|33432.99|
| 14|    Mickie| Whanstall|  Male|    Springfield|Assistant Media P...|$50838.53|42.1014803|-72.5766759|50838.53|
| 15|    Kaspar|     Pally|  Male|         Chrst|  Analyst Programmer|$40163.03|49.7923299| 13.4915324|40163.03|
| 16|    Norbie|    Gwyllt|  Male|         Xijiao|              Editor|$32492.73|43.4945737|  5.8978018|32492.73|
| 17|    Claude|    Briant|Female|      Miecisko|Research Assistan...|$51862.48|52.7441662| 17.3278637|51862.48|
| 18|     Thain|    Habbon|  Male| Foros do Trapo|     Design Engineer|$42135.67| 38.696249| -8.7098337|42135.67|
| 19|  Tiffanie|  Pattison|Female|    Jabungsisir|Senior Financial ...|$91925.08|-7.7232567|113.4686802|91925.08|
| 20|    Ettore|  Gerriets|  Male|          Pedra| Staff Accountant IV|$73921.33|40.7172049| -8.3625148|73921.33|
+---+----------+----------+------+---------------+--------------------+---------+----------+-----------+--------+
only showing top 20 rows

root
 |-- id: integer (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- City: string (nullable = true)
 |-- JobTitle: string (nullable = true)
 |-- Salary: string (nullable = true)
 |-- Latitude: double (nullable = true)
 |-- Longitude: double (nullable = true)
 |-- int_sal: float (nullable = true)

In [ ]:
df=df.dropna(subset=['JobTitle'])

In [ ]:
df.show()
df.describe().show()

+---+----------+----------+------+---------------+--------------------+---------+----------+-----------+--------+
| id|first_name| last_name|gender|           City|            JobTitle|   Salary|  Latitude|  Longitude| int_sal|
+---+----------+----------+------+---------------+--------------------+---------+----------+-----------+--------+
|  1|   Melinde| Shilburne|Female|      Nowa Ruda| Assistant Professor|$57438.18|50.5774075| 16.4967184|57438.18|
|  2|  Kimberly|Von Welden|Female|         Bulgan|       Programmer II|$62846.60|48.8231572|103.5218199| 62846.6|
|  4|   Shannon| O'Griffin|  Male|  Divnomorskoye|Budget/Accounting...|$61489.23|44.5047212| 38.1300171|61489.23|
|  5|  Sherwood|   Macieja|  Male|      Mytishchi|            VP Sales|$63863.09|      null| 37.6489954|63863.09|
|  6|     Maris|      Folk|Female|Kinsealy-Drinan|      Civil Engineer|$30101.16|53.4266145| -6.1644997|30101.16|
|  8|   Goddart|     Flear|  Male|      Trlissac|Desktop Support T...|$46116.36|45.1905186|  0.7423124|46116.36|
|  9|      Roth|O'Cannavan|  Male|         Heitan|VP Product Manage...|$73697.10| 32.027934| 106.657113| 73697.1|
| 10|      Bran|   Trahear|  Male|       Arbelez|Mechanical System...|$68098.42|  4.272793| -74.416014|68098.42|
| 11|    Kylynn|   Lockart|Female|       El Cardo|Nuclear Power Eng...|$13604.63|     -5.85|-79.8833329|13604.63|
| 12|       Rey|    Meharg|Female|    Wangqingtuo|Systems Administr...|$73423.70| 39.172378| 116.931607| 73423.7|
| 13|      Kerr|    Braden|  Male|      Sukowice|Compensation Analyst|$33432.99|49.8151822| 19.3771749|33432.99|
| 14|    Mickie| Whanstall|  Male|    Springfield|Assistant Media P...|$50838.53|42.1014803|-72.5766759|50838.53|
| 15|    Kaspar|     Pally|  Male|         Chrst|  Analyst Programmer|$40163.03|49.7923299| 13.4915324|40163.03|
| 16|    Norbie|    Gwyllt|  Male|         Xijiao|              Editor|$32492.73|43.4945737|  5.8978018|32492.73|
| 17|    Claude|    Briant|Female|      Miecisko|Research Assistan...|$51862.48|52.7441662| 17.3278637|51862.48|
| 18|     Thain|    Habbon|  Male| Foros do Trapo|     Design Engineer|$42135.67| 38.696249| -8.7098337|42135.67|
| 19|  Tiffanie|  Pattison|Female|    Jabungsisir|Senior Financial ...|$91925.08|-7.7232567|113.4686802|91925.08|
| 20|    Ettore|  Gerriets|  Male|          Pedra| Staff Accountant IV|$73921.33|40.7172049| -8.3625148|73921.33|
| 21|      Alon|  Chasteau|  Male|          Xine|     Web Developer I|$62755.85|  49.16291|  127.98658|62755.85|
| 22|   Guthrey|    Johnke|  Male|         Xijiao|         Developer I|$13708.03|40.7576842| 23.1342184|13708.03|
+---+----------+----------+------+---------------+--------------------+---------+----------+-----------+--------+
only showing top 20 rows

+-------+------------------+----------+---------+------+-------------------+-------------------+---------+------------------+-----------------+-----------------+
|summary|                id|first_name|last_name|gender|               City|           JobTitle|   Salary|          Latitude|        Longitude|          int_sal|
+-------+------------------+----------+---------+------+-------------------+-------------------+---------+------------------+-----------------+-----------------+
|  count|               998|       998|      998|   998|                998|                998|      998|               997|              998|              998|
|   mean| 501.4929859719439|      null|     null|  null|               null|               null|     null| 25.41746395476429| 43.1886720751503|55516.32088199837|
| stddev|288.25420884638385|      null|     null|  null|               null|               null|     null|24.599409969856783|69.41033413752632|25863.13933185165|
|    min|                 1|   Abagail|    Abbay|Female|             Abch|Account Coordinator|$10101.92|        -54.281149|     -123.0419607|         10101.92|
|    max|              1000|    Zulema| de Marco|  Male|Arah al Qiblyah|   Web Developer IV|$99948.28|          69.63186|       175.282269|         99948.28|
+-------+------------------+----------+---------+------+-------------------+-------------------+---------+------------------+-----------------+-----------------+

In [ ]:
df.groupBy('gender').agg(avg('int_sal').alias('Avg')).show()

+------+------------------+
|gender|               Avg|
+------+------------------+
|Female|55677.250125558036|
|  Male| 55361.09385573019|
+------+------------------+

In [ ]:
df.groupBy('gender','JobTitle').agg(avg('int_sal').alias('Avg')).show() # avg salary earn by different gender in diff JobTitle

+------+--------------------+------------------+
|gender|            JobTitle|               Avg|
+------+--------------------+------------------+
|Female|    Statistician III|     44224.8984375|
|  Male|     Cost Accountant|40284.178466796875|
|Female|         Engineer IV|    67202.28515625|
|Female| Clinical Specialist|47270.971923828125|
|Female|    Dental Hygienist|25959.773111979168|
|Female|Research Assistan...|   35185.919921875|
|Female|  Nurse Practicioner|  58494.6212890625|
|  Male| Geological Engineer|     59347.6765625|
|  Male|            VP Sales| 67520.01497395833|
|Female|Systems Administr...|       77059.21875|
|Female|Automation Specia...|  44904.1357421875|
|  Male|      Civil Engineer|44401.872767857145|
|  Male|     Design Engineer|   64345.154296875|
|  Male|               Nurse|57115.446614583336|
|  Male|Nuclear Power Eng...|    54780.55546875|
|Female|        Food Chemist|   54655.248046875|
|  Male|Human Resources A...|  33218.5556640625|
|  Male|  Environmental Tech|     68491.3359375|
|  Male|Systems Administr...|    62163.80078125|
|  Male|        Engineer III| 67453.22135416667|
+------+--------------------+------------------+
only showing top 20 rows

In [ ]:
df.groupBy('gender','JobTitle').agg(count('id').alias('No_Employees')).show(truncate=False) # No of Emp working of diff gender in diff JobTitle

+------+-----------------------------+------------+
|gender|JobTitle                     |No_Employees|
+------+-----------------------------+------------+
|Female|Statistician III             |1           |
|Male  |Cost Accountant              |8           |
|Female|Engineer IV                  |2           |
|Female|Clinical Specialist          |4           |
|Female|Dental Hygienist             |6           |
|Female|Research Assistant IV        |2           |
|Female|Nurse Practicioner           |5           |
|Male  |Geological Engineer          |5           |
|Male  |VP Sales                     |6           |
|Female|Systems Administrator III    |2           |
|Female|Automation Specialist III    |2           |
|Male  |Civil Engineer               |7           |
|Male  |Design Engineer              |9           |
|Male  |Nurse                        |3           |
|Male  |Nuclear Power Engineer       |5           |
|Female|Food Chemist                 |2           |
|Male  |Human Resources Assistant III|2           |
|Male  |Environmental Tech           |4           |
|Male  |Systems Administrator II     |1           |
|Male  |Engineer III                 |3           |
+------+-----------------------------+------------+
only showing top 20 rows

Problem Statement :Ipl

In [ ]:
from pyspark.sql.functions import *

In [ ]:
ipl_df=spark.read.csv('/content/IPL_Matches_2008_2022.csv',header=True,inferSchema=True)
ipl_df.show()
ipl_df.printSchema()

+-------+-----------+----------+------+-----------+--------------------+--------------------+--------------------+--------------------+------------+---------+--------------------+-------+------+------+---------------+--------------------+--------------------+--------------------+--------------------+
|     ID|       City|      Date|Season|MatchNumber|               Team1|               Team2|               Venue|          TossWinner|TossDecision|SuperOver|         WinningTeam|  WonBy|Margin|method|Player_of_Match|        Team1Players|        Team2Players|             Umpire1|             Umpire2|
+-------+-----------+----------+------+-----------+--------------------+--------------------+--------------------+--------------------+------------+---------+--------------------+-------+------+------+---------------+--------------------+--------------------+--------------------+--------------------+
|1312200|  Ahmedabad|2022-05-29|  2022|      Final|    Rajasthan Royals|      Gujarat Titans|Narendra Modi Sta...|    Rajasthan Royals|         bat|        N|      Gujarat Titans|Wickets|     7|    NA|      HH Pandya|['YBK Jaiswal', '...|['WP Saha', 'Shub...|         CB Gaffaney|         Nitin Menon|
|1312199|  Ahmedabad|2022-05-27|  2022|Qualifier 2|Royal Challengers...|    Rajasthan Royals|Narendra Modi Sta...|    Rajasthan Royals|       field|        N|    Rajasthan Royals|Wickets|     7|    NA|     JC Buttler|['V Kohli', 'F du...|['YBK Jaiswal', '...|         CB Gaffaney|         Nitin Menon|
|1312198|    Kolkata|2022-05-25|  2022| Eliminator|Royal Challengers...|Lucknow Super Giants|Eden Gardens, Kol...|Lucknow Super Giants|       field|        N|Royal Challengers...|   Runs|    14|    NA|     RM Patidar|['V Kohli', 'F du...|['Q de Kock', 'KL...|       J Madanagopal|            MA Gough|
|1312197|    Kolkata|2022-05-24|  2022|Qualifier 1|    Rajasthan Royals|      Gujarat Titans|Eden Gardens, Kol...|      Gujarat Titans|       field|        N|      Gujarat Titans|Wickets|     7|    NA|      DA Miller|['YBK Jaiswal', '...|['WP Saha', 'Shub...|        BNJ Oxenford|           VK Sharma|
|1304116|     Mumbai|2022-05-22|  2022|         70| Sunrisers Hyderabad|        Punjab Kings|Wankhede Stadium,...| Sunrisers Hyderabad|         bat|        N|        Punjab Kings|Wickets|     5|    NA|  Harpreet Brar|['PK Garg', 'Abhi...|['JM Bairstow', '...|        AK Chaudhary|       NA Patwardhan|
|1304115|     Mumbai|2022-05-21|  2022|         69|      Delhi Capitals|      Mumbai Indians|Wankhede Stadium,...|      Mumbai Indians|       field|        N|      Mumbai Indians|Wickets|     5|    NA|      JJ Bumrah|['PP Shaw', 'DA W...|['Ishan Kishan', ...|         Nitin Menon|        Tapan Sharma|
|1304114|     Mumbai|2022-05-20|  2022|         68| Chennai Super Kings|    Rajasthan Royals|Brabourne Stadium...| Chennai Super Kings|         bat|        N|    Rajasthan Royals|Wickets|     5|    NA|       R Ashwin|['RD Gaikwad', 'D...|['YBK Jaiswal', '...|         CB Gaffaney|       NA Patwardhan|
|1304113|     Mumbai|2022-05-19|  2022|         67|      Gujarat Titans|Royal Challengers...|Wankhede Stadium,...|      Gujarat Titans|         bat|        N|Royal Challengers...|Wickets|     8|    NA|        V Kohli|['WP Saha', 'Shub...|['V Kohli', 'F du...|KN Ananthapadmana...|    GR Sadashiv Iyer|
|1304112|Navi Mumbai|2022-05-18|  2022|         66|Lucknow Super Giants|Kolkata Knight Ri...|Dr DY Patil Sport...|Lucknow Super Giants|         bat|        N|Lucknow Super Giants|   Runs|     2|    NA|      Q de Kock|['Q de Kock', 'KL...|['VR Iyer', 'A To...|            R Pandit|            YC Barde|
|1304111|     Mumbai|2022-05-17|  2022|         65| Sunrisers Hyderabad|      Mumbai Indians|Wankhede Stadium,...|      Mumbai Indians|       field|        N| Sunrisers Hyderabad|   Runs|     3|    NA|    RA Tripathi|['Abhishek Sharma...|['RG Sharma', 'Is...|         CB Gaffaney|            N Pandit|
|1304110|Navi Mumbai|2022-05-16|  2022|         64|      Delhi Capitals|        Punjab Kings|Dr DY Patil Sport...|        Punjab Kings|       field|        N|      Delhi Capitals|   Runs|    17|    NA|      SN Thakur|['DA Warner', 'SN...|['JM Bairstow', '...|    GR Sadashiv Iyer|         Nitin Menon|
|1304109|     Mumbai|2022-05-15|  2022|         63|    Rajasthan Royals|Lucknow Super Giants|Brabourne Stadium...|    Rajasthan Royals|         bat|        N|    Rajasthan Royals|   Runs|    24|    NA|       TA Boult|['YBK Jaiswal', '...|['Q de Kock', 'KL...|           PG Pathak|        Tapan Sharma|
|1304108|     Mumbai|2022-05-15|  2022|         62| Chennai Super Kings|      Gujarat Titans|Wankhede Stadium,...| Chennai Super Kings|         bat|        N|      Gujarat Titans|Wickets|     7|    NA|        WP Saha|['RD Gaikwad', 'D...|['WP Saha', 'Shub...|            R Pandit|           VK Sharma|
|1304107|       Pune|2022-05-14|  2022|         61|Kolkata Knight Ri...| Sunrisers Hyderabad|Maharashtra Crick...|Kolkata Knight Ri...|         bat|        N|Kolkata Knight Ri...|   Runs|    54|    NA|     AD Russell|['VR Iyer', 'AM R...|['Abhishek Sharma...|        AK Chaudhary|KN Ananthapadmana...|
|1304106|     Mumbai|2022-05-13|  2022|         60|        Punjab Kings|Royal Challengers...|Brabourne Stadium...|Royal Challengers...|       field|        N|        Punjab Kings|   Runs|    54|    NA|    JM Bairstow|['JM Bairstow', '...|['V Kohli', 'F du...|       J Madanagopal|            N Pandit|
|1304105|     Mumbai|2022-05-12|  2022|         59| Chennai Super Kings|      Mumbai Indians|Wankhede Stadium,...|      Mumbai Indians|       field|        N|      Mumbai Indians|Wickets|     5|    NA|        DR Sams|['RD Gaikwad', 'D...|['Ishan Kishan', ...|Chirra Ravikanthr...|         CB Gaffaney|
|1304104|Navi Mumbai|2022-05-11|  2022|         58|    Rajasthan Royals|      Delhi Capitals|Dr DY Patil Sport...|      Delhi Capitals|       field|        N|      Delhi Capitals|Wickets|     8|    NA|       MR Marsh|['YBK Jaiswal', '...|['KS Bharat', 'DA...|       NA Patwardhan|         Nitin Menon|
|1304103|       Pune|2022-05-10|  2022|         57|      Gujarat Titans|Lucknow Super Giants|Maharashtra Crick...|      Gujarat Titans|         bat|        N|      Gujarat Titans|   Runs|    62|    NA|   Shubman Gill|['WP Saha', 'Shub...|['Q de Kock', 'KL...|KN Ananthapadmana...|            MA Gough|
|1304102|Navi Mumbai|2022-05-09|  2022|         56|Kolkata Knight Ri...|      Mumbai Indians|Dr DY Patil Sport...|      Mumbai Indians|       field|        N|Kolkata Knight Ri...|   Runs|    52|    NA|      JJ Bumrah|['VR Iyer', 'AM R...|['RG Sharma', 'Is...|         CB Gaffaney|    GR Sadashiv Iyer|
|1304101|Navi Mumbai|2022-05-08|  2022|         55| Chennai Super Kings|      Delhi Capitals|Dr DY Patil Sport...|      Delhi Capitals|       field|        N| Chennai Super Kings|   Runs|    91|    NA|      DP Conway|['RD Gaikwad', 'D...|['DA Warner', 'KS...|         Nitin Menon|            R Pandit|
+-------+-----------+----------+------+-----------+--------------------+--------------------+--------------------+--------------------+------------+---------+--------------------+-------+------+------+---------------+--------------------+--------------------+--------------------+--------------------+
only showing top 20 rows

root
 |-- ID: integer (nullable = true)
 |-- City: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Season: string (nullable = true)
 |-- MatchNumber: string (nullable = true)
 |-- Team1: string (nullable = true)
 |-- Team2: string (nullable = true)
 |-- Venue: string (nullable = true)
 |-- TossWinner: string (nullable = true)
 |-- TossDecision: string (nullable = true)
 |-- SuperOver: string (nullable = true)
 |-- WinningTeam: string (nullable = true)
 |-- WonBy: string (nullable = true)
 |-- Margin: string (nullable = true)
 |-- method: string (nullable = true)
 |-- Player_of_Match: string (nullable = true)
 |-- Team1Players: string (nullable = true)
 |-- Team2Players: string (nullable = true)
 |-- Umpire1: string (nullable = true)
 |-- Umpire2: string (nullable = true)

In [ ]:
ipl_df=ipl_df.withColumn('TOSS_match_won',when(ipl_df.TossWinner==ipl_df.WinningTeam,1).otherwise(0))
ipl_df.show()

+-------+-----------+----------+------+-----------+--------------------+--------------------+--------------------+--------------------+------------+---------+--------------------+-------+------+------+---------------+--------------------+--------------------+--------------------+--------------------+--------------+
|     ID|       City|      Date|Season|MatchNumber|               Team1|               Team2|               Venue|          TossWinner|TossDecision|SuperOver|         WinningTeam|  WonBy|Margin|method|Player_of_Match|        Team1Players|        Team2Players|             Umpire1|             Umpire2|TOSS_match_won|
+-------+-----------+----------+------+-----------+--------------------+--------------------+--------------------+--------------------+------------+---------+--------------------+-------+------+------+---------------+--------------------+--------------------+--------------------+--------------------+--------------+
|1312200|  Ahmedabad|2022-05-29|  2022|      Final|    Rajasthan Royals|      Gujarat Titans|Narendra Modi Sta...|    Rajasthan Royals|         bat|        N|      Gujarat Titans|Wickets|     7|    NA|      HH Pandya|['YBK Jaiswal', '...|['WP Saha', 'Shub...|         CB Gaffaney|         Nitin Menon|             0|
|1312199|  Ahmedabad|2022-05-27|  2022|Qualifier 2|Royal Challengers...|    Rajasthan Royals|Narendra Modi Sta...|    Rajasthan Royals|       field|        N|    Rajasthan Royals|Wickets|     7|    NA|     JC Buttler|['V Kohli', 'F du...|['YBK Jaiswal', '...|         CB Gaffaney|         Nitin Menon|             1|
|1312198|    Kolkata|2022-05-25|  2022| Eliminator|Royal Challengers...|Lucknow Super Giants|Eden Gardens, Kol...|Lucknow Super Giants|       field|        N|Royal Challengers...|   Runs|    14|    NA|     RM Patidar|['V Kohli', 'F du...|['Q de Kock', 'KL...|       J Madanagopal|            MA Gough|             0|
|1312197|    Kolkata|2022-05-24|  2022|Qualifier 1|    Rajasthan Royals|      Gujarat Titans|Eden Gardens, Kol...|      Gujarat Titans|       field|        N|      Gujarat Titans|Wickets|     7|    NA|      DA Miller|['YBK Jaiswal', '...|['WP Saha', 'Shub...|        BNJ Oxenford|           VK Sharma|             1|
|1304116|     Mumbai|2022-05-22|  2022|         70| Sunrisers Hyderabad|        Punjab Kings|Wankhede Stadium,...| Sunrisers Hyderabad|         bat|        N|        Punjab Kings|Wickets|     5|    NA|  Harpreet Brar|['PK Garg', 'Abhi...|['JM Bairstow', '...|        AK Chaudhary|       NA Patwardhan|             0|
|1304115|     Mumbai|2022-05-21|  2022|         69|      Delhi Capitals|      Mumbai Indians|Wankhede Stadium,...|      Mumbai Indians|       field|        N|      Mumbai Indians|Wickets|     5|    NA|      JJ Bumrah|['PP Shaw', 'DA W...|['Ishan Kishan', ...|         Nitin Menon|        Tapan Sharma|             1|
|1304114|     Mumbai|2022-05-20|  2022|         68| Chennai Super Kings|    Rajasthan Royals|Brabourne Stadium...| Chennai Super Kings|         bat|        N|    Rajasthan Royals|Wickets|     5|    NA|       R Ashwin|['RD Gaikwad', 'D...|['YBK Jaiswal', '...|         CB Gaffaney|       NA Patwardhan|             0|
|1304113|     Mumbai|2022-05-19|  2022|         67|      Gujarat Titans|Royal Challengers...|Wankhede Stadium,...|      Gujarat Titans|         bat|        N|Royal Challengers...|Wickets|     8|    NA|        V Kohli|['WP Saha', 'Shub...|['V Kohli', 'F du...|KN Ananthapadmana...|    GR Sadashiv Iyer|             0|
|1304112|Navi Mumbai|2022-05-18|  2022|         66|Lucknow Super Giants|Kolkata Knight Ri...|Dr DY Patil Sport...|Lucknow Super Giants|         bat|        N|Lucknow Super Giants|   Runs|     2|    NA|      Q de Kock|['Q de Kock', 'KL...|['VR Iyer', 'A To...|            R Pandit|            YC Barde|             1|
|1304111|     Mumbai|2022-05-17|  2022|         65| Sunrisers Hyderabad|      Mumbai Indians|Wankhede Stadium,...|      Mumbai Indians|       field|        N| Sunrisers Hyderabad|   Runs|     3|    NA|    RA Tripathi|['Abhishek Sharma...|['RG Sharma', 'Is...|         CB Gaffaney|            N Pandit|             0|
|1304110|Navi Mumbai|2022-05-16|  2022|         64|      Delhi Capitals|        Punjab Kings|Dr DY Patil Sport...|        Punjab Kings|       field|        N|      Delhi Capitals|   Runs|    17|    NA|      SN Thakur|['DA Warner', 'SN...|['JM Bairstow', '...|    GR Sadashiv Iyer|         Nitin Menon|             0|
|1304109|     Mumbai|2022-05-15|  2022|         63|    Rajasthan Royals|Lucknow Super Giants|Brabourne Stadium...|    Rajasthan Royals|         bat|        N|    Rajasthan Royals|   Runs|    24|    NA|       TA Boult|['YBK Jaiswal', '...|['Q de Kock', 'KL...|           PG Pathak|        Tapan Sharma|             1|
|1304108|     Mumbai|2022-05-15|  2022|         62| Chennai Super Kings|      Gujarat Titans|Wankhede Stadium,...| Chennai Super Kings|         bat|        N|      Gujarat Titans|Wickets|     7|    NA|        WP Saha|['RD Gaikwad', 'D...|['WP Saha', 'Shub...|            R Pandit|           VK Sharma|             0|
|1304107|       Pune|2022-05-14|  2022|         61|Kolkata Knight Ri...| Sunrisers Hyderabad|Maharashtra Crick...|Kolkata Knight Ri...|         bat|        N|Kolkata Knight Ri...|   Runs|    54|    NA|     AD Russell|['VR Iyer', 'AM R...|['Abhishek Sharma...|        AK Chaudhary|KN Ananthapadmana...|             1|
|1304106|     Mumbai|2022-05-13|  2022|         60|        Punjab Kings|Royal Challengers...|Brabourne Stadium...|Royal Challengers...|       field|        N|        Punjab Kings|   Runs|    54|    NA|    JM Bairstow|['JM Bairstow', '...|['V Kohli', 'F du...|       J Madanagopal|            N Pandit|             0|
|1304105|     Mumbai|2022-05-12|  2022|         59| Chennai Super Kings|      Mumbai Indians|Wankhede Stadium,...|      Mumbai Indians|       field|        N|      Mumbai Indians|Wickets|     5|    NA|        DR Sams|['RD Gaikwad', 'D...|['Ishan Kishan', ...|Chirra Ravikanthr...|         CB Gaffaney|             1|
|1304104|Navi Mumbai|2022-05-11|  2022|         58|    Rajasthan Royals|      Delhi Capitals|Dr DY Patil Sport...|      Delhi Capitals|       field|        N|      Delhi Capitals|Wickets|     8|    NA|       MR Marsh|['YBK Jaiswal', '...|['KS Bharat', 'DA...|       NA Patwardhan|         Nitin Menon|             1|
|1304103|       Pune|2022-05-10|  2022|         57|      Gujarat Titans|Lucknow Super Giants|Maharashtra Crick...|      Gujarat Titans|         bat|        N|      Gujarat Titans|   Runs|    62|    NA|   Shubman Gill|['WP Saha', 'Shub...|['Q de Kock', 'KL...|KN Ananthapadmana...|            MA Gough|             1|
|1304102|Navi Mumbai|2022-05-09|  2022|         56|Kolkata Knight Ri...|      Mumbai Indians|Dr DY Patil Sport...|      Mumbai Indians|       field|        N|Kolkata Knight Ri...|   Runs|    52|    NA|      JJ Bumrah|['VR Iyer', 'AM R...|['RG Sharma', 'Is...|         CB Gaffaney|    GR Sadashiv Iyer|             0|
|1304101|Navi Mumbai|2022-05-08|  2022|         55| Chennai Super Kings|      Delhi Capitals|Dr DY Patil Sport...|      Delhi Capitals|       field|        N| Chennai Super Kings|   Runs|    91|    NA|      DP Conway|['RD Gaikwad', 'D...|['DA Warner', 'KS...|         Nitin Menon|            R Pandit|             0|
+-------+-----------+----------+------+-----------+--------------------+--------------------+--------------------+--------------------+------------+---------+--------------------+-------+------+------+---------------+--------------------+--------------------+--------------------+--------------------+--------------+
only showing top 20 rows

In [ ]:
#1)this code shows us total no of match that year and no of match won by team that played the match
ipl_df.groupBy('Season').agg(sum('TOSS_match_won').alias('Team_won_both_match_toss'),count('TOSS_match_won').alias('Total_no_of_matches')).show()

+-------+------------------------+-------------------+
| Season|Team_won_both_match_toss|Total_no_of_matches|
+-------+------------------------+-------------------+
|2009/10|                      31|                 60|
|   2016|                      34|                 60|
|   2012|                      33|                 74|
|   2019|                      36|                 60|
|   2017|                      34|                 59|
|   2014|                      30|                 60|
|   2013|                      36|                 76|
|2020/21|                      25|                 60|
|   2018|                      32|                 60|
|   2009|                      33|                 57|
|   2011|                      38|                 73|
|   2022|                      36|                 74|
|2007/08|                      28|                 58|
|   2021|                      35|                 60|
|   2015|                      28|                 59|
+-------+------------------------+-------------------+

In [ ]:
#2)teams with most wins
ipl_df.groupBy('WinningTeam').agg(count('ID').alias('No_of_match_won')).orderBy(desc('No_of_match_won')).show(truncate=False)

+---------------------------+---------------+
|WinningTeam                |No_of_match_won|
+---------------------------+---------------+
|Mumbai Indians             |131            |
|Chennai Super Kings        |121            |
|Kolkata Knight Riders      |114            |
|Royal Challengers Bangalore|109            |
|Rajasthan Royals           |96             |
|Kings XI Punjab            |88             |
|Sunrisers Hyderabad        |75             |
|Delhi Daredevils           |67             |
|Delhi Capitals             |36             |
|Deccan Chargers            |29             |
|Punjab Kings               |13             |
|Gujarat Lions              |13             |
|Pune Warriors              |12             |
|Gujarat Titans             |12             |
|Rising Pune Supergiant     |10             |
|Lucknow Super Giants       |9              |
|Kochi Tuskers Kerala       |6              |
|Rising Pune Supergiants    |5              |
|NA                         |4              |
+---------------------------+---------------+

In [ ]:
#2)teams with most wins
ipl_df.groupBy('WinningTeam').agg(count('ID').alias('No_of_match_won')).orderBy(desc('No_of_match_won')).show(truncate=False)

+---------------------------+---------------+
|WinningTeam                |No_of_match_won|
+---------------------------+---------------+
|Mumbai Indians             |131            |
|Chennai Super Kings        |121            |
|Kolkata Knight Riders      |114            |
|Royal Challengers Bangalore|109            |
|Rajasthan Royals           |96             |
|Kings XI Punjab            |88             |
|Sunrisers Hyderabad        |75             |
|Delhi Daredevils           |67             |
|Delhi Capitals             |36             |
|Deccan Chargers            |29             |
|Punjab Kings               |13             |
|Gujarat Lions              |13             |
|Gujarat Titans             |12             |
|Pune Warriors              |12             |
|Rising Pune Supergiant     |10             |
|Lucknow Super Giants       |9              |
|Kochi Tuskers Kerala       |6              |
|Rising Pune Supergiants    |5              |
|NA                         |4              |
+---------------------------+---------------+

In [ ]:
#3)teams with most playoff wins
ipl_df.groupBy('WinningTeam').agg(sum(when(ipl_df.MatchNumber.contains('a'),1).otherwise(0)).alias('No_of_playOff_win')).orderBy(desc('No_of_playOff_win')).show()

+--------------------+-----------------+
|         WinningTeam|No_of_playOff_win|
+--------------------+-----------------+
| Chennai Super Kings|               15|
|      Mumbai Indians|               12|
|Kolkata Knight Ri...|                8|
|Royal Challengers...|                6|
| Sunrisers Hyderabad|                5|
|    Rajasthan Royals|                4|
|      Delhi Capitals|                2|
|     Deccan Chargers|                2|
|      Gujarat Titans|                2|
|     Kings XI Punjab|                1|
|Rising Pune Super...|                1|
|Lucknow Super Giants|                0|
|                  NA|                0|
|Rising Pune Super...|                0|
|Kochi Tuskers Kerala|                0|
|       Gujarat Lions|                0|
|        Punjab Kings|                0|
|       Pune Warriors|                0|
|    Delhi Daredevils|                0|
+--------------------+-----------------+

In [ ]:
# 4)player with most Player_of_Match
ipl_df.groupBy('Player_of_Match').agg(count('ID').alias('No_of_POM_won')).orderBy(desc('No_of_POM_won')).show()

+---------------+-------------+
|Player_of_Match|No_of_POM_won|
+---------------+-------------+
| AB de Villiers|           25|
|       CH Gayle|           22|
|      DA Warner|           18|
|      RG Sharma|           18|
|       MS Dhoni|           17|
|      SR Watson|           16|
|      YK Pathan|           16|
|        V Kohli|           14|
|       SK Raina|           14|
|     KA Pollard|           14|
|      G Gambhir|           13|
|       A Mishra|           12|
|       KL Rahul|           12|
|      AM Rahane|           12|
|     MEK Hussey|           12|
|      SP Narine|           12|
|     AD Russell|           12|
|       V Sehwag|           11|
|       S Dhawan|           11|
|       DR Smith|           11|
+---------------+-------------+
only showing top 20 rows

In [ ]:
#5)No of match won by chasing or defending
ipl_df.groupBy('WonBy').agg(count('ID').alias('No_of_matches')).show()

+---------+-------------+
|    WonBy|No_of_matches|
+---------+-------------+
|     Runs|          423|
|  Wickets|          509|
|NoResults|            4|
|SuperOver|           14|
+---------+-------------+

In [ ]:
#6)to calculate win percentage and no of match won and played by team

In [ ]:
match_won=ipl_df.groupBy('WinningTeam').agg(count('ID').alias('No_of_Match_Won')).orderBy(desc('No_of_Match_Won'))
match_won.show()

+--------------------+---------------+
|         WinningTeam|No_of_Match_Won|
+--------------------+---------------+
|      Mumbai Indians|            131|
| Chennai Super Kings|            121|
|Kolkata Knight Ri...|            114|
|Royal Challengers...|            109|
|    Rajasthan Royals|             96|
|     Kings XI Punjab|             88|
| Sunrisers Hyderabad|             75|
|    Delhi Daredevils|             67|
|      Delhi Capitals|             36|
|     Deccan Chargers|             29|
|       Gujarat Lions|             13|
|        Punjab Kings|             13|
|      Gujarat Titans|             12|
|       Pune Warriors|             12|
|Rising Pune Super...|             10|
|Lucknow Super Giants|              9|
|Kochi Tuskers Kerala|              6|
|Rising Pune Super...|              5|
|                  NA|              4|
+--------------------+---------------+

In [ ]:
t1=ipl_df.select('ID','Team1')
t2=ipl_df.select('ID','Team2')

In [ ]:
t=t1.union(t2)
t=t.groupBy('Team1').agg(count('ID').alias('Match_played'))
t.show()

+--------------------+------------+
|               Team1|Match_played|
+--------------------+------------+
| Sunrisers Hyderabad|         152|
|Lucknow Super Giants|          15|
| Chennai Super Kings|         208|
|      Gujarat Titans|          16|
|Rising Pune Super...|          16|
|     Deccan Chargers|          75|
|Kochi Tuskers Kerala|          14|
|    Rajasthan Royals|         192|
|       Gujarat Lions|          30|
|Royal Challengers...|         226|
|Kolkata Knight Ri...|         223|
|Rising Pune Super...|          14|
|     Kings XI Punjab|         190|
|        Punjab Kings|          28|
|       Pune Warriors|          46|
|    Delhi Daredevils|         161|
|      Delhi Capitals|          63|
|      Mumbai Indians|         231|
+--------------------+------------+

In [ ]:
Win_per_df=match_won.join(t,match_won.WinningTeam==t.Team1)
Win_per_df.show()

+--------------------+---------------+--------------------+------------+
|         WinningTeam|No_of_Match_Won|               Team1|Match_played|
+--------------------+---------------+--------------------+------------+
| Sunrisers Hyderabad|             75| Sunrisers Hyderabad|         152|
|Lucknow Super Giants|              9|Lucknow Super Giants|          15|
| Chennai Super Kings|            121| Chennai Super Kings|         208|
|      Gujarat Titans|             12|      Gujarat Titans|          16|
|Rising Pune Super...|             10|Rising Pune Super...|          16|
|     Deccan Chargers|             29|     Deccan Chargers|          75|
|Kochi Tuskers Kerala|              6|Kochi Tuskers Kerala|          14|
|    Rajasthan Royals|             96|    Rajasthan Royals|         192|
|       Gujarat Lions|             13|       Gujarat Lions|          30|
|Royal Challengers...|            109|Royal Challengers...|         226|
|Kolkata Knight Ri...|            114|Kolkata Knight Ri...|         223|
|Rising Pune Super...|              5|Rising Pune Super...|          14|
|     Kings XI Punjab|             88|     Kings XI Punjab|         190|
|        Punjab Kings|             13|        Punjab Kings|          28|
|       Pune Warriors|             12|       Pune Warriors|          46|
|    Delhi Daredevils|             67|    Delhi Daredevils|         161|
|      Delhi Capitals|             36|      Delhi Capitals|          63|
|      Mumbai Indians|            131|      Mumbai Indians|         231|
+--------------------+---------------+--------------------+------------+

In [ ]:
Win_per_df.withColumn('win_pec',Win_per_df.No_of_Match_Won*100/Win_per_df.Match_played).select('Team1','No_of_Match_Won','Match_played','win_pec').show()

+--------------------+---------------+------------+------------------+
|               Team1|No_of_Match_Won|Match_played|           win_pec|
+--------------------+---------------+------------+------------------+
| Sunrisers Hyderabad|             75|         152|  49.3421052631579|
|Lucknow Super Giants|              9|          15|              60.0|
| Chennai Super Kings|            121|         208| 58.17307692307692|
|      Gujarat Titans|             12|          16|              75.0|
|Rising Pune Super...|             10|          16|              62.5|
|     Deccan Chargers|             29|          75|38.666666666666664|
|Kochi Tuskers Kerala|              6|          14|42.857142857142854|
|    Rajasthan Royals|             96|         192|              50.0|
|       Gujarat Lions|             13|          30|43.333333333333336|
|Royal Challengers...|            109|         226|48.230088495575224|
|Kolkata Knight Ri...|            114|         223| 51.12107623318386|
|Rising Pune Super...|              5|          14|35.714285714285715|
|     Kings XI Punjab|             88|         190| 46.31578947368421|
|        Punjab Kings|             13|          28| 46.42857142857143|
|       Pune Warriors|             12|          46| 26.08695652173913|
|    Delhi Daredevils|             67|         161| 41.61490683229814|
|      Delhi Capitals|             36|          63|57.142857142857146|
|      Mumbai Indians|            131|         231| 56.70995670995671|
+--------------------+---------------+------------+------------------+

7)to find the number of matches played by each players

In [ ]:
def add_two_list(a,b):
  return a[1:-1]+','+b[1:-1]

udf_add_two_list=udf(add_two_list)
players_df=ipl_df.withColumn('Players_Name',udf_add_two_list(ipl_df.Team1Players,ipl_df.Team2Players))
players_df.show(truncate=False)

+-------+-----------+----------+------+-----------+---------------------------+---------------------------+---------------------------------------------+---------------------------+------------+---------+---------------------------+-------+------+------+---------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------------------+---------------------+--------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|ID     |City       |Date      |Season|MatchNumber|Team1                      |Team2                      |Venue                                        |TossWinner                 |TossDecision|SuperOver|WinningTeam                |WonBy  |Margin|method|Player_of_Match|Team1Players                                                                                                                                                              |Team2Players                                                                                                                                                             |Umpire1              |Umpire2              |TOSS_match_won|Players_Name                                                                                                                                                                                                                                                                                                                         |
+-------+-----------+----------+------+-----------+---------------------------+---------------------------+---------------------------------------------+---------------------------+------------+---------+---------------------------+-------+------+------+---------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------------------+---------------------+--------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|1312200|Ahmedabad  |2022-05-29|2022  |Final      |Rajasthan Royals           |Gujarat Titans             |Narendra Modi Stadium, Ahmedabad             |Rajasthan Royals           |bat         |N        |Gujarat Titans             |Wickets|7     |NA    |HH Pandya      |['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D Padikkal', 'SO Hetmyer', 'R Ashwin', 'R Parag', 'TA Boult', 'OC McCoy', 'M Prasidh Krishna', 'YS Chahal']                   |['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pandya', 'DA Miller', 'R Tewatia', 'Rashid Khan', 'R Sai Kishore', 'LH Ferguson', 'Yash Dayal', 'Mohammed Shami']             |CB Gaffaney          |Nitin Menon          |0             |'YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D Padikkal', 'SO Hetmyer', 'R Ashwin', 'R Parag', 'TA Boult', 'OC McCoy', 'M Prasidh Krishna', 'YS Chahal','WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pandya', 'DA Miller', 'R Tewatia', 'Rashid Khan', 'R Sai Kishore', 'LH Ferguson', 'Yash Dayal', 'Mohammed Shami'                     |
|1312199|Ahmedabad  |2022-05-27|2022  |Qualifier 2|Royal Challengers Bangalore|Rajasthan Royals           |Narendra Modi Stadium, Ahmedabad             |Rajasthan Royals           |field       |N        |Rajasthan Royals           |Wickets|7     |NA    |JC Buttler     |['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ Maxwell', 'MK Lomror', 'KD Karthik', 'Shahbaz Ahmed', 'PWH de Silva', 'HV Patel', 'JR Hazlewood', 'Mohammed Siraj']         |['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D Padikkal', 'SO Hetmyer', 'R Parag', 'R Ashwin', 'TA Boult', 'YS Chahal', 'M Prasidh Krishna', 'OC McCoy']                  |CB Gaffaney          |Nitin Menon          |1             |'V Kohli', 'F du Plessis', 'RM Patidar', 'GJ Maxwell', 'MK Lomror', 'KD Karthik', 'Shahbaz Ahmed', 'PWH de Silva', 'HV Patel', 'JR Hazlewood', 'Mohammed Siraj','YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D Padikkal', 'SO Hetmyer', 'R Parag', 'R Ashwin', 'TA Boult', 'YS Chahal', 'M Prasidh Krishna', 'OC McCoy'                |
|1312198|Kolkata    |2022-05-25|2022  |Eliminator |Royal Challengers Bangalore|Lucknow Super Giants       |Eden Gardens, Kolkata                        |Lucknow Super Giants       |field       |N        |Royal Challengers Bangalore|Runs   |14    |NA    |RM Patidar     |['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ Maxwell', 'MK Lomror', 'KD Karthik', 'Shahbaz Ahmed', 'HV Patel', 'PWH de Silva', 'JR Hazlewood', 'Mohammed Siraj']         |['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda', 'MP Stoinis', 'E Lewis', 'KH Pandya', 'PVD Chameera', 'Mohsin Khan', 'Avesh Khan', 'Ravi Bishnoi']                      |J Madanagopal        |MA Gough             |0             |'V Kohli', 'F du Plessis', 'RM Patidar', 'GJ Maxwell', 'MK Lomror', 'KD Karthik', 'Shahbaz Ahmed', 'HV Patel', 'PWH de Silva', 'JR Hazlewood', 'Mohammed Siraj','Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda', 'MP Stoinis', 'E Lewis', 'KH Pandya', 'PVD Chameera', 'Mohsin Khan', 'Avesh Khan', 'Ravi Bishnoi'                    |
|1312197|Kolkata    |2022-05-24|2022  |Qualifier 1|Rajasthan Royals           |Gujarat Titans             |Eden Gardens, Kolkata                        |Gujarat Titans             |field       |N        |Gujarat Titans             |Wickets|7     |NA    |DA Miller      |['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D Padikkal', 'SO Hetmyer', 'R Parag', 'R Ashwin', 'TA Boult', 'YS Chahal', 'M Prasidh Krishna', 'OC McCoy']                   |['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pandya', 'DA Miller', 'R Tewatia', 'Rashid Khan', 'R Sai Kishore', 'AS Joseph', 'Yash Dayal', 'Mohammed Shami']               |BNJ Oxenford         |VK Sharma            |1             |'YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D Padikkal', 'SO Hetmyer', 'R Parag', 'R Ashwin', 'TA Boult', 'YS Chahal', 'M Prasidh Krishna', 'OC McCoy','WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pandya', 'DA Miller', 'R Tewatia', 'Rashid Khan', 'R Sai Kishore', 'AS Joseph', 'Yash Dayal', 'Mohammed Shami'                       |
|1304116|Mumbai     |2022-05-22|2022  |70         |Sunrisers Hyderabad        |Punjab Kings               |Wankhede Stadium, Mumbai                     |Sunrisers Hyderabad        |bat         |N        |Punjab Kings               |Wickets|5     |NA    |Harpreet Brar  |['PK Garg', 'Abhishek Sharma', 'RA Tripathi', 'AK Markram', 'N Pooran', 'Washington Sundar', 'R Shepherd', 'J Suchith', 'B Kumar', 'Umran Malik', 'Fazalhaq Farooqi']     |['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan', 'MA Agarwal', 'LS Livingstone', 'JM Sharma', 'PN Mankad', 'Harpreet Brar', 'K Rabada', 'NT Ellis', 'Arshdeep Singh']      |AK Chaudhary         |NA Patwardhan        |0             |'PK Garg', 'Abhishek Sharma', 'RA Tripathi', 'AK Markram', 'N Pooran', 'Washington Sundar', 'R Shepherd', 'J Suchith', 'B Kumar', 'Umran Malik', 'Fazalhaq Farooqi','JM Bairstow', 'S Dhawan', 'M Shahrukh Khan', 'MA Agarwal', 'LS Livingstone', 'JM Sharma', 'PN Mankad', 'Harpreet Brar', 'K Rabada', 'NT Ellis', 'Arshdeep Singh'|
|1304115|Mumbai     |2022-05-21|2022  |69         |Delhi Capitals             |Mumbai Indians             |Wankhede Stadium, Mumbai                     |Mumbai Indians             |field       |N        |Mumbai Indians             |Wickets|5     |NA    |JJ Bumrah      |['PP Shaw', 'DA Warner', 'MR Marsh', 'RR Pant', 'SN Khan', 'R Powell', 'AR Patel', 'SN Thakur', 'Kuldeep Yadav', 'A Nortje', 'KK Ahmed']                                  |['Ishan Kishan', 'RG Sharma', 'D Brevis', 'Tilak Varma', 'TH David', 'Ramandeep Singh', 'DR Sams', 'HR Shokeen', 'JJ Bumrah', 'M Markande', 'RP Meredith']               |Nitin Menon          |Tapan Sharma         |1             |'PP Shaw', 'DA Warner', 'MR Marsh', 'RR Pant', 'SN Khan', 'R Powell', 'AR Patel', 'SN Thakur', 'Kuldeep Yadav', 'A Nortje', 'KK Ahmed','Ishan Kishan', 'RG Sharma', 'D Brevis', 'Tilak Varma', 'TH David', 'Ramandeep Singh', 'DR Sams', 'HR Shokeen', 'JJ Bumrah', 'M Markande', 'RP Meredith'                                      |
|1304114|Mumbai     |2022-05-20|2022  |68         |Chennai Super Kings        |Rajasthan Royals           |Brabourne Stadium, Mumbai                    |Chennai Super Kings        |bat         |N        |Rajasthan Royals           |Wickets|5     |NA    |R Ashwin       |['RD Gaikwad', 'DP Conway', 'MM Ali', 'N Jagadeesan', 'AT Rayudu', 'MS Dhoni', 'MJ Santner', 'Simarjeet Singh', 'Mukesh Choudhary', 'PH Solanki', 'M Pathirana']          |['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D Padikkal', 'R Ashwin', 'SO Hetmyer', 'R Parag', 'TA Boult', 'YS Chahal', 'M Prasidh Krishna', 'OC McCoy']                  |CB Gaffaney          |NA Patwardhan        |0             |'RD Gaikwad', 'DP Conway', 'MM Ali', 'N Jagadeesan', 'AT Rayudu', 'MS Dhoni', 'MJ Santner', 'Simarjeet Singh', 'Mukesh Choudhary', 'PH Solanki', 'M Pathirana','YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D Padikkal', 'R Ashwin', 'SO Hetmyer', 'R Parag', 'TA Boult', 'YS Chahal', 'M Prasidh Krishna', 'OC McCoy'                 |
|1304113|Mumbai     |2022-05-19|2022  |67         |Gujarat Titans             |Royal Challengers Bangalore|Wankhede Stadium, Mumbai                     |Gujarat Titans             |bat         |N        |Royal Challengers Bangalore|Wickets|8     |NA    |V Kohli        |['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pandya', 'DA Miller', 'R Tewatia', 'Rashid Khan', 'R Sai Kishore', 'LH Ferguson', 'Yash Dayal', 'Mohammed Shami']              |['V Kohli', 'F du Plessis', 'GJ Maxwell', 'KD Karthik', 'RM Patidar', 'MK Lomror', 'Shahbaz Ahmed', 'HV Patel', 'PWH de Silva', 'JR Hazlewood', 'S Kaul']                |KN Ananthapadmanabhan|GR Sadashiv Iyer     |0             |'WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pandya', 'DA Miller', 'R Tewatia', 'Rashid Khan', 'R Sai Kishore', 'LH Ferguson', 'Yash Dayal', 'Mohammed Shami','V Kohli', 'F du Plessis', 'GJ Maxwell', 'KD Karthik', 'RM Patidar', 'MK Lomror', 'Shahbaz Ahmed', 'HV Patel', 'PWH de Silva', 'JR Hazlewood', 'S Kaul'                   |
|1304112|Navi Mumbai|2022-05-18|2022  |66         |Lucknow Super Giants       |Kolkata Knight Riders      |Dr DY Patil Sports Academy, Mumbai           |Lucknow Super Giants       |bat         |N        |Lucknow Super Giants       |Runs   |2     |NA    |Q de Kock      |['Q de Kock', 'KL Rahul', 'E Lewis', 'DJ Hooda', 'M Vohra', 'MP Stoinis', 'JO Holder', 'K Gowtham', 'Mohsin Khan', 'Avesh Khan', 'Ravi Bishnoi']                          |['VR Iyer', 'A Tomar', 'N Rana', 'SS Iyer', 'SW Billings', 'AD Russell', 'RK Singh', 'SP Narine', 'UT Yadav', 'TG Southee', 'CV Varun']                                  |R Pandit             |YC Barde             |1             |'Q de Kock', 'KL Rahul', 'E Lewis', 'DJ Hooda', 'M Vohra', 'MP Stoinis', 'JO Holder', 'K Gowtham', 'Mohsin Khan', 'Avesh Khan', 'Ravi Bishnoi','VR Iyer', 'A Tomar', 'N Rana', 'SS Iyer', 'SW Billings', 'AD Russell', 'RK Singh', 'SP Narine', 'UT Yadav', 'TG Southee', 'CV Varun'                                                 |
|1304111|Mumbai     |2022-05-17|2022  |65         |Sunrisers Hyderabad        |Mumbai Indians             |Wankhede Stadium, Mumbai                     |Mumbai Indians             |field       |N        |Sunrisers Hyderabad        |Runs   |3     |NA    |RA Tripathi    |['Abhishek Sharma', 'PK Garg', 'RA Tripathi', 'N Pooran', 'AK Markram', 'KS Williamson', 'Washington Sundar', 'B Kumar', 'Umran Malik', 'T Natarajan', 'Fazalhaq Farooqi']|['RG Sharma', 'Ishan Kishan', 'DR Sams', 'Tilak Varma', 'TH David', 'T Stubbs', 'Ramandeep Singh', 'R Sanjay Yadav', 'JJ Bumrah', 'M Markande', 'RP Meredith']           |CB Gaffaney          |N Pandit             |0             |'Abhishek Sharma', 'PK Garg', 'RA Tripathi', 'N Pooran', 'AK Markram', 'KS Williamson', 'Washington Sundar', 'B Kumar', 'Umran Malik', 'T Natarajan', 'Fazalhaq Farooqi','RG Sharma', 'Ishan Kishan', 'DR Sams', 'Tilak Varma', 'TH David', 'T Stubbs', 'Ramandeep Singh', 'R Sanjay Yadav', 'JJ Bumrah', 'M Markande', 'RP Meredith'|
|1304110|Navi Mumbai|2022-05-16|2022  |64         |Delhi Capitals             |Punjab Kings               |Dr DY Patil Sports Academy, Mumbai           |Punjab Kings               |field       |N        |Delhi Capitals             |Runs   |17    |NA    |SN Thakur      |['DA Warner', 'SN Khan', 'MR Marsh', 'Lalit Yadav', 'RR Pant', 'R Powell', 'AR Patel', 'SN Thakur', 'Kuldeep Yadav', 'A Nortje', 'KK Ahmed']                              |['JM Bairstow', 'S Dhawan', 'PBB Rajapaksa', 'LS Livingstone', 'MA Agarwal', 'JM Sharma', 'Harpreet Brar', 'R Dhawan', 'RD Chahar', 'K Rabada', 'Arshdeep Singh']        |GR Sadashiv Iyer     |Nitin Menon          |0             |'DA Warner', 'SN Khan', 'MR Marsh', 'Lalit Yadav', 'RR Pant', 'R Powell', 'AR Patel', 'SN Thakur', 'Kuldeep Yadav', 'A Nortje', 'KK Ahmed','JM Bairstow', 'S Dhawan', 'PBB Rajapaksa', 'LS Livingstone', 'MA Agarwal', 'JM Sharma', 'Harpreet Brar', 'R Dhawan', 'RD Chahar', 'K Rabada', 'Arshdeep Singh'                           |
|1304109|Mumbai     |2022-05-15|2022  |63         |Rajasthan Royals           |Lucknow Super Giants       |Brabourne Stadium, Mumbai                    |Rajasthan Royals           |bat         |N        |Rajasthan Royals           |Runs   |24    |NA    |TA Boult       |['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D Padikkal', 'R Parag', 'JDS Neesham', 'R Ashwin', 'TA Boult', 'M Prasidh Krishna', 'YS Chahal', 'OC McCoy']                  |['Q de Kock', 'KL Rahul', 'A Badoni', 'DJ Hooda', 'KH Pandya', 'MP Stoinis', 'JO Holder', 'PVD Chameera', 'Mohsin Khan', 'Avesh Khan', 'Ravi Bishnoi']                   |PG Pathak            |Tapan Sharma         |1             |'YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D Padikkal', 'R Parag', 'JDS Neesham', 'R Ashwin', 'TA Boult', 'M Prasidh Krishna', 'YS Chahal', 'OC McCoy','Q de Kock', 'KL Rahul', 'A Badoni', 'DJ Hooda', 'KH Pandya', 'MP Stoinis', 'JO Holder', 'PVD Chameera', 'Mohsin Khan', 'Avesh Khan', 'Ravi Bishnoi'                          |
|1304108|Mumbai     |2022-05-15|2022  |62         |Chennai Super Kings        |Gujarat Titans             |Wankhede Stadium, Mumbai                     |Chennai Super Kings        |bat         |N        |Gujarat Titans             |Wickets|7     |NA    |WP Saha        |['RD Gaikwad', 'DP Conway', 'MM Ali', 'N Jagadeesan', 'S Dube', 'MS Dhoni', 'MJ Santner', 'PH Solanki', 'Simarjeet Singh', 'M Pathirana', 'Mukesh Choudhary']             |['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pandya', 'DA Miller', 'R Tewatia', 'Rashid Khan', 'R Sai Kishore', 'AS Joseph', 'Yash Dayal', 'Mohammed Shami']               |R Pandit             |VK Sharma            |0             |'RD Gaikwad', 'DP Conway', 'MM Ali', 'N Jagadeesan', 'S Dube', 'MS Dhoni', 'MJ Santner', 'PH Solanki', 'Simarjeet Singh', 'M Pathirana', 'Mukesh Choudhary','WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pandya', 'DA Miller', 'R Tewatia', 'Rashid Khan', 'R Sai Kishore', 'AS Joseph', 'Yash Dayal', 'Mohammed Shami'                 |
|1304107|Pune       |2022-05-14|2022  |61         |Kolkata Knight Riders      |Sunrisers Hyderabad        |Maharashtra Cricket Association Stadium, Pune|Kolkata Knight Riders      |bat         |N        |Kolkata Knight Riders      |Runs   |54    |NA    |AD Russell     |['VR Iyer', 'AM Rahane', 'N Rana', 'SS Iyer', 'SW Billings', 'RK Singh', 'AD Russell', 'SP Narine', 'UT Yadav', 'TG Southee', 'CV Varun']                                 |['Abhishek Sharma', 'KS Williamson', 'RA Tripathi', 'AK Markram', 'N Pooran', 'Washington Sundar', 'Shashank Singh', 'M Jansen', 'B Kumar', 'Umran Malik', 'T Natarajan']|AK Chaudhary         |KN Ananthapadmanabhan|1             |'VR Iyer', 'AM Rahane', 'N Rana', 'SS Iyer', 'SW Billings', 'RK Singh', 'AD Russell', 'SP Narine', 'UT Yadav', 'TG Southee', 'CV Varun','Abhishek Sharma', 'KS Williamson', 'RA Tripathi', 'AK Markram', 'N Pooran', 'Washington Sundar', 'Shashank Singh', 'M Jansen', 'B Kumar', 'Umran Malik', 'T Natarajan'                      |
|1304106|Mumbai     |2022-05-13|2022  |60         |Punjab Kings               |Royal Challengers Bangalore|Brabourne Stadium, Mumbai                    |Royal Challengers Bangalore|field       |N        |Punjab Kings               |Runs   |54    |NA    |JM Bairstow    |['JM Bairstow', 'S Dhawan', 'PBB Rajapaksa', 'LS Livingstone', 'MA Agarwal', 'JM Sharma', 'Harpreet Brar', 'R Dhawan', 'RD Chahar', 'K Rabada', 'Arshdeep Singh']         |['V Kohli', 'F du Plessis', 'RM Patidar', 'MK Lomror', 'GJ Maxwell', 'KD Karthik', 'Shahbaz Ahmed', 'HV Patel', 'PWH de Silva', 'Mohammed Siraj', 'JR Hazlewood']        |J Madanagopal        |N Pandit             |0             |'JM Bairstow', 'S Dhawan', 'PBB Rajapaksa', 'LS Livingstone', 'MA Agarwal', 'JM Sharma', 'Harpreet Brar', 'R Dhawan', 'RD Chahar', 'K Rabada', 'Arshdeep Singh','V Kohli', 'F du Plessis', 'RM Patidar', 'MK Lomror', 'GJ Maxwell', 'KD Karthik', 'Shahbaz Ahmed', 'HV Patel', 'PWH de Silva', 'Mohammed Siraj', 'JR Hazlewood'      |
|1304105|Mumbai     |2022-05-12|2022  |59         |Chennai Super Kings        |Mumbai Indians             |Wankhede Stadium, Mumbai                     |Mumbai Indians             |field       |N        |Mumbai Indians             |Wickets|5     |NA    |DR Sams        |['RD Gaikwad', 'DP Conway', 'MM Ali', 'RV Uthappa', 'AT Rayudu', 'MS Dhoni', 'S Dube', 'DJ Bravo', 'Simarjeet Singh', 'M Theekshana', 'Mukesh Choudhary']                 |['Ishan Kishan', 'RG Sharma', 'DR Sams', 'Tilak Varma', 'T Stubbs', 'HR Shokeen', 'TH David', 'Ramandeep Singh', 'JJ Bumrah', 'RP Meredith', 'K Kartikeya']              |Chirra Ravikanthreddy|CB Gaffaney          |1             |'RD Gaikwad', 'DP Conway', 'MM Ali', 'RV Uthappa', 'AT Rayudu', 'MS Dhoni', 'S Dube', 'DJ Bravo', 'Simarjeet Singh', 'M Theekshana', 'Mukesh Choudhary','Ishan Kishan', 'RG Sharma', 'DR Sams', 'Tilak Varma', 'T Stubbs', 'HR Shokeen', 'TH David', 'Ramandeep Singh', 'JJ Bumrah', 'RP Meredith', 'K Kartikeya'                    |
|1304104|Navi Mumbai|2022-05-11|2022  |58         |Rajasthan Royals           |Delhi Capitals             |Dr DY Patil Sports Academy, Mumbai           |Delhi Capitals             |field       |N        |Delhi Capitals             |Wickets|8     |NA    |MR Marsh       |['YBK Jaiswal', 'JC Buttler', 'R Ashwin', 'D Padikkal', 'SV Samson', 'R Parag', 'HE van der Dussen', 'TA Boult', 'M Prasidh Krishna', 'YS Chahal', 'KR Sen']              |['KS Bharat', 'DA Warner', 'MR Marsh', 'RR Pant', 'R Powell', 'Lalit Yadav', 'AR Patel', 'SN Thakur', 'Kuldeep Yadav', 'A Nortje', 'C Sakariya']                         |NA Patwardhan        |Nitin Menon          |1             |'YBK Jaiswal', 'JC Buttler', 'R Ashwin', 'D Padikkal', 'SV Samson', 'R Parag', 'HE van der Dussen', 'TA Boult', 'M Prasidh Krishna', 'YS Chahal', 'KR Sen','KS Bharat', 'DA Warner', 'MR Marsh', 'RR Pant', 'R Powell', 'Lalit Yadav', 'AR Patel', 'SN Thakur', 'Kuldeep Yadav', 'A Nortje', 'C Sakariya'                            |

In [ ]:
players_df=players_df.select('Players_Name')
players_df.show(truncate=False)

+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|Players_Name                                                                                                                                                                                                                                                                                                                         |
+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|'YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D Padikkal', 'SO Hetmyer', 'R Ashwin', 'R Parag', 'TA Boult', 'OC McCoy', 'M Prasidh Krishna', 'YS Chahal','WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pandya', 'DA Miller', 'R Tewatia', 'Rashid Khan', 'R Sai Kishore', 'LH Ferguson', 'Yash Dayal', 'Mohammed Shami'                     |
|'V Kohli', 'F du Plessis', 'RM Patidar', 'GJ Maxwell', 'MK Lomror', 'KD Karthik', 'Shahbaz Ahmed', 'PWH de Silva', 'HV Patel', 'JR Hazlewood', 'Mohammed Siraj','YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D Padikkal', 'SO Hetmyer', 'R Parag', 'R Ashwin', 'TA Boult', 'YS Chahal', 'M Prasidh Krishna', 'OC McCoy'                |
|'V Kohli', 'F du Plessis', 'RM Patidar', 'GJ Maxwell', 'MK Lomror', 'KD Karthik', 'Shahbaz Ahmed', 'HV Patel', 'PWH de Silva', 'JR Hazlewood', 'Mohammed Siraj','Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda', 'MP Stoinis', 'E Lewis', 'KH Pandya', 'PVD Chameera', 'Mohsin Khan', 'Avesh Khan', 'Ravi Bishnoi'                    |
|'YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D Padikkal', 'SO Hetmyer', 'R Parag', 'R Ashwin', 'TA Boult', 'YS Chahal', 'M Prasidh Krishna', 'OC McCoy','WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pandya', 'DA Miller', 'R Tewatia', 'Rashid Khan', 'R Sai Kishore', 'AS Joseph', 'Yash Dayal', 'Mohammed Shami'                       |
|'PK Garg', 'Abhishek Sharma', 'RA Tripathi', 'AK Markram', 'N Pooran', 'Washington Sundar', 'R Shepherd', 'J Suchith', 'B Kumar', 'Umran Malik', 'Fazalhaq Farooqi','JM Bairstow', 'S Dhawan', 'M Shahrukh Khan', 'MA Agarwal', 'LS Livingstone', 'JM Sharma', 'PN Mankad', 'Harpreet Brar', 'K Rabada', 'NT Ellis', 'Arshdeep Singh'|
|'PP Shaw', 'DA Warner', 'MR Marsh', 'RR Pant', 'SN Khan', 'R Powell', 'AR Patel', 'SN Thakur', 'Kuldeep Yadav', 'A Nortje', 'KK Ahmed','Ishan Kishan', 'RG Sharma', 'D Brevis', 'Tilak Varma', 'TH David', 'Ramandeep Singh', 'DR Sams', 'HR Shokeen', 'JJ Bumrah', 'M Markande', 'RP Meredith'                                      |
|'RD Gaikwad', 'DP Conway', 'MM Ali', 'N Jagadeesan', 'AT Rayudu', 'MS Dhoni', 'MJ Santner', 'Simarjeet Singh', 'Mukesh Choudhary', 'PH Solanki', 'M Pathirana','YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D Padikkal', 'R Ashwin', 'SO Hetmyer', 'R Parag', 'TA Boult', 'YS Chahal', 'M Prasidh Krishna', 'OC McCoy'                 |
|'WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pandya', 'DA Miller', 'R Tewatia', 'Rashid Khan', 'R Sai Kishore', 'LH Ferguson', 'Yash Dayal', 'Mohammed Shami','V Kohli', 'F du Plessis', 'GJ Maxwell', 'KD Karthik', 'RM Patidar', 'MK Lomror', 'Shahbaz Ahmed', 'HV Patel', 'PWH de Silva', 'JR Hazlewood', 'S Kaul'                   |
|'Q de Kock', 'KL Rahul', 'E Lewis', 'DJ Hooda', 'M Vohra', 'MP Stoinis', 'JO Holder', 'K Gowtham', 'Mohsin Khan', 'Avesh Khan', 'Ravi Bishnoi','VR Iyer', 'A Tomar', 'N Rana', 'SS Iyer', 'SW Billings', 'AD Russell', 'RK Singh', 'SP Narine', 'UT Yadav', 'TG Southee', 'CV Varun'                                                 |
|'Abhishek Sharma', 'PK Garg', 'RA Tripathi', 'N Pooran', 'AK Markram', 'KS Williamson', 'Washington Sundar', 'B Kumar', 'Umran Malik', 'T Natarajan', 'Fazalhaq Farooqi','RG Sharma', 'Ishan Kishan', 'DR Sams', 'Tilak Varma', 'TH David', 'T Stubbs', 'Ramandeep Singh', 'R Sanjay Yadav', 'JJ Bumrah', 'M Markande', 'RP Meredith'|
|'DA Warner', 'SN Khan', 'MR Marsh', 'Lalit Yadav', 'RR Pant', 'R Powell', 'AR Patel', 'SN Thakur', 'Kuldeep Yadav', 'A Nortje', 'KK Ahmed','JM Bairstow', 'S Dhawan', 'PBB Rajapaksa', 'LS Livingstone', 'MA Agarwal', 'JM Sharma', 'Harpreet Brar', 'R Dhawan', 'RD Chahar', 'K Rabada', 'Arshdeep Singh'                           |
|'YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D Padikkal', 'R Parag', 'JDS Neesham', 'R Ashwin', 'TA Boult', 'M Prasidh Krishna', 'YS Chahal', 'OC McCoy','Q de Kock', 'KL Rahul', 'A Badoni', 'DJ Hooda', 'KH Pandya', 'MP Stoinis', 'JO Holder', 'PVD Chameera', 'Mohsin Khan', 'Avesh Khan', 'Ravi Bishnoi'                          |
|'RD Gaikwad', 'DP Conway', 'MM Ali', 'N Jagadeesan', 'S Dube', 'MS Dhoni', 'MJ Santner', 'PH Solanki', 'Simarjeet Singh', 'M Pathirana', 'Mukesh Choudhary','WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pandya', 'DA Miller', 'R Tewatia', 'Rashid Khan', 'R Sai Kishore', 'AS Joseph', 'Yash Dayal', 'Mohammed Shami'                 |
|'VR Iyer', 'AM Rahane', 'N Rana', 'SS Iyer', 'SW Billings', 'RK Singh', 'AD Russell', 'SP Narine', 'UT Yadav', 'TG Southee', 'CV Varun','Abhishek Sharma', 'KS Williamson', 'RA Tripathi', 'AK Markram', 'N Pooran', 'Washington Sundar', 'Shashank Singh', 'M Jansen', 'B Kumar', 'Umran Malik', 'T Natarajan'                      |
|'JM Bairstow', 'S Dhawan', 'PBB Rajapaksa', 'LS Livingstone', 'MA Agarwal', 'JM Sharma', 'Harpreet Brar', 'R Dhawan', 'RD Chahar', 'K Rabada', 'Arshdeep Singh','V Kohli', 'F du Plessis', 'RM Patidar', 'MK Lomror', 'GJ Maxwell', 'KD Karthik', 'Shahbaz Ahmed', 'HV Patel', 'PWH de Silva', 'Mohammed Siraj', 'JR Hazlewood'      |
|'RD Gaikwad', 'DP Conway', 'MM Ali', 'RV Uthappa', 'AT Rayudu', 'MS Dhoni', 'S Dube', 'DJ Bravo', 'Simarjeet Singh', 'M Theekshana', 'Mukesh Choudhary','Ishan Kishan', 'RG Sharma', 'DR Sams', 'Tilak Varma', 'T Stubbs', 'HR Shokeen', 'TH David', 'Ramandeep Singh', 'JJ Bumrah', 'RP Meredith', 'K Kartikeya'                    |
|'YBK Jaiswal', 'JC Buttler', 'R Ashwin', 'D Padikkal', 'SV Samson', 'R Parag', 'HE van der Dussen', 'TA Boult', 'M Prasidh Krishna', 'YS Chahal', 'KR Sen','KS Bharat', 'DA Warner', 'MR Marsh', 'RR Pant', 'R Powell', 'Lalit Yadav', 'AR Patel', 'SN Thakur', 'Kuldeep Yadav', 'A Nortje', 'C Sakariya'                            |
|'WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pandya', 'DA Miller', 'R Tewatia', 'Rashid Khan', 'R Sai Kishore', 'AS Joseph', 'Yash Dayal', 'Mohammed Shami','Q de Kock', 'KL Rahul', 'DJ Hooda', 'KS Sharma', 'KH Pandya', 'A Badoni', 'MP Stoinis', 'JO Holder', 'Mohsin Khan', 'PVD Chameera', 'Avesh Khan'                           |
|'VR Iyer', 'AM Rahane', 'N Rana', 'SS Iyer', 'AD Russell', 'RK Singh', 'SP Jackson', 'PJ Cummins', 'SP Narine', 'TG Southee', 'CV Varun','RG Sharma', 'Ishan Kishan', 'Tilak Varma', 'Ramandeep Singh', 'TH David', 'KA Pollard', 'DR Sams', 'M Ashwin', 'K Kartikeya', 'JJ Bumrah', 'RP Meredith'                                   |
|'RD Gaikwad', 'DP Conway', 'S Dube', 'AT Rayudu', 'MS Dhoni', 'MM Ali', 'RV Uthappa', 'DJ Bravo', 'Simarjeet Singh', 'M Theekshana', 'Mukesh Choudhary','DA Warner', 'KS Bharat', 'MR Marsh', 'RR Pant', 'R Powell', 'RV Patel', 'AR Patel', 'SN Thakur', 'Kuldeep Yadav', 'A Nortje', 'KK Ahmed'                                    |
+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 20 rows

In [ ]:
players_df=players_df.withColumn('Players',split('Players_Name',',')).select(explode('Players').alias('Players'))
players_df.show()

+--------------------+
|             Players|
+--------------------+
|       'YBK Jaiswal'|
|        'JC Buttler'|
|         'SV Samson'|
|        'D Padikkal'|
|        'SO Hetmyer'|
|          'R Ashwin'|
|           'R Parag'|
|          'TA Boult'|
|          'OC McCoy'|
| 'M Prasidh Krishna'|
|         'YS Chahal'|
|           'WP Saha'|
|      'Shubman Gill'|
|           'MS Wade'|
|         'HH Pandya'|
|         'DA Miller'|
|         'R Tewatia'|
|       'Rashid Khan'|
|     'R Sai Kishore'|
|       'LH Ferguson'|
+--------------------+
only showing top 20 rows

In [ ]:
players_df.groupBy('Players').agg(count('*').alias('No_of_matches')).orderBy(desc('No_of_matches')).show()

+------------------+-------------+
|           Players|No_of_matches|
+------------------+-------------+
|        'MS Dhoni'|          233|
|      'KD Karthik'|          229|
|       'RA Jadeja'|          209|
|        'SK Raina'|          204|
|      'KA Pollard'|          189|
|       'AT Rayudu'|          186|
|        'R Ashwin'|          183|
|  'AB de Villiers'|          182|
|         'V Kohli'|          181|
|       'RG Sharma'|          177|
|        'S Dhawan'|          174|
|       'YK Pathan'|          172|
|       'PP Chawla'|          165|
| 'Harbhajan Singh'|          163|
|        'DJ Bravo'|          159|
|        'A Mishra'|          154|
|         'B Kumar'|          146|
|       'MK Pandey'|          143|
|        'UT Yadav'|          133|
|       'SP Narine'|          133|
+------------------+-------------+
only showing top 20 rows

In [ ]:
#8)to show max defeat in match
ipl_df.groupBy('WonBy').agg(max('Margin'),min('Margin')).show()

+---------+-----------+-----------+
|    WonBy|max(Margin)|min(Margin)|
+---------+-----------+-----------+
|     Runs|         98|          1|
|  Wickets|          9|          1|
|NoResults|         NA|         NA|
|SuperOver|         NA|         NA|
+---------+-----------+-----------+

In [ ]:
ipl_df.select('method').distinct().show()

+------+
|method|
+------+
|    NA|
|   D/L|
+------+

In [ ]:
# 9)umpires with most umpiring
u1=ipl_df.select('Umpire1')
u1.show()
u2=ipl_df.select('Umpire2')
u2.show()

+--------------------+
|             Umpire1|
+--------------------+
|         CB Gaffaney|
|         CB Gaffaney|
|       J Madanagopal|
|        BNJ Oxenford|
|        AK Chaudhary|
|         Nitin Menon|
|         CB Gaffaney|
|KN Ananthapadmana...|
|            R Pandit|
|         CB Gaffaney|
|    GR Sadashiv Iyer|
|           PG Pathak|
|            R Pandit|
|        AK Chaudhary|
|       J Madanagopal|
|Chirra Ravikanthr...|
|       NA Patwardhan|
|KN Ananthapadmana...|
|         CB Gaffaney|
|         Nitin Menon|
+--------------------+
only showing top 20 rows

+--------------------+
|             Umpire2|
+--------------------+
|         Nitin Menon|
|         Nitin Menon|
|            MA Gough|
|           VK Sharma|
|       NA Patwardhan|
|        Tapan Sharma|
|       NA Patwardhan|
|    GR Sadashiv Iyer|
|            YC Barde|
|            N Pandit|
|         Nitin Menon|
|        Tapan Sharma|
|           VK Sharma|
|KN Ananthapadmana...|
|            N Pandit|
|         CB Gaffaney|
|         Nitin Menon|
|            MA Gough|
|    GR Sadashiv Iyer|
|            R Pandit|
+--------------------+
only showing top 20 rows

In [ ]:
u=u1.union(u2)
u.groupBy('Umpire1').agg(count('*').alias('No_of_matches')).orderBy(desc('No_of_matches')).show()

+--------------------+-------------+
|             Umpire1|No_of_matches|
+--------------------+-------------+
|              S Ravi|          131|
|        AK Chaudhary|          111|
|     HDPK Dharmasena|           94|
|       C Shamshuddin|           88|
|         Nitin Menon|           83|
|         CB Gaffaney|           69|
|           M Erasmus|           67|
|           CK Nandan|           59|
|        BNJ Oxenford|           57|
|KN Ananthapadmana...|           56|
|          SJA Taufel|           55|
|           RJ Tucker|           52|
|           Asad Rauf|           51|
|         VA Kulkarni|           50|
|           VK Sharma|           46|
|         BR Doctrove|           42|
|         RE Koertzen|           41|
|      RK Illingworth|           39|
|           Aleem Dar|           38|
|            NJ Llong|           37|
+--------------------+-------------+
only showing top 20 rows

In [ ]:
#10)teams most win in a season
S_win=ipl_df.groupby('Season','WinningTeam').agg(count('*').alias('Wins')).orderBy('Season',desc('Wins'))
S_win.show()

+-------+--------------------+----+
| Season|         WinningTeam|Wins|
+-------+--------------------+----+
|2007/08|    Rajasthan Royals|  13|
|2007/08|     Kings XI Punjab|  10|
|2007/08| Chennai Super Kings|   9|
|2007/08|    Delhi Daredevils|   7|
|2007/08|      Mumbai Indians|   7|
|2007/08|Kolkata Knight Ri...|   6|
|2007/08|Royal Challengers...|   4|
|2007/08|     Deccan Chargers|   2|
|   2009|    Delhi Daredevils|  10|
|   2009|Royal Challengers...|   9|
|   2009|     Deccan Chargers|   9|
|   2009| Chennai Super Kings|   8|
|   2009|     Kings XI Punjab|   7|
|   2009|    Rajasthan Royals|   6|
|   2009|      Mumbai Indians|   5|
|   2009|Kolkata Knight Ri...|   3|
|2009/10|      Mumbai Indians|  11|
|2009/10| Chennai Super Kings|   9|
|2009/10|     Deccan Chargers|   8|
|2009/10|Royal Challengers...|   8|
+-------+--------------------+----+
only showing top 20 rows

In [ ]:
S_win.groupBy('Season').agg(first('WinningTeam').alias('WinningTeam'),first('Wins').alias('Wins')).orderBy('Season').show()

+-------+--------------------+----+
| Season|         WinningTeam|Wins|
+-------+--------------------+----+
|2007/08|    Rajasthan Royals|  13|
|   2009|    Delhi Daredevils|  10|
|2009/10|      Mumbai Indians|  11|
|   2011| Chennai Super Kings|  11|
|   2012|Kolkata Knight Ri...|  12|
|   2013|      Mumbai Indians|  13|
|   2014|     Kings XI Punjab|  12|
|   2015|      Mumbai Indians|  10|
|   2016| Sunrisers Hyderabad|  11|
|   2017|      Mumbai Indians|  12|
|   2018| Chennai Super Kings|  11|
|   2019|      Mumbai Indians|  11|
|2020/21|      Mumbai Indians|  11|
|   2021| Chennai Super Kings|  11|
|   2022|      Gujarat Titans|  12|
+-------+--------------------+----+

In [ ]:
#11)teams most win in a season using windows function
from pyspark.sql import Window
w_ipl=Window.partitionBy('Season').orderBy(S_win.Wins.desc())
S_win.withColumn('rank',dense_rank().over(w_ipl)).select('Season','WinningTeam','Wins').where('rank==1').orderBy('Season').show()

+-------+--------------------+----+
| Season|         WinningTeam|Wins|
+-------+--------------------+----+
|2007/08|    Rajasthan Royals|  13|
|   2009|    Delhi Daredevils|  10|
|2009/10|      Mumbai Indians|  11|
|   2011| Chennai Super Kings|  11|
|   2012|Kolkata Knight Ri...|  12|
|   2013|      Mumbai Indians|  13|
|   2014|     Kings XI Punjab|  12|
|   2015| Chennai Super Kings|  10|
|   2015|      Mumbai Indians|  10|
|   2016| Sunrisers Hyderabad|  11|
|   2017|      Mumbai Indians|  12|
|   2018| Chennai Super Kings|  11|
|   2019|      Mumbai Indians|  11|
|2020/21|      Mumbai Indians|  11|
|   2021| Chennai Super Kings|  11|
|   2022|      Gujarat Titans|  12|
+-------+--------------------+----+

Problem Statement :Ipl ball by ball

In [ ]:
from pyspark.sql.functions import *

In [ ]:
ball_ipl=spark.read.csv('/content/IPL_Ball_by_Ball_2008_2022.csv',header=True,inferSchema=True)
ball_ipl.show()
ball_ipl.printSchema()

+-------+-------+-----+----------+-----------+--------------+-----------+----------+-----------+----------+---------+------------+----------------+----------+----+-----------------+----------------+
|     ID|innings|overs|ballnumber|     batter|        bowler|non-striker|extra_type|batsman_run|extras_run|total_run|non_boundary|isWicketDelivery|player_out|kind|fielders_involved|     BattingTeam|
+-------+-------+-----+----------+-----------+--------------+-----------+----------+-----------+----------+---------+------------+----------------+----------+----+-----------------+----------------+
|1312200|      1|    0|         1|YBK Jaiswal|Mohammed Shami| JC Buttler|        NA|          0|         0|        0|           0|               0|        NA|  NA|               NA|Rajasthan Royals|
|1312200|      1|    0|         2|YBK Jaiswal|Mohammed Shami| JC Buttler|   legbyes|          0|         1|        1|           0|               0|        NA|  NA|               NA|Rajasthan Royals|
|1312200|      1|    0|         3| JC Buttler|Mohammed Shami|YBK Jaiswal|        NA|          1|         0|        1|           0|               0|        NA|  NA|               NA|Rajasthan Royals|
|1312200|      1|    0|         4|YBK Jaiswal|Mohammed Shami| JC Buttler|        NA|          0|         0|        0|           0|               0|        NA|  NA|               NA|Rajasthan Royals|
|1312200|      1|    0|         5|YBK Jaiswal|Mohammed Shami| JC Buttler|        NA|          0|         0|        0|           0|               0|        NA|  NA|               NA|Rajasthan Royals|
|1312200|      1|    0|         6|YBK Jaiswal|Mohammed Shami| JC Buttler|        NA|          0|         0|        0|           0|               0|        NA|  NA|               NA|Rajasthan Royals|
|1312200|      1|    1|         1| JC Buttler|    Yash Dayal|YBK Jaiswal|        NA|          0|         0|        0|           0|               0|        NA|  NA|               NA|Rajasthan Royals|
|1312200|      1|    1|         2| JC Buttler|    Yash Dayal|YBK Jaiswal|        NA|          0|         0|        0|           0|               0|        NA|  NA|               NA|Rajasthan Royals|
|1312200|      1|    1|         3| JC Buttler|    Yash Dayal|YBK Jaiswal|        NA|          4|         0|        4|           0|               0|        NA|  NA|               NA|Rajasthan Royals|
|1312200|      1|    1|         4| JC Buttler|    Yash Dayal|YBK Jaiswal|        NA|          0|         0|        0|           0|               0|        NA|  NA|               NA|Rajasthan Royals|
|1312200|      1|    1|         5| JC Buttler|    Yash Dayal|YBK Jaiswal|        NA|          1|         0|        1|           0|               0|        NA|  NA|               NA|Rajasthan Royals|
|1312200|      1|    1|         6|YBK Jaiswal|    Yash Dayal| JC Buttler|        NA|          0|         0|        0|           0|               0|        NA|  NA|               NA|Rajasthan Royals|
|1312200|      1|    2|         1| JC Buttler|Mohammed Shami|YBK Jaiswal|        NA|          1|         0|        1|           0|               0|        NA|  NA|               NA|Rajasthan Royals|
|1312200|      1|    2|         2|YBK Jaiswal|Mohammed Shami| JC Buttler|        NA|          0|         0|        0|           0|               0|        NA|  NA|               NA|Rajasthan Royals|
|1312200|      1|    2|         3|YBK Jaiswal|Mohammed Shami| JC Buttler|        NA|          4|         0|        4|           0|               0|        NA|  NA|               NA|Rajasthan Royals|
|1312200|      1|    2|         4|YBK Jaiswal|Mohammed Shami| JC Buttler|        NA|          0|         0|        0|           0|               0|        NA|  NA|               NA|Rajasthan Royals|
|1312200|      1|    2|         5|YBK Jaiswal|Mohammed Shami| JC Buttler|        NA|          6|         0|        6|           0|               0|        NA|  NA|               NA|Rajasthan Royals|
|1312200|      1|    2|         6|YBK Jaiswal|Mohammed Shami| JC Buttler|        NA|          3|         0|        3|           0|               0|        NA|  NA|               NA|Rajasthan Royals|
|1312200|      1|    3|         1|YBK Jaiswal|    Yash Dayal| JC Buttler|        NA|          1|         0|        1|           0|               0|        NA|  NA|               NA|Rajasthan Royals|
|1312200|      1|    3|         2| JC Buttler|    Yash Dayal|YBK Jaiswal|        NA|          1|         0|        1|           0|               0|        NA|  NA|               NA|Rajasthan Royals|
+-------+-------+-----+----------+-----------+--------------+-----------+----------+-----------+----------+---------+------------+----------------+----------+----+-----------------+----------------+
only showing top 20 rows

root
 |-- ID: integer (nullable = true)
 |-- innings: integer (nullable = true)
 |-- overs: integer (nullable = true)
 |-- ballnumber: integer (nullable = true)
 |-- batter: string (nullable = true)
 |-- bowler: string (nullable = true)
 |-- non-striker: string (nullable = true)
 |-- extra_type: string (nullable = true)
 |-- batsman_run: integer (nullable = true)
 |-- extras_run: integer (nullable = true)
 |-- total_run: integer (nullable = true)
 |-- non_boundary: integer (nullable = true)
 |-- isWicketDelivery: integer (nullable = true)
 |-- player_out: string (nullable = true)
 |-- kind: string (nullable = true)
 |-- fielders_involved: string (nullable = true)
 |-- BattingTeam: string (nullable = true)

In [ ]:
#1)Score card
ball_ipl.groupBy('ID','innings','BattingTeam').agg(sum('total_run').alias('Runs'),sum('isWicketDelivery').alias('Wickets')).orderBy('ID','innings').show()

+------+-------+--------------------+----+-------+
|    ID|innings|         BattingTeam|Runs|Wickets|
+------+-------+--------------------+----+-------+
|335982|      1|Kolkata Knight Ri...| 222|      3|
|335982|      2|Royal Challengers...|  82|     10|
|335983|      1| Chennai Super Kings| 240|      5|
|335983|      2|     Kings XI Punjab| 207|      4|
|335984|      1|    Rajasthan Royals| 129|      8|
|335984|      2|    Delhi Daredevils| 132|      1|
|335985|      1|      Mumbai Indians| 165|      7|
|335985|      2|Royal Challengers...| 166|      5|
|335986|      1|     Deccan Chargers| 110|     10|
|335986|      2|Kolkata Knight Ri...| 112|      5|
|335987|      1|     Kings XI Punjab| 166|      8|
|335987|      2|    Rajasthan Royals| 168|      4|
|335988|      1|     Deccan Chargers| 142|      8|
|335988|      2|    Delhi Daredevils| 143|      1|
|335989|      1| Chennai Super Kings| 208|      5|
|335989|      2|      Mumbai Indians| 202|      7|
|335990|      1|     Deccan Chargers| 214|      5|
|335990|      2|    Rajasthan Royals| 217|      7|
|335991|      1|     Kings XI Punjab| 182|     10|
|335991|      2|      Mumbai Indians| 116|      9|
+------+-------+--------------------+----+-------+
only showing top 20 rows

In [ ]:
#2)Score card by players
ball_ipl.groupBy('ID','innings','batter').agg(sum('batsman_run').alias('Runs')).orderBy('ID','innings').show()

+------+-------+---------------+----+
|    ID|innings|         batter|Runs|
+------+-------+---------------+----+
|335982|      1|     SC Ganguly|  10|
|335982|      1|    BB McCullum| 158|
|335982|      1|Mohammad Hafeez|   5|
|335982|      1|      DJ Hussey|  12|
|335982|      1|     RT Ponting|  20|
|335982|      2|      JH Kallis|   8|
|335982|      2|       SB Joshi|   3|
|335982|      2|        V Kohli|   1|
|335982|      2|       W Jaffer|   6|
|335982|      2|        P Kumar|  18|
|335982|      2|       R Dravid|   2|
|335982|      2|       CL White|   6|
|335982|      2|        B Akhil|   0|
|335982|      2|      AA Noffke|   9|
|335982|      2|         Z Khan|   3|
|335982|      2|     MV Boucher|   7|
|335983|      1|       JDP Oram|  13|
|335983|      1|     MEK Hussey| 116|
|335983|      1|       PA Patel|  15|
|335983|      1|       MS Dhoni|   2|
+------+-------+---------------+----+
only showing top 20 rows

In [ ]:
#3)players most run scored
ball_ipl.groupBy('batter').agg(sum('batsman_run').alias('Runs')).orderBy(desc('Runs')).show()

+--------------+----+
|        batter|Runs|
+--------------+----+
|       V Kohli|6634|
|      S Dhawan|6244|
|     DA Warner|5883|
|     RG Sharma|5881|
|      SK Raina|5536|
|AB de Villiers|5181|
|      CH Gayle|4997|
|      MS Dhoni|4978|
|    RV Uthappa|4954|
|    KD Karthik|4377|
|     G Gambhir|4217|
|     AT Rayudu|4190|
|     AM Rahane|4074|
|      KL Rahul|3895|
|     SR Watson|3880|
|     MK Pandey|3657|
|     SV Samson|3526|
|    KA Pollard|3437|
|  F du Plessis|3403|
|     YK Pathan|3222|
+--------------+----+
only showing top 20 rows

In [ ]:
#4)players most Wicket taken
ball_ipl.groupBy('bowler').agg(sum('isWicketDelivery').alias('Wickets')).orderBy(desc('Wickets')).show()
#it includes runout aswell

+---------------+-------+
|         bowler|Wickets|
+---------------+-------+
|       DJ Bravo|    207|
|     SL Malinga|    188|
|       A Mishra|    175|
|       R Ashwin|    174|
|      YS Chahal|    172|
|      SP Narine|    171|
|      PP Chawla|    165|
|        B Kumar|    165|
|      JJ Bumrah|    161|
|Harbhajan Singh|    161|
|       UT Yadav|    153|
|      RA Jadeja|    141|
|  R Vinay Kumar|    127|
| Sandeep Sharma|    123|
|        A Nehra|    121|
|         Z Khan|    119|
|    Rashid Khan|    119|
| Mohammed Shami|    116|
|       AR Patel|    109|
|       K Rabada|    108|
+---------------+-------+
only showing top 20 rows

In [ ]:
#5)players most Wicket taken no runout no retired hurt
ball_ipl.filter((ball_ipl.kind!='run out') & (ball_ipl.kind!='retired hurt')).groupBy('bowler').agg(sum('isWicketDelivery').alias('Wickets')).orderBy(desc('Wickets')).show()

+---------------+-------+
|         bowler|Wickets|
+---------------+-------+
|       DJ Bravo|    183|
|     SL Malinga|    170|
|      YS Chahal|    166|
|       A Mishra|    166|
|       R Ashwin|    157|
|      PP Chawla|    157|
|        B Kumar|    154|
|      SP Narine|    152|
|Harbhajan Singh|    150|
|      JJ Bumrah|    148|
|       UT Yadav|    135|
|      RA Jadeja|    132|
| Sandeep Sharma|    114|
|    Rashid Khan|    112|
|        A Nehra|    106|
|  R Vinay Kumar|    105|
|       K Rabada|    102|
|         Z Khan|    102|
|       AR Patel|    101|
| Mohammed Shami|     99|
+---------------+-------+
only showing top 20 rows

In [ ]:
#6) higest run score by indivitual
ball_ipl.groupBy('ID','batter').agg(sum('batsman_run').alias('Runs')).orderBy(desc('Runs')).show()

+-------+--------------+----+
|     ID|        batter|Runs|
+-------+--------------+----+
| 598027|      CH Gayle| 175|
| 335982|   BB McCullum| 158|
|1304112|     Q de Kock| 140|
| 829795|AB de Villiers| 133|
|1216510|      KL Rahul| 132|
| 980987|AB de Villiers| 129|
|1136602|       RR Pant| 128|
| 548372|      CH Gayle| 128|
| 419137|       M Vijay| 127|
|1082627|     DA Warner| 126|
|1254085|    JC Buttler| 124|
| 734047|      V Sehwag| 122|
| 501206|   PC Valthaty| 120|
|1254061|     SV Samson| 119|
| 501243|      V Sehwag| 119|
| 829785|      CH Gayle| 117|
| 335990|     A Symonds| 117|
|1136620|     SR Watson| 117|
|1304080|    JC Buttler| 116|
| 335983|    MEK Hussey| 116|
+-------+--------------+----+
only showing top 20 rows

In [ ]:
#7)players most Wicket taken no runout
ball_ipl.filter((ball_ipl.kind!='run out')&(ball_ipl.extra_type!='legbyes')&(ball_ipl.extra_type!='byes')&(ball_ipl.kind!='run out') & (ball_ipl.kind!='retired hurt')).groupBy('id','bowler').agg(sum('isWicketDelivery').alias('Wickets'),sum('total_run').alias('Runs')).orderBy(desc('Wickets'),'Runs').show()

+-------+---------------+-------+----+
|     id|         bowler|Wickets|Runs|
+-------+---------------+-------+----+
|1178394|      AS Joseph|      6|  12|
| 336005|  Sohail Tanvir|      6|  14|
| 980979|        A Zampa|      6|  19|
| 392182|       A Kumble|      5|   5|
|1304102|      JJ Bumrah|      5|  10|
| 501229|       I Sharma|      5|  12|
| 501201|     SL Malinga|      5|  13|
|1136585|     AS Rajpoot|      5|  14|
|1254062|     AD Russell|      5|  15|
| 598065|    JP Faulkner|      5|  16|
| 548311|      RA Jadeja|      5|  16|
|1216512|    LH Ferguson|      5|  17|
|1082603|         AJ Tye|      5|  17|
| 336020|       A Mishra|      5|  17|
|1304100|   PWH de Silva|      5|  18|
| 501221|Harbhajan Singh|      5|  18|
| 548323|      SP Narine|      5|  19|
|1082609|        B Kumar|      5|  19|
| 598032|    JP Faulkner|      5|  20|
|1216497|       CV Varun|      5|  20|
+-------+---------------+-------+----+
only showing top 20 rows

In [ ]:
ball_ipl.select('kind').distinct().show(truncate=False)

+---------------------+
|kind                 |
+---------------------+
|stumped              |
|retired out          |
|hit wicket           |
|NA                   |
|bowled               |
|lbw                  |
|obstructing the field|
|caught and bowled    |
|retired hurt         |
|caught               |
|run out              |
+---------------------+

8)Players and no of catches

In [ ]:
caught=ball_ipl.filter((ball_ipl.kind=='caught') | (ball_ipl.kind=='caught and bowled'))
caught.show()

+-------+-------+-----+----------+------------+-----------------+-------------+----------+-----------+----------+---------+------------+----------------+------------+-----------------+-----------------+--------------------+
|     ID|innings|overs|ballnumber|      batter|           bowler|  non-striker|extra_type|batsman_run|extras_run|total_run|non_boundary|isWicketDelivery|  player_out|             kind|fielders_involved|         BattingTeam|
+-------+-------+-----+----------+------------+-----------------+-------------+----------+-----------+----------+---------+------------+----------------+------------+-----------------+-----------------+--------------------+
|1312200|      1|    3|         6| YBK Jaiswal|       Yash Dayal|   JC Buttler|        NA|          0|         0|        0|           0|               1| YBK Jaiswal|           caught|    R Sai Kishore|    Rajasthan Royals|
|1312200|      1|    8|         2|   SV Samson|        HH Pandya|   JC Buttler|        NA|          0|         0|        0|           0|               1|   SV Samson|           caught|    R Sai Kishore|    Rajasthan Royals|
|1312200|      1|   11|         5|  D Padikkal|      Rashid Khan|   JC Buttler|        NA|          0|         0|        0|           0|               1|  D Padikkal|           caught|   Mohammed Shami|    Rajasthan Royals|
|1312200|      1|   12|         1|  JC Buttler|        HH Pandya|   SO Hetmyer|        NA|          0|         0|        0|           0|               1|  JC Buttler|           caught|          WP Saha|    Rajasthan Royals|
|1312200|      1|   14|         6|  SO Hetmyer|        HH Pandya|     R Ashwin|        NA|          0|         0|        0|           0|               1|  SO Hetmyer|caught and bowled|               NA|    Rajasthan Royals|
|1312200|      1|   15|         5|    R Ashwin|    R Sai Kishore|      R Parag|        NA|          0|         0|        0|           0|               1|    R Ashwin|           caught|        DA Miller|    Rajasthan Royals|
|1312200|      1|   17|         3|    TA Boult|    R Sai Kishore|      R Parag|        NA|          0|         0|        0|           0|               1|    TA Boult|           caught|        R Tewatia|    Rajasthan Royals|
|1312200|      2|    4|         3|     MS Wade|         TA Boult| Shubman Gill|        NA|          0|         0|        0|           0|               1|     MS Wade|           caught|          R Parag|      Gujarat Titans|
|1312200|      2|   13|         2|   HH Pandya|        YS Chahal| Shubman Gill|        NA|          0|         0|        0|           0|               1|   HH Pandya|           caught|      YBK Jaiswal|      Gujarat Titans|
|1312199|      1|    1|         5|     V Kohli|M Prasidh Krishna| F du Plessis|        NA|          0|         0|        0|           0|               1|     V Kohli|           caught|        SV Samson|Royal Challengers...|
|1312199|      1|   10|         4|F du Plessis|         OC McCoy|   RM Patidar|        NA|          0|         0|        0|           0|               1|F du Plessis|           caught|         R Ashwin|Royal Challengers...|
|1312199|      1|   13|         6|  GJ Maxwell|         TA Boult|   RM Patidar|        NA|          0|         0|        0|           0|               1|  GJ Maxwell|           caught|         OC McCoy|Royal Challengers...|
|1312199|      1|   15|         3|  RM Patidar|         R Ashwin|    MK Lomror|        NA|          0|         0|        0|           0|               1|  RM Patidar|           caught|       JC Buttler|Royal Challengers...|
|1312199|      1|   17|         4|   MK Lomror|         OC McCoy|   KD Karthik|        NA|          0|         0|        0|           0|               1|   MK Lomror|           caught|         R Ashwin|Royal Challengers...|
|1312199|      1|   18|         1|  KD Karthik|M Prasidh Krishna|Shahbaz Ahmed|        NA|          0|         0|        0|           0|               1|  KD Karthik|           caught|          R Parag|Royal Challengers...|
|1312199|      2|    5|         1| YBK Jaiswal|     JR Hazlewood|   JC Buttler|        NA|          0|         0|        0|           0|               1| YBK Jaiswal|           caught|          V Kohli|    Rajasthan Royals|
|1312199|      2|   16|         5|  D Padikkal|     JR Hazlewood|   JC Buttler|        NA|          0|         0|        0|           0|               1|  D Padikkal|           caught|       KD Karthik|    Rajasthan Royals|
|1312198|      1|    0|         6|F du Plessis|      Mohsin Khan|      V Kohli|        NA|          0|         0|        0|           0|               1|F du Plessis|           caught|        Q de Kock|Royal Challengers...|
|1312198|      1|    8|         3|     V Kohli|       Avesh Khan|   RM Patidar|        NA|          0|         0|        0|           0|               1|     V Kohli|           caught|      Mohsin Khan|Royal Challengers...|
|1312198|      1|   10|         3|  GJ Maxwell|        KH Pandya|   RM Patidar|        NA|          0|         0|        0|           0|               1|  GJ Maxwell|           caught|          E Lewis|Royal Challengers...|
+-------+-------+-----+----------+------------+-----------------+-------------+----------+-----------+----------+---------+------------+----------------+------------+-----------------+-----------------+--------------------+
only showing top 20 rows

In [ ]:
caught=caught.withColumn('caught',when(caught.kind=='caught',caught.fielders_involved).otherwise(caught.bowler))
caught.show()

+-------+-------+-----+----------+------------+-----------------+-------------+----------+-----------+----------+---------+------------+----------------+------------+-----------------+-----------------+--------------------+--------------+
|     ID|innings|overs|ballnumber|      batter|           bowler|  non-striker|extra_type|batsman_run|extras_run|total_run|non_boundary|isWicketDelivery|  player_out|             kind|fielders_involved|         BattingTeam|        caught|
+-------+-------+-----+----------+------------+-----------------+-------------+----------+-----------+----------+---------+------------+----------------+------------+-----------------+-----------------+--------------------+--------------+
|1312200|      1|    3|         6| YBK Jaiswal|       Yash Dayal|   JC Buttler|        NA|          0|         0|        0|           0|               1| YBK Jaiswal|           caught|    R Sai Kishore|    Rajasthan Royals| R Sai Kishore|
|1312200|      1|    8|         2|   SV Samson|        HH Pandya|   JC Buttler|        NA|          0|         0|        0|           0|               1|   SV Samson|           caught|    R Sai Kishore|    Rajasthan Royals| R Sai Kishore|
|1312200|      1|   11|         5|  D Padikkal|      Rashid Khan|   JC Buttler|        NA|          0|         0|        0|           0|               1|  D Padikkal|           caught|   Mohammed Shami|    Rajasthan Royals|Mohammed Shami|
|1312200|      1|   12|         1|  JC Buttler|        HH Pandya|   SO Hetmyer|        NA|          0|         0|        0|           0|               1|  JC Buttler|           caught|          WP Saha|    Rajasthan Royals|       WP Saha|
|1312200|      1|   14|         6|  SO Hetmyer|        HH Pandya|     R Ashwin|        NA|          0|         0|        0|           0|               1|  SO Hetmyer|caught and bowled|               NA|    Rajasthan Royals|     HH Pandya|
|1312200|      1|   15|         5|    R Ashwin|    R Sai Kishore|      R Parag|        NA|          0|         0|        0|           0|               1|    R Ashwin|           caught|        DA Miller|    Rajasthan Royals|     DA Miller|
|1312200|      1|   17|         3|    TA Boult|    R Sai Kishore|      R Parag|        NA|          0|         0|        0|           0|               1|    TA Boult|           caught|        R Tewatia|    Rajasthan Royals|     R Tewatia|
|1312200|      2|    4|         3|     MS Wade|         TA Boult| Shubman Gill|        NA|          0|         0|        0|           0|               1|     MS Wade|           caught|          R Parag|      Gujarat Titans|       R Parag|
|1312200|      2|   13|         2|   HH Pandya|        YS Chahal| Shubman Gill|        NA|          0|         0|        0|           0|               1|   HH Pandya|           caught|      YBK Jaiswal|      Gujarat Titans|   YBK Jaiswal|
|1312199|      1|    1|         5|     V Kohli|M Prasidh Krishna| F du Plessis|        NA|          0|         0|        0|           0|               1|     V Kohli|           caught|        SV Samson|Royal Challengers...|     SV Samson|
|1312199|      1|   10|         4|F du Plessis|         OC McCoy|   RM Patidar|        NA|          0|         0|        0|           0|               1|F du Plessis|           caught|         R Ashwin|Royal Challengers...|      R Ashwin|
|1312199|      1|   13|         6|  GJ Maxwell|         TA Boult|   RM Patidar|        NA|          0|         0|        0|           0|               1|  GJ Maxwell|           caught|         OC McCoy|Royal Challengers...|      OC McCoy|
|1312199|      1|   15|         3|  RM Patidar|         R Ashwin|    MK Lomror|        NA|          0|         0|        0|           0|               1|  RM Patidar|           caught|       JC Buttler|Royal Challengers...|    JC Buttler|
|1312199|      1|   17|         4|   MK Lomror|         OC McCoy|   KD Karthik|        NA|          0|         0|        0|           0|               1|   MK Lomror|           caught|         R Ashwin|Royal Challengers...|      R Ashwin|
|1312199|      1|   18|         1|  KD Karthik|M Prasidh Krishna|Shahbaz Ahmed|        NA|          0|         0|        0|           0|               1|  KD Karthik|           caught|          R Parag|Royal Challengers...|       R Parag|
|1312199|      2|    5|         1| YBK Jaiswal|     JR Hazlewood|   JC Buttler|        NA|          0|         0|        0|           0|               1| YBK Jaiswal|           caught|          V Kohli|    Rajasthan Royals|       V Kohli|
|1312199|      2|   16|         5|  D Padikkal|     JR Hazlewood|   JC Buttler|        NA|          0|         0|        0|           0|               1|  D Padikkal|           caught|       KD Karthik|    Rajasthan Royals|    KD Karthik|
|1312198|      1|    0|         6|F du Plessis|      Mohsin Khan|      V Kohli|        NA|          0|         0|        0|           0|               1|F du Plessis|           caught|        Q de Kock|Royal Challengers...|     Q de Kock|
|1312198|      1|    8|         3|     V Kohli|       Avesh Khan|   RM Patidar|        NA|          0|         0|        0|           0|               1|     V Kohli|           caught|      Mohsin Khan|Royal Challengers...|   Mohsin Khan|
|1312198|      1|   10|         3|  GJ Maxwell|        KH Pandya|   RM Patidar|        NA|          0|         0|        0|           0|               1|  GJ Maxwell|           caught|          E Lewis|Royal Challengers...|       E Lewis|
+-------+-------+-----+----------+------------+-----------------+-------------+----------+-----------+----------+---------+------------+----------------+------------+-----------------+-----------------+--------------------+--------------+
only showing top 20 rows

In [ ]:
caught.groupBy('caught').agg(count('*').alias('No_of_Catches')).orderBy(desc('No_of_Catches')).show()

+--------------+-------------+
|        caught|No_of_Catches|
+--------------+-------------+
|      MS Dhoni|          135|
|    KD Karthik|          133|
|AB de Villiers|          120|
|      SK Raina|          109|
|    KA Pollard|          103|
|     RG Sharma|           97|
|       V Kohli|           93|
|      S Dhawan|           93|
|    RV Uthappa|           92|
|     RA Jadeja|           89|
|      DJ Bravo|           80|
|       WP Saha|           79|
|     MK Pandey|           78|
|     DA Warner|           76|
|     SV Samson|           73|
|  F du Plessis|           71|
|      PA Patel|           69|
|       NV Ojha|           65|
|     Q de Kock|           65|
|     DA Miller|           64|
+--------------+-------------+
only showing top 20 rows

In [ ]:
#9)Most Stumping
ball_ipl.filter(ball_ipl.kind=='stumped').groupBy('fielders_involved').agg(count('*').alias('Stumped_Wicket')).orderBy(desc('Stumped_Wicket')).show()

+-----------------+--------------+
|fielders_involved|Stumped_Wicket|
+-----------------+--------------+
|         MS Dhoni|            39|
|       KD Karthik|            34|
|       RV Uthappa|            32|
|          WP Saha|            22|
|          RR Pant|            18|
|         PA Patel|            16|
|     AC Gilchrist|            16|
|        Q de Kock|            15|
|        SV Samson|            12|
|          NV Ojha|            10|
|    KC Sangakkara|             9|
|   AB de Villiers|             8|
|         MS Bisla|             7|
|       SP Goswami|             7|
|        KM Jadhav|             7|
|      BB McCullum|             6|
|          AP Tare|             6|
|         KL Rahul|             5|
|        DH Yagnik|             5|
|      YV Takawale|             4|
+-----------------+--------------+
only showing top 20 rows

10)Find highest partnership by the batsmans

In [ ]:
par_udf=udf(lambda x:sorted(x),ArrayType(StringType()))
partner=ball_ipl.withColumn('partners',par_udf(array('batter','non-striker')))
partner.show()

+-------+-------+-----+----------+-----------+--------------+-----------+----------+-----------+----------+---------+------------+----------------+----------+----+-----------------+----------------+--------------------+
|     ID|innings|overs|ballnumber|     batter|        bowler|non-striker|extra_type|batsman_run|extras_run|total_run|non_boundary|isWicketDelivery|player_out|kind|fielders_involved|     BattingTeam|            partners|
+-------+-------+-----+----------+-----------+--------------+-----------+----------+-----------+----------+---------+------------+----------------+----------+----+-----------------+----------------+--------------------+
|1312200|      1|    0|         1|YBK Jaiswal|Mohammed Shami| JC Buttler|        NA|          0|         0|        0|           0|               0|        NA|  NA|               NA|Rajasthan Royals|[JC Buttler, YBK ...|
|1312200|      1|    0|         2|YBK Jaiswal|Mohammed Shami| JC Buttler|   legbyes|          0|         1|        1|           0|               0|        NA|  NA|               NA|Rajasthan Royals|[JC Buttler, YBK ...|
|1312200|      1|    0|         3| JC Buttler|Mohammed Shami|YBK Jaiswal|        NA|          1|         0|        1|           0|               0|        NA|  NA|               NA|Rajasthan Royals|[JC Buttler, YBK ...|
|1312200|      1|    0|         4|YBK Jaiswal|Mohammed Shami| JC Buttler|        NA|          0|         0|        0|           0|               0|        NA|  NA|               NA|Rajasthan Royals|[JC Buttler, YBK ...|
|1312200|      1|    0|         5|YBK Jaiswal|Mohammed Shami| JC Buttler|        NA|          0|         0|        0|           0|               0|        NA|  NA|               NA|Rajasthan Royals|[JC Buttler, YBK ...|
|1312200|      1|    0|         6|YBK Jaiswal|Mohammed Shami| JC Buttler|        NA|          0|         0|        0|           0|               0|        NA|  NA|               NA|Rajasthan Royals|[JC Buttler, YBK ...|
|1312200|      1|    1|         1| JC Buttler|    Yash Dayal|YBK Jaiswal|        NA|          0|         0|        0|           0|               0|        NA|  NA|               NA|Rajasthan Royals|[JC Buttler, YBK ...|
|1312200|      1|    1|         2| JC Buttler|    Yash Dayal|YBK Jaiswal|        NA|          0|         0|        0|           0|               0|        NA|  NA|               NA|Rajasthan Royals|[JC Buttler, YBK ...|
|1312200|      1|    1|         3| JC Buttler|    Yash Dayal|YBK Jaiswal|        NA|          4|         0|        4|           0|               0|        NA|  NA|               NA|Rajasthan Royals|[JC Buttler, YBK ...|
|1312200|      1|    1|         4| JC Buttler|    Yash Dayal|YBK Jaiswal|        NA|          0|         0|        0|           0|               0|        NA|  NA|               NA|Rajasthan Royals|[JC Buttler, YBK ...|
|1312200|      1|    1|         5| JC Buttler|    Yash Dayal|YBK Jaiswal|        NA|          1|         0|        1|           0|               0|        NA|  NA|               NA|Rajasthan Royals|[JC Buttler, YBK ...|
|1312200|      1|    1|         6|YBK Jaiswal|    Yash Dayal| JC Buttler|        NA|          0|         0|        0|           0|               0|        NA|  NA|               NA|Rajasthan Royals|[JC Buttler, YBK ...|
|1312200|      1|    2|         1| JC Buttler|Mohammed Shami|YBK Jaiswal|        NA|          1|         0|        1|           0|               0|        NA|  NA|               NA|Rajasthan Royals|[JC Buttler, YBK ...|
|1312200|      1|    2|         2|YBK Jaiswal|Mohammed Shami| JC Buttler|        NA|          0|         0|        0|           0|               0|        NA|  NA|               NA|Rajasthan Royals|[JC Buttler, YBK ...|
|1312200|      1|    2|         3|YBK Jaiswal|Mohammed Shami| JC Buttler|        NA|          4|         0|        4|           0|               0|        NA|  NA|               NA|Rajasthan Royals|[JC Buttler, YBK ...|
|1312200|      1|    2|         4|YBK Jaiswal|Mohammed Shami| JC Buttler|        NA|          0|         0|        0|           0|               0|        NA|  NA|               NA|Rajasthan Royals|[JC Buttler, YBK ...|
|1312200|      1|    2|         5|YBK Jaiswal|Mohammed Shami| JC Buttler|        NA|          6|         0|        6|           0|               0|        NA|  NA|               NA|Rajasthan Royals|[JC Buttler, YBK ...|
|1312200|      1|    2|         6|YBK Jaiswal|Mohammed Shami| JC Buttler|        NA|          3|         0|        3|           0|               0|        NA|  NA|               NA|Rajasthan Royals|[JC Buttler, YBK ...|
|1312200|      1|    3|         1|YBK Jaiswal|    Yash Dayal| JC Buttler|        NA|          1|         0|        1|           0|               0|        NA|  NA|               NA|Rajasthan Royals|[JC Buttler, YBK ...|
|1312200|      1|    3|         2| JC Buttler|    Yash Dayal|YBK Jaiswal|        NA|          1|         0|        1|           0|               0|        NA|  NA|               NA|Rajasthan Royals|[JC Buttler, YBK ...|
+-------+-------+-----+----------+-----------+--------------+-----------+----------+-----------+----------+---------+------------+----------------+----------+----+-----------------+----------------+--------------------+
only showing top 20 rows

In [ ]:
partner.groupBy('partners').agg(sum('total_run').alias('Runs')).orderBy(desc('Runs')).show(truncate=False)

+-------------------------+----+
|partners                 |Runs|
+-------------------------+----+
|[AB de Villiers, V Kohli]|3134|
|[CH Gayle, V Kohli]      |2802|
|[DA Warner, S Dhawan]    |2357|
|[G Gambhir, RV Uthappa]  |1906|
|[KL Rahul, MA Agarwal]   |1731|
|[CH Gayle, KL Rahul]     |1633|
|[MS Dhoni, SK Raina]     |1482|
|[PP Shaw, S Dhawan]      |1461|
|[DA Warner, JM Bairstow] |1401|
|[RR Pant, SS Iyer]       |1368|
|[M Vijay, MEK Hussey]    |1367|
|[BB McCullum, DR Smith]  |1363|
|[KA Pollard, RG Sharma]  |1344|
|[MS Dhoni, RA Jadeja]    |1290|
|[Q de Kock, RG Sharma]   |1274|
|[AM Rahane, SR Watson]   |1169|
|[MEK Hussey, SK Raina]   |1168|
|[AT Rayudu, RG Sharma]   |1165|
|[JC Buttler, SV Samson]  |1147|
|[AM Rahane, R Dravid]    |1145|
+-------------------------+----+
only showing top 20 rows

In [ ]:
ball_ipl.filter(ball_ipl.non_boundary==1).show(truncate=False)

+-------+-------+-----+----------+-------------+-------------+----------------+----------+-----------+----------+---------+------------+----------------+----------+----+-----------------+---------------------------+
|ID     |innings|overs|ballnumber|batter       |bowler       |non-striker     |extra_type|batsman_run|extras_run|total_run|non_boundary|isWicketDelivery|player_out|kind|fielders_involved|BattingTeam                |
+-------+-------+-----+----------+-------------+-------------+----------------+----------+-----------+----------+---------+------------+----------------+----------+----+-----------------+---------------------------+
|1304101|1      |11   |2         |DP Conway    |MR Marsh     |S Dube          |NA        |4          |0         |4        |1           |0               |NA        |NA  |NA               |Chennai Super Kings        |
|1304076|1      |2    |6         |JC Buttler   |UT Yadav     |D Padikkal      |NA        |4          |0         |4        |1           |0               |NA        |NA  |NA               |Rajasthan Royals           |
|1304066|1      |0    |3         |D Padikkal   |PVD Chameera |JC Buttler      |NA        |4          |0         |4        |1           |0               |NA        |NA  |NA               |Rajasthan Royals           |
|1254065|2      |11   |3         |F du Plessis |JA Richardson|MM Ali          |NA        |4          |0         |4        |1           |0               |NA        |NA  |NA               |Chennai Super Kings        |
|1237180|1      |6    |4         |S Dhawan     |Rashid Khan  |MP Stoinis      |NA        |6          |0         |6        |1           |0               |NA        |NA  |NA               |Delhi Capitals             |
|1216539|1      |15   |1         |RR Pant      |SM Curran    |SS Iyer         |NA        |4          |0         |4        |1           |0               |NA        |NA  |NA               |Delhi Capitals             |
|1178430|2      |13   |2         |N Pooran     |DJ Bravo     |Mandeep Singh   |NA        |4          |0         |4        |1           |0               |NA        |NA  |NA               |Kings XI Punjab            |
|1136580|2      |9    |2         |KS Williamson|SR Watson    |Shakib Al Hasan |NA        |4          |0         |4        |1           |0               |NA        |NA  |NA               |Sunrisers Hyderabad        |
|1082601|1      |18   |6         |MM Sharma    |TA Boult     |VR Aaron        |NA        |4          |0         |4        |1           |0               |NA        |NA  |NA               |Kings XI Punjab            |
|1082594|2      |12   |4         |GJ Maxwell   |RD Chahar    |DA Miller       |NA        |4          |0         |4        |1           |0               |NA        |NA  |NA               |Kings XI Punjab            |
|980987 |1      |3    |1         |V Kohli      |DS Kulkarni  |CH Gayle        |NA        |4          |0         |4        |1           |0               |NA        |NA  |NA               |Royal Challengers Bangalore|
|980909 |2      |9    |7         |RG Sharma    |Kuldeep Yadav|HH Pandya       |NA        |6          |0         |6        |1           |0               |NA        |NA  |NA               |Mumbai Indians             |
|598061 |2      |10   |3         |YK Pathan    |Yuvraj Singh |RN ten Doeschate|NA        |6          |0         |6        |1           |0               |NA        |NA  |NA               |Kolkata Knight Riders      |
|598024 |1      |4    |2         |SR Tendulkar |IK Pathan    |KD Karthik      |NA        |4          |0         |4        |1           |0               |NA        |NA  |NA               |Mumbai Indians             |
|548376 |2      |7    |1         |V Kohli      |A Mishra     |AB de Villiers  |NA        |6          |0         |6        |1           |0               |NA        |NA  |NA               |Royal Challengers Bangalore|
|548308 |2      |11   |3         |JEC Franklin |B Kumar      |SA Yadav        |NA        |6          |0         |6        |1           |0               |NA        |NA  |NA               |Mumbai Indians             |
|501257 |1      |2    |3         |PC Valthaty  |IK Pathan    |AC Gilchrist    |NA        |4          |0         |4        |1           |0               |NA        |NA  |NA               |Kings XI Punjab            |
|501252 |2      |5    |1         |CH Gayle     |J Botha      |TM Dilshan      |NA        |4          |0         |4        |1           |0               |NA        |NA  |NA               |Royal Challengers Bangalore|
|501225 |2      |4    |4         |R Dravid     |R Vinay Kumar|SR Watson       |NA        |4          |0         |4        |1           |0               |NA        |NA  |NA               |Rajasthan Royals           |
|392226 |2      |1    |3         |SM Katich    |PJ Sangwan   |S Sohal         |NA        |4          |0         |4        |1           |0               |NA        |NA  |NA               |Kings XI Punjab            |
+-------+-------+-----+----------+-------------+-------------+----------------+----------+-----------+----------+---------+------------+----------------+----------+----+-----------------+---------------------------+
only showing top 20 rows

In [ ]:
#11) batsmen strike rate

In [ ]:
ball_ipl.select('extra_type').distinct().show()

+----------+
|extra_type|
+----------+
|        NA|
|   noballs|
|   penalty|
|     wides|
|      byes|
|   legbyes|
+----------+

In [ ]:
ball_ipl.filter(ball_ipl.extra_type == 'noballs').show()

+-------+-------+-----+----------+---------------+-----------------+-------------+----------+-----------+----------+---------+------------+----------------+-----------+-------+-----------------+--------------------+
|     ID|innings|overs|ballnumber|         batter|           bowler|  non-striker|extra_type|batsman_run|extras_run|total_run|non_boundary|isWicketDelivery| player_out|   kind|fielders_involved|         BattingTeam|
+-------+-------+-----+----------+---------------+-----------------+-------------+----------+-----------+----------+---------+------------+----------------+-----------+-------+-----------------+--------------------+
|1312198|      1|   11|         1|     RM Patidar|     PVD Chameera|    MK Lomror|   noballs|          1|         1|        2|           0|               0|         NA|     NA|               NA|Royal Challengers...|
|1312197|      1|   19|         6|     JC Buttler|       Yash Dayal|      R Parag|   noballs|          1|         1|        2|           0|               1| JC Buttler|run out|          WP Saha|    Rajasthan Royals|
|1312197|      2|    9|         5|      DA Miller|         OC McCoy|    HH Pandya|   noballs|          0|         1|        1|           0|               0|         NA|     NA|               NA|      Gujarat Titans|
|1304116|      1|   19|         6|     R Shepherd|         NT Ellis|      B Kumar|   noballs|          0|         1|        1|           0|               1|    B Kumar|run out|        JM Sharma| Sunrisers Hyderabad|
|1304115|      2|   19|         1|Ramandeep Singh|         KK Ahmed|      DR Sams|   noballs|          0|         1|        1|           0|               0|         NA|     NA|               NA|      Mumbai Indians|
|1304112|      1|    7|         3|       KL Rahul|         CV Varun|    Q de Kock|   noballs|          1|         1|        2|           0|               0|         NA|     NA|               NA|Lucknow Super Giants|
|1304112|      2|    9|         3|    SW Billings|       Avesh Khan|      SS Iyer|   noballs|          6|         1|        7|           0|               0|         NA|     NA|               NA|Kolkata Knight Ri...|
|1304111|      2|    8|         3|      RG Sharma|      Umran Malik| Ishan Kishan|   noballs|          4|         1|        5|           0|               0|         NA|     NA|               NA|      Mumbai Indians|
|1304110|      1|    4|         6|    Lalit Yadav|   Arshdeep Singh|     MR Marsh|   noballs|          0|         1|        1|           0|               0|         NA|     NA|               NA|      Delhi Capitals|
|1304110|      2|    3|         4|       S Dhawan|         A Nortje|  JM Bairstow|   noballs|          1|         1|        2|           0|               0|         NA|     NA|               NA|        Punjab Kings|
|1304109|      1|    5|         3|    YBK Jaiswal|     PVD Chameera|    SV Samson|   noballs|          4|         1|        5|           0|               0|         NA|     NA|               NA|    Rajasthan Royals|
|1304108|      1|    1|         1|      DP Conway|        HH Pandya|   RD Gaikwad|   noballs|          0|         1|        1|           0|               0|         NA|     NA|               NA| Chennai Super Kings|
|1304106|      1|    5|         4|    JM Bairstow|   Mohammed Siraj|PBB Rajapaksa|   noballs|          0|         1|        1|           0|               0|         NA|     NA|               NA|        Punjab Kings|
|1304101|      1|    2|         2|     RD Gaikwad|         A Nortje|    DP Conway|   noballs|          1|         1|        2|           0|               0|         NA|     NA|               NA| Chennai Super Kings|
|1304100|      1|   18|         1|     GJ Maxwell|     Kartik Tyagi| F du Plessis|   noballs|          0|         1|        1|           0|               0|         NA|     NA|               NA|Royal Challengers...|
|1304098|      1|   16|         5| LS Livingstone|M Prasidh Krishna|    JM Sharma|   noballs|          1|         1|        2|           0|               0|         NA|     NA|               NA|        Punjab Kings|
|1304097|      1|   18|         3|    Tilak Varma|      LH Ferguson|     TH David|   noballs|          0|         1|        1|           0|               1|Tilak Varma|run out|        HH Pandya|      Mumbai Indians|
|1304096|      1|    5|         3|        RR Pant|     Kartik Tyagi|    DA Warner|   noballs|          1|         1|        2|           0|               0|         NA|     NA|               NA|      Delhi Capitals|
|1304094|      1|   19|         5|B Sai Sudharsan|   Arshdeep Singh|    AS Joseph|   noballs|          4|         1|        5|           0|               0|         NA|     NA|               NA|      Gujarat Titans|
|1304094|      2|   10|         4|  PBB Rajapaksa|        AS Joseph|     S Dhawan|   noballs|          1|         1|        2|           0|               0|         NA|     NA|               NA|        Punjab Kings|
+-------+-------+-----+----------+---------------+-----------------+-------------+----------+-----------+----------+---------+------------+----------------+-----------+-------+-----------------+--------------------+
only showing top 20 rows

In [ ]:
strikerate=ball_ipl.groupBy('ID','batter').agg(sum('batsman_run').alias('Runs'),count('*').alias('ball_face'),sum(when((ball_ipl.extra_type=='noballs' )|(ball_ipl.extra_type=='wides'),0).otherwise(1)).alias('ball_face_no_extra')).orderBy(desc('Runs'))
strikerate.show()

+-------+--------------+----+---------+------------------+
|     ID|        batter|Runs|ball_face|ball_face_no_extra|
+-------+--------------+----+---------+------------------+
| 598027|      CH Gayle| 175|       69|                65|
| 335982|   BB McCullum| 158|       77|                73|
|1304112|     Q de Kock| 140|       71|                70|
| 829795|AB de Villiers| 133|       61|                58|
|1216510|      KL Rahul| 132|       70|                69|
| 980987|AB de Villiers| 129|       53|                51|
| 548372|      CH Gayle| 128|       62|                61|
|1136602|       RR Pant| 128|       64|                63|
| 419137|       M Vijay| 127|       57|                56|
|1082627|     DA Warner| 126|       60|                59|
|1254085|    JC Buttler| 124|       69|                63|
| 734047|      V Sehwag| 122|       62|                57|
| 501206|   PC Valthaty| 120|       64|                63|
| 501243|      V Sehwag| 119|       58|                55|
|1254061|     SV Samson| 119|       66|                62|
|1136620|     SR Watson| 117|       60|                57|
| 829785|      CH Gayle| 117|       63|                56|
| 335990|     A Symonds| 117|       57|                52|
|1304080|    JC Buttler| 116|       66|                65|
| 335983|    MEK Hussey| 116|       54|                54|
+-------+--------------+----+---------+------------------+
only showing top 20 rows

In [ ]:
strikerate.withColumn('Strike_Rate',strikerate.Runs*100/strikerate.ball_face_no_extra).orderBy(desc('Strike_Rate')).show()

+-------+--------------------+----+---------+------------------+-----------------+
|     ID|              batter|Runs|ball_face|ball_face_no_extra|      Strike_Rate|
+-------+--------------------+----+---------+------------------+-----------------+
|1082609|         Rashid Khan|   6|        1|                 1|            600.0|
|1216531|            N Pooran|   6|        1|                 1|            600.0|
| 548318|       R Vinay Kumar|   6|        1|                 1|            600.0|
|1254072|           RA Jadeja|   6|        1|                 1|            600.0|
|1136604|JPR Scantlebury-S...|   6|        1|                 1|            600.0|
| 734041|             AP Tare|   6|        1|                 1|            600.0|
|1304090|             DR Sams|   6|        1|                 1|            600.0|
| 548313|           MK Pandey|  12|        4|                 2|            600.0|
| 733979|            R Bhatia|   6|        1|                 1|            600.0|
| 501271|            DJ Bravo|   6|        1|                 1|            600.0|
|1216538|           KH Pandya|  20|        4|                 4|            500.0|
|1178397|            DJ Hooda|  14|        3|                 3|466.6666666666667|
| 336014|           LR Shukla|  14|        3|                 3|466.6666666666667|
|1216496|           JC Archer|  27|        9|                 6|            450.0|
|1304060|          KA Pollard|  22|        6|                 5|            440.0|
| 419145|            CL White|  13|        3|                 3|433.3333333333333|
| 733993|             NV Ojha|  13|        3|                 3|433.3333333333333|
|1216527|           JC Archer|  13|        3|                 3|433.3333333333333|
|1304062|           R Tewatia|  13|        3|                 3|433.3333333333333|
|1178407|            R Ashwin|  17|        4|                 4|            425.0|
+-------+--------------------+----+---------+------------------+-----------------+
only showing top 20 rows

In [ ]:
#12) batsman scoring 50+ run with highest strike rate
strikerate.filter(strikerate.Runs>49).withColumn('Strike_Rate',strikerate.Runs*100/strikerate.ball_face_no_extra).orderBy(desc('Strike_Rate')).show()

+-------+---------------+----+---------+------------------+------------------+
|     ID|         batter|Runs|ball_face|ball_face_no_extra|       Strike_Rate|
+-------+---------------+----+---------+------------------+------------------+
|1304060|     PJ Cummins|  56|       15|                14|             400.0|
| 734047|       SK Raina|  87|       26|                24|             362.5|
| 734037|      YK Pathan|  72|       22|                22|327.27272727272725|
|1136562|       KL Rahul|  51|       16|                16|            318.75|
|1082636|      SP Narine|  54|       19|                17| 317.6470588235294|
| 980947|     KA Pollard|  51|       20|                17|             300.0|
|1136601|   Ishan Kishan|  62|       22|                21|295.23809523809524|
|1175358|        RR Pant|  78|       28|                27| 288.8888888888889|
|1216541|      HH Pandya|  60|       22|                21| 285.7142857142857|
| 829717|Harbhajan Singh|  64|       27|                23| 278.2608695652174|
|1254084|      AT Rayudu|  72|       28|                26| 276.9230769230769|
|1178399|     KA Pollard|  83|       33|                30| 276.6666666666667|
| 598064|      DA Miller| 101|       39|                37|272.97297297297297|
| 829807|   MC Henriques|  57|       24|                21|271.42857142857144|
| 419107|      YK Pathan| 100|       40|                37|270.27027027027026|
| 598027|       CH Gayle| 175|       69|                65| 269.2307692307692|
| 729291|      DA Miller|  51|       20|                19|268.42105263157896|
| 548336| AB de Villiers|  59|       24|                22| 268.1818181818182|
|1178422|      HH Pandya|  91|       34|                34| 267.6470588235294|
|1216493|     MP Stoinis|  53|       23|                20|             265.0|
+-------+---------------+----+---------+------------------+------------------+
only showing top 20 rows

In [ ]:
#13) batsman scoring 100+ run with highest strike rate
strikerate.filter(strikerate.Runs>99).withColumn('Strike_Rate',strikerate.Runs*100/strikerate.ball_face_no_extra).orderBy(desc('Strike_Rate')).show()

+-------+--------------+----+---------+------------------+------------------+
|     ID|        batter|Runs|ball_face|ball_face_no_extra|       Strike_Rate|
+-------+--------------+----+---------+------------------+------------------+
| 598064|     DA Miller| 101|       39|                37|272.97297297297297|
| 419107|     YK Pathan| 100|       40|                37|270.27027027027026|
| 598027|      CH Gayle| 175|       69|                65| 269.2307692307692|
| 980987|AB de Villiers| 129|       53|                51|252.94117647058823|
| 336018| ST Jayasuriya| 114|       53|                48|             237.5|
| 980999|       V Kohli| 113|       51|                48|235.41666666666666|
| 335994|  AC Gilchrist| 109|       50|                47|231.91489361702128|
| 829795|AB de Villiers| 133|       61|                58|229.31034482758622|
| 419137|       M Vijay| 127|       57|                56|226.78571428571428|
| 335990|     A Symonds| 117|       57|                52|             225.0|
| 501244|      CH Gayle| 107|       49|                49| 218.3673469387755|
| 335982|   BB McCullum| 158|       77|                73|216.43835616438355|
| 501243|      V Sehwag| 119|       58|                55|216.36363636363637|
| 335983|    MEK Hussey| 116|       54|                54| 214.8148148148148|
| 734047|      V Sehwag| 122|       62|                57|214.03508771929825|
|1082627|     DA Warner| 126|       60|                59| 213.5593220338983|
|1216527|    MA Agarwal| 106|       53|                50|             212.0|
| 980921|     Q de Kock| 108|       54|                51|211.76470588235293|
|1312198|    RM Patidar| 112|       55|                53|211.32075471698113|
| 548372|      CH Gayle| 128|       62|                61| 209.8360655737705|
+-------+--------------+----+---------+------------------+------------------+
only showing top 20 rows

In [ ]:
#14) Highest kind of wicket
ball_ipl.filter(ball_ipl.kind!='NA').groupBy('kind').agg(count('*').alias('No_of_Wicket')).orderBy(desc('No_of_Wicket')).show(truncate=False)

+---------------------+------------+
|kind                 |No_of_Wicket|
+---------------------+------------+
|caught               |6837        |
|bowled               |1944        |
|run out              |1007        |
|lbw                  |685         |
|stumped              |325         |
|caught and bowled    |323         |
|hit wicket           |14          |
|retired hurt         |13          |
|obstructing the field|2           |
|retired out          |1           |
+---------------------+------------+

In [ ]:
#15)Average run per inning
score_by_inn=ball_ipl.groupBy('ID','innings','BattingTeam').agg(sum('total_run').alias('Runs'),sum('isWicketDelivery').alias('Wickets')).orderBy('ID','innings')
score_by_inn.show()

+------+-------+--------------------+----+-------+
|    ID|innings|         BattingTeam|Runs|Wickets|
+------+-------+--------------------+----+-------+
|335982|      1|Kolkata Knight Ri...| 222|      3|
|335982|      2|Royal Challengers...|  82|     10|
|335983|      1| Chennai Super Kings| 240|      5|
|335983|      2|     Kings XI Punjab| 207|      4|
|335984|      1|    Rajasthan Royals| 129|      8|
|335984|      2|    Delhi Daredevils| 132|      1|
|335985|      1|      Mumbai Indians| 165|      7|
|335985|      2|Royal Challengers...| 166|      5|
|335986|      1|     Deccan Chargers| 110|     10|
|335986|      2|Kolkata Knight Ri...| 112|      5|
|335987|      1|     Kings XI Punjab| 166|      8|
|335987|      2|    Rajasthan Royals| 168|      4|
|335988|      1|     Deccan Chargers| 142|      8|
|335988|      2|    Delhi Daredevils| 143|      1|
|335989|      1| Chennai Super Kings| 208|      5|
|335989|      2|      Mumbai Indians| 202|      7|
|335990|      1|     Deccan Chargers| 214|      5|
|335990|      2|    Rajasthan Royals| 217|      7|
|335991|      1|     Kings XI Punjab| 182|     10|
|335991|      2|      Mumbai Indians| 116|      9|
+------+-------+--------------------+----+-------+
only showing top 20 rows

In [ ]:
score_by_inn.groupBy('innings').agg(avg('Runs').alias('Avg_runs'),avg('Wickets').alias('Avg_Wickets')).show()

+-------+------------------+------------------+
|innings|          Avg_runs|       Avg_Wickets|
+-------+------------------+------------------+
|      1| 162.4115789473684|6.0873684210526315|
|      6|              15.0|               0.0|
|      3| 9.785714285714286|1.3571428571428572|
|      5|              11.0|               1.0|
|      4| 8.785714285714286|               0.5|
|      2|149.28270042194092| 5.633966244725738|
+-------+------------------+------------------+

In [ ]:
#16)Average run per team
score_by_inn.groupBy('BattingTeam').agg(avg('Runs').alias('Avg_runs'),avg('Wickets').alias('Avg_Wickets')).show()

+--------------------+------------------+------------------+
|         BattingTeam|          Avg_runs|       Avg_Wickets|
+--------------------+------------------+------------------+
| Sunrisers Hyderabad|151.55769230769232| 5.532051282051282|
|Lucknow Super Giants|169.86666666666667| 5.933333333333334|
| Chennai Super Kings|159.77511961722487|5.2105263157894735|
|      Gujarat Titans|          166.4375|             5.125|
|Rising Pune Super...|           154.375|             5.625|
|     Deccan Chargers|            152.84| 6.453333333333333|
|Kochi Tuskers Kerala|135.78571428571428| 6.142857142857143|
|    Rajasthan Royals|152.99484536082474| 5.912371134020619|
|       Gujarat Lions|156.83870967741936| 6.064516129032258|
|Royal Challengers...|153.66812227074234|5.6943231441048034|
|Kolkata Knight Ri...|150.66519823788545|5.8061674008810575|
|Rising Pune Super...|147.35714285714286| 4.857142857142857|
|     Kings XI Punjab|154.17435897435897| 5.938461538461539|
|        Punjab Kings|160.46428571428572| 6.428571428571429|
|       Pune Warriors| 141.2888888888889| 6.622222222222222|
|    Delhi Daredevils|149.97530864197532|5.8765432098765435|
|      Delhi Capitals|153.71212121212122| 5.636363636363637|
|      Mumbai Indians|155.35169491525423| 5.860169491525424|
+--------------------+------------------+------------------+

In [ ]:
#17) total runs and wicket in diffent overs
ball_ipl.groupBy('overs').agg(sum('total_run').alias('Runs'),sum('isWicketDelivery').alias('Wickets')).orderBy('overs').show()

+-----+-----+-------+
|overs| Runs|Wickets|
+-----+-----+-------+
|    0|11686|    395|
|    1|13567|    433|
|    2|15068|    466|
|    3|15679|    470|
|    4|15741|    485|
|    5|15724|    474|
|    6|12659|    385|
|    7|13647|    402|
|    8|14099|    463|
|    9|13971|    424|
|   10|14295|    488|
|   11|14561|    488|
|   12|14694|    487|
|   13|15037|    544|
|   14|15481|    588|
|   15|15732|    643|
|   16|16228|    675|
|   17|16829|    849|
|   18|16250|    862|
|   19|15149|   1130|
+-----+-----+-------+

In [ ]:
#17) Avg runs and wicket in diffent overs
ball_ipl.groupBy('overs').agg(avg('total_run').alias('Runs'),avg('isWicketDelivery').alias('Wickets')).orderBy('overs').show()

+-----+------------------+--------------------+
|overs|              Runs|             Wickets|
+-----+------------------+--------------------+
|    0|  0.96698386429458|0.032685146876292925|
|    1|1.1367406786761625| 0.03627984918307499|
|    2|1.2766245869694146|0.039481487757349824|
|    3|1.3317760978510151| 0.03992185509216003|
|    4| 1.337837837837838|0.041220465748767636|
|    5|1.3416382252559726|0.040443686006825935|
|    6|1.0846542712706708| 0.03298774740810556|
|    7|1.1713157668869625|0.034503476096472405|
|    8|1.2145933838731908|0.039886285320468645|
|    9|1.2066850924166523|0.036621178096389706|
|   10| 1.242287303380551| 0.04240896845398453|
|   11|1.2683797909407666| 0.04250871080139373|
|   12|1.2830946559552916| 0.04252532308767028|
|   13| 1.324262439453985| 0.04790841039189784|
|   14|1.3749888977706723|0.052224886757260856|
|   15|1.4181916523934013| 0.05796448210583251|
|   16|  1.48052185019615| 0.06158197244776936|
|   17|1.5801877934272301| 0.07971830985915493|
|   18|1.6248375162483752|  0.0861913808619138|
|   19|1.7602835231234022|  0.1313037415756449|
+-----+------------------+--------------------+