In [164]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz
!tar xf spark-3.1.1-bin-hadoop3.2.tgz
!pip install -q findspark
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").appName("Assignment Work").getOrCreate()
spark

### Q1) pass "D/O New Delhi" and "C\O Tarun123 New Delhi" and  not pass "C//O Tarun ₹ New Delhi"

In [170]:
data = [("D/O New Delhi",),("C\O Tarun123 New Delhi",),("C//O tarun ₹ New Delhi",)]

df = spark.createDataFrame(data, ["Address"])
df.show(truncate=False)

regex_pattern =  r"^(D/O|C\\O) [A-Za-z0-9 ]+$"

filtered_df = df.filter(col("Address").rlike(regex_pattern))

filtered_df.show(truncate=False)

+----------------------+
|Address               |
+----------------------+
|D/O New Delhi         |
|C\O Tarun123 New Delhi|
|C//O tarun ₹ New Delhi|
+----------------------+

+----------------------+
|Address               |
+----------------------+
|D/O New Delhi         |
|C\O Tarun123 New Delhi|
+----------------------+

### Q2) Start: "2023-01-01 10:22" Convert this date into proper timestamp format"YYYY-MM-DD HH:MM:SS"

In [166]:
df = spark.createDataFrame([("2023-01-01 10:22",)], ["Start"])
df = df.withColumn("Updated_Start", date_format(col("Start"), "yyyy-MM-dd HH:mm:ss"))
df.show(truncate=False)

+----------------+-------------------+
|Start           |Updated_Start      |
+----------------+-------------------+
|2023-01-01 10:22|2023-01-01 10:22:00|
+----------------+-------------------+