In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz
!tar xf spark-3.1.1-bin-hadoop3.2.tgz
!pip install -q findspark
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
spark

In [ ]:
from pyspark.sql.types import *
schema = StructType(
    [
      StructField('Name',StringType()),
      StructField('Roll',IntegerType()),
      StructField('Batch',StringType()),
    ]
)

In [ ]:
data = [
    ("Vinayak",1,"CSE"),
    ("Neel",2,"CSIT"),
    ("PK",3,"CSE"),
    ("PK",3,"CSE")
]

df = spark.createDataFrame(data = data, schema = schema)
df.show(),df.printSchema()

+-------+----+-----+
|   Name|Roll|Batch|
+-------+----+-----+
|Vinayak|   1|  CSE|
|   Neel|   2| CSIT|
|     PK|   3|  CSE|
|     PK|   3|  CSE|
+-------+----+-----+

root
 |-- Name: string (nullable = true)
 |-- Roll: integer (nullable = true)
 |-- Batch: string (nullable = true)

(None, None)

In [ ]:
df.count(),df.dropDuplicates().count()

(4, 3)

In [ ]:
df.distinct().show()

+-------+----+-----+
|   Name|Roll|Batch|
+-------+----+-----+
|     PK|   3|  CSE|
|Vinayak|   1|  CSE|
|   Neel|   2| CSIT|
+-------+----+-----+

In [ ]:
df.select("Name", "batch").show()

+-------+-----+
|   Name|batch|
+-------+-----+
|Vinayak|  CSE|
|   Neel| CSIT|
|     PK|  CSE|
|     PK|  CSE|
+-------+-----+

In [ ]:
df = spark.read.option('header','True').option("delimiter","|").csv("/content/Raw.txt")
df.show()

+-------+-------+---+
|   Name|Surname| Id|
+-------+-------+---+
|Vinayak|    Rao|001|
|      R|    Rao|002|
+-------+-------+---+

In [ ]:
df = spark.read.option('header','True').option('delimiter','|').text('/content/Raw.txt')
df.show()

+-------+-------+---+
|   Name|Surname| Id|
+-------+-------+---+
|Vinayak|    Rao|001|
|      R|    Rao|002|
+-------+-------+---+

In [ ]:
df.printSchema()
df2 = df.withColumn("Name",df["Name"] .cast('Varchar(20)')).withColumn("Id",df["Id"] .cast('integer'))
df2.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Surname: string (nullable = true)
 |-- Id: string (nullable = true)

root
 |-- Name: string (nullable = true)
 |-- Surname: string (nullable = true)
 |-- Id: integer (nullable = true)

In [ ]:
df.schema

StructType(List(StructField(Name,StringType,true),StructField(Surname,StringType,true),StructField(Id,StringType,true)))

In [ ]:
df.columns

['Name', 'Surname', 'Id']

In [ ]:
df = spark.read.option('header','True').csv("/content/sample_data/california_housing_train.csv")
df.count()

17000

In [ ]:
df.show(10,truncate=False)

+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
|longitude  |latitude |housing_median_age|total_rooms|total_bedrooms|population |households |median_income|median_house_value|
+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
|-114.310000|34.190000|15.000000         |5612.000000|1283.000000   |1015.000000|472.000000 |1.493600     |66900.000000      |
|-114.470000|34.400000|19.000000         |7650.000000|1901.000000   |1129.000000|463.000000 |1.820000     |80100.000000      |
|-114.560000|33.690000|17.000000         |720.000000 |174.000000    |333.000000 |117.000000 |1.650900     |85700.000000      |
|-114.570000|33.640000|14.000000         |1501.000000|337.000000    |515.000000 |226.000000 |3.191700     |73400.000000      |
|-114.570000|33.570000|20.000000         |1454.000000|326.000000    |624.000000 |262.000000 |1.925000     |65500.000000      |
|-114.580000|33.630000|29.000000         |1387.000000|236.000000    |671.000000 |239.000000 |3.343800     |74000.000000      |
|-114.580000|33.610000|25.000000         |2907.000000|680.000000    |1841.000000|633.000000 |2.676800     |82400.000000      |
|-114.590000|34.830000|41.000000         |812.000000 |168.000000    |375.000000 |158.000000 |1.708300     |48500.000000      |
|-114.590000|33.610000|34.000000         |4789.000000|1175.000000   |3134.000000|1056.000000|2.178200     |58400.000000      |
|-114.600000|34.830000|46.000000         |1497.000000|309.000000    |787.000000 |271.000000 |2.190800     |48100.000000      |
+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
only showing top 10 rows

In [ ]:
df.show(10,truncate=True)

+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
|  longitude| latitude|housing_median_age|total_rooms|total_bedrooms| population| households|median_income|median_house_value|
+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
|-114.310000|34.190000|         15.000000|5612.000000|   1283.000000|1015.000000| 472.000000|     1.493600|      66900.000000|
|-114.470000|34.400000|         19.000000|7650.000000|   1901.000000|1129.000000| 463.000000|     1.820000|      80100.000000|
|-114.560000|33.690000|         17.000000| 720.000000|    174.000000| 333.000000| 117.000000|     1.650900|      85700.000000|
|-114.570000|33.640000|         14.000000|1501.000000|    337.000000| 515.000000| 226.000000|     3.191700|      73400.000000|
|-114.570000|33.570000|         20.000000|1454.000000|    326.000000| 624.000000| 262.000000|     1.925000|      65500.000000|
|-114.580000|33.630000|         29.000000|1387.000000|    236.000000| 671.000000| 239.000000|     3.343800|      74000.000000|
|-114.580000|33.610000|         25.000000|2907.000000|    680.000000|1841.000000| 633.000000|     2.676800|      82400.000000|
|-114.590000|34.830000|         41.000000| 812.000000|    168.000000| 375.000000| 158.000000|     1.708300|      48500.000000|
|-114.590000|33.610000|         34.000000|4789.000000|   1175.000000|3134.000000|1056.000000|     2.178200|      58400.000000|
|-114.600000|34.830000|         46.000000|1497.000000|    309.000000| 787.000000| 271.000000|     2.190800|      48100.000000|
+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
only showing top 10 rows

In [ ]:
df.dropDuplicates().count()

17000

### ***19th February***

In [ ]:
import json
data = {
    "array": [
      1,
      2,
      3
    ],
    "boolean": True,
    "color": "gold",
    "number": 123,
    "object": {
      "a": "b",
      "c": "d"
    },
    "string": "Hello World"
  }


# data {
#     "fruit": "Apple",
#     "size": "Large",
#     "color": "Red"
# }

json_object = json.dumps(data, indent=4)
with open("sample.json", "w") as outfile:
    outfile.write(json_object)

In [ ]:
df = spark.read.json("sample.json")
df.printSchema()
df.show()

root
 |-- _corrupt_record: string (nullable = true)

AnalysisException: Since Spark 2.3, the queries from raw JSON/CSV files are disallowed when the
referenced columns only include the internal corrupt record column
(named _corrupt_record by default). For example:
spark.read.schema(schema).json(file).filter($"_corrupt_record".isNotNull).count()
and spark.read.schema(schema).json(file).select("_corrupt_record").show().
Instead, you can cache or save the parsed results and then send the same query.
For example, val df = spark.read.schema(schema).json(file).cache() and then
df.filter($"_corrupt_record".isNotNull).count().

In [ ]:
df = spark.read.option('multiline',"true").json("sample.json")

In [ ]:
df.head()

Row(array=[1, 2, 3], boolean=True, color='gold', number=123, object=Row(a='b', c='d'), string='Hello World')

In [ ]:
import csv
with open('dummy.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    field = ["Country name", "Country Code", "Year", "Value"]

    writer.writerow(field)
    writer.writerow(["India","In01",2000,90])
    writer.writerow(["USA", "US02", 2001,80])
    writer.writerow(["Chine","CH31",2002,70])
    writer.writerow(["Germany", "Ge06", 2003,83])
    writer.writerow(["Nepal","Ne05",2004,40])

In [ ]:
df = spark.read.options(delimiter = ',', inferschema = True, header= True ).csv("/content/dummy.csv")
df.show()

+------------+------------+----+-----+
|Country name|Country Code|Year|Value|
+------------+------------+----+-----+
|       India|        In01|2000|   90|
|         USA|        US02|2001|   80|
|       Chine|        CH31|2002|   70|
|     Germany|        Ge06|2003|   83|
|       Nepal|        Ne05|2004|   40|
+------------+------------+----+-----+

In [ ]:
df.printSchema()

root
 |-- Country name: string (nullable = true)
 |-- Country Code: string (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Value: integer (nullable = true)

In [ ]:
df.columns

['Country name', 'Country Code', 'Year', 'Value']

In [ ]:
df.count()

5

In [ ]:
df.show(2)

+------------+------------+----+-----+
|Country name|Country Code|Year|Value|
+------------+------------+----+-----+
|       India|        In01|2000|   90|
|         USA|        US02|2001|   80|
+------------+------------+----+-----+
only showing top 2 rows

In [ ]:
df.take(2)

[Row(Country name='India', Country Code='In01', Year=2000, Value=90),
 Row(Country name='USA', Country Code='US02', Year=2001, Value=80)]

In [ ]:
import csv
with open('dummy2.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    field = ["Country name", "Country Code", "Year", "Value"]

    writer.writerow(field)
    writer.writerow(["India","In01",2000,90])
    writer.writerow(["India","In01",2001,90])
    writer.writerow(["India","In01",2005,90])
    writer.writerow(["USA", "US02", 2001,80])
    writer.writerow(["Chine","CH31",2002,70])
    writer.writerow(["Germany", "Ge06", 2003,83])
    writer.writerow(["Nepal","Ne05",2000,40])

In [ ]:
df = spark.read.options(delimiter = ',', inferschema = True, header= True ).csv("/content/dummy2.csv")
df.show()

+------------+------------+----+-----+
|Country name|Country Code|Year|Value|
+------------+------------+----+-----+
|       India|        In01|2000|   90|
|       India|        In01|2001|   90|
|       India|        In01|2005|   90|
|         USA|        US02|2001|   80|
|       Chine|        CH31|2002|   70|
|     Germany|        Ge06|2003|   83|
|       Nepal|        Ne05|2000|   40|
+------------+------------+----+-----+

In [ ]:
df.dropDuplicates().show()

+------------+------------+----+-----+
|Country name|Country Code|Year|Value|
+------------+------------+----+-----+
|       Nepal|        Ne05|2000|   40|
|       India|        In01|2000|   90|
|         USA|        US02|2001|   80|
|       Chine|        CH31|2002|   70|
|     Germany|        Ge06|2003|   83|
|       India|        In01|2005|   90|
|       India|        In01|2001|   90|
+------------+------------+----+-----+

In [ ]:
df.show()

+------------+------------+----+-----+
|Country name|Country Code|Year|Value|
+------------+------------+----+-----+
|       India|        In01|2000|   90|
|       India|        In01|2001|   90|
|       India|        In01|2005|   90|
|         USA|        US02|2001|   80|
|       Chine|        CH31|2002|   70|
|     Germany|        Ge06|2003|   83|
|       Nepal|        Ne05|2000|   40|
+------------+------------+----+-----+

In [ ]:
df.filter(df["Country name"] == "India").show()

+------------+------------+----+-----+
|Country name|Country Code|Year|Value|
+------------+------------+----+-----+
|       India|        In01|2000|   90|
|       India|        In01|2001|   90|
|       India|        In01|2005|   90|
+------------+------------+----+-----+

In [ ]:
from pyspark.sql.functions import col
df.filter(col("Country name") == "India").show()

+------------+------------+----+-----+
|Country name|Country Code|Year|Value|
+------------+------------+----+-----+
|       India|        In01|2000|   90|
|       India|        In01|2001|   90|
|       India|        In01|2005|   90|
+------------+------------+----+-----+

In [ ]:
df.filter((df["Country name"] == "India") &  (df["Year"] == 2000) | (df["Year"] == 2005)).show()

+------------+------------+----+-----+
|Country name|Country Code|Year|Value|
+------------+------------+----+-----+
|       India|        In01|2000|   90|
|       India|        In01|2005|   90|
+------------+------------+----+-----+

In [ ]:
df.show()

+------------+------------+----+-----+
|Country name|Country Code|Year|Value|
+------------+------------+----+-----+
|       India|        In01|2000|   90|
|       India|        In01|2001|   90|
|       India|        In01|2005|   90|
|         USA|        US02|2001|   80|
|       Chine|        CH31|2002|   70|
|     Germany|        Ge06|2003|   83|
|       Nepal|        Ne05|2000|   40|
+------------+------------+----+-----+

In [ ]:
df.select(["Country Code" , "Year"]).show()

+------------+----+
|Country Code|Year|
+------------+----+
|        In01|2000|
|        In01|2001|
|        In01|2005|
|        US02|2001|
|        CH31|2002|
|        Ge06|2003|
|        Ne05|2000|
+------------+----+

In [ ]:
df.select("Country Code" , "Year").show()

+------------+----+
|Country Code|Year|
+------------+----+
|        In01|2000|
|        In01|2001|
|        In01|2005|
|        US02|2001|
|        CH31|2002|
|        Ge06|2003|
|        Ne05|2000|
+------------+----+

In [ ]:
df.select("*").orderBy("year").show()

+------------+------------+----+-----+
|Country name|Country Code|Year|Value|
+------------+------------+----+-----+
|       Nepal|        Ne05|2000|   40|
|       India|        In01|2000|   90|
|       India|        In01|2001|   90|
|         USA|        US02|2001|   80|
|       Chine|        CH31|2002|   70|
|     Germany|        Ge06|2003|   83|
|       India|        In01|2005|   90|
+------------+------------+----+-----+

In [ ]:
df.withColumnRenamed("Country name","Country").withColumnRenamed("Country Code","Code").show()

+-------+----+----+-----+
|Country|Code|Year|Value|
+-------+----+----+-----+
|  India|In01|2000|   90|
|  India|In01|2001|   90|
|  India|In01|2005|   90|
|    USA|US02|2001|   80|
|  Chine|CH31|2002|   70|
|Germany|Ge06|2003|   83|
|  Nepal|Ne05|2000|   40|
+-------+----+----+-----+

### 19th March

In [ ]:
import logging
SparkSession.sparkContext.setLogLevel("Error")
# logging.basicConfig(level = logging.INFO)

NameError: name 'sc' is not defined

In [ ]:
df.show()

In [ ]:
def func():
  df = spark.read.csv("/content/dummy2.csv",header = True)
  # df.show()
  # logging.info("Successfully Created")
  # SparkSession.sparkContext.setLogLevel("Error")
func()

In [ ]:
logging.getLogger().setLevel(logging.INFO)

def func():
    try:
        df = spark.read.csv("/content/dummy2.csv", header=True)
        df.show()
        logging.info("Successfully created")
    except Exception as e:
        logging.error(f"An error occurred: {str(e)}")
    finally :
        spark.stop()

func()

INFO:root:Successfully created

+------------+------------+----+-----+
|Country name|Country Code|Year|Value|
+------------+------------+----+-----+
|       India|        In01|2000|   90|
|       India|        In01|2001|   90|
|       India|        In01|2005|   90|
|         USA|        US02|2001|   80|
|       Chine|        CH31|2002|   70|
|     Germany|        Ge06|2003|   83|
|       Nepal|        Ne05|2000|   40|
+------------+------------+----+-----+