In [1]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz
!tar xf spark-3.1.1-bin-hadoop3.2.tgz
!pip install -q findspark
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
spark

In [8]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
spark = SparkSession.builder.appName("AddressFilter").getOrCreate()

# creating dataframe
data = [
("D/O New Delhi",),
("C\\O Tarun123 New Delhi",),
("C// tarun â‚¹ New Delhi",),
("C// tarun % New Delhi",)]

In [9]:
columns = ["Address"]
df = spark.createDataFrame(data, columns)

r_pattern = "^[A-Za-z0-9 /\\\\]*New Delhi$"

In [11]:
final_df = df.filter(col("Address").rlike(r_pattern))
final_df.show(truncate=False)

+----------------------+
|Address               |
+----------------------+
|D/O New Delhi         |
|C\O Tarun123 New Delhi|
+----------------------+

### 2nd Question

In [13]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, to_timestamp, date_format
spark = SparkSession.builder.appName("TimestampConversion").getOrCreate()

#  DataFrame
data = [("2023-01-01 10:22",)]
columns = ["Start"]
df = spark.createDataFrame(data, columns)

In [14]:
# Converting the column to a proper timestamp format
df = df.withColumn("Start", to_timestamp(col("Start"), "yyyy-MM-dd HH:mm"))

# Format the timestamp to "YYYY-MM-DD HH:MM:SS" with seconds set to 00
df = df.withColumn("Start", date_format(col("Start"), "yyyy-MM-dd HH:mm:ss"))

In [15]:
# Show the result
df.show(truncate=False)

+-------------------+
|Start              |
+-------------------+
|2023-01-01 10:22:00|
+-------------------+

In [16]:
df.printSchema