In [ ]:
# !apt-get install openjdk-8-jdk-headless -qq > /dev/null
# !wget -q http://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz
# !tar xf spark-3.1.1-bin-hadoop3.2.tgz
# !pip install -q findspark

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"

In [ ]:
import findspark
findspark.init()

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
spark

initail thing in the spark application is creating a sparkContext object which tells the applocation hwo to access a cluster.

In [ ]:
from pyspark.conf import SparkConf
from pyspark.context import SparkContext
conf =SparkConf().setAppName('Pyspark Demo app').setMaster('local[2]')
conf.get('spark.master')
conf.get('spark.app.name')

'Pyspark Demo app'

what is **spark context** ?
it is an entry gate for any spark derived application or functionality. It is avaialble as sc by desfault in pyspark

In [ ]:
import findspark
findspark.init()
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

df = spark.sql('''select 'spark' as hello''')
df.show()

+-----+
|hello|
+-----+
|spark|
+-----+

In [ ]:
# Import necessary libraries
from pyspark.sql import SparkSession
from pyspark.sql import Row

# Create a SparkSession
spark = SparkSession.builder \
    .appName("Simple PySpark DataFrame") \
    .getOrCreate()

# Create some data
data = [
    Row(id=1, name='Puranjay', age=30),
    Row(id=2, name='abhi', age=25),
    Row(id=3, name='Riya', age=35)
]

# Create a DataFrame from the data
df = spark.createDataFrame(data)

# Show the DataFrame
df.show()

+---+--------+---+
| id|    name|age|
+---+--------+---+
|  1|Puranjay| 30|
|  2|    abhi| 25|
|  3|    Riya| 35|
+---+--------+---+

In [ ]:
from pyspark.sql.functions import col
df = df.withColumn("age", col("age").cast("string"))

# Read the CSV with inferschema
### InferSchema will guess the dataType of the source file and show us the datatype

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder \
    .appName("Read CSV") \
    .getOrCreate()
df = spark.read.csv("/content/people-100.csv", header=True, inferSchema=False)

In [ ]:
df.show(20)

+-----+---------------+----------+---------+------+--------------------+--------------------+-------------+--------------------+
|Index|        User Id|First Name|Last Name|   Sex|               Email|               Phone|Date of birth|           Job Title|
+-----+---------------+----------+---------+------+--------------------+--------------------+-------------+--------------------+
|    1|88F7B33d2bcf9f5|    Shelby|  Terrell|  Male|elijah57@example.net|001-084-906-7849x...|   1945-10-26|     Games developer|
|    2|f90cD3E76f1A9b9|   Phillip|  Summers|Female|bethany14@example...|   214.112.6044x4913|   1910-03-24|      Phytotherapist|
|    3|DbeAb8CcdfeFC2c|  Kristine|   Travis|  Male|bthompson@example...|        277.609.7938|   1992-07-02|           Homeopath|
|    4|A31Bee3c201ef58|   Yesenia| Martinez|  Male|kaitlinkaiser@exa...|        584.094.6111|   2017-08-03|   Market researcher|
|    5|1bA7A3dc874da3c|      Lori|     Todd|  Male|buchananmanuel@ex...|   689-207-3558x7233|   1938-12-01|  Veterinary surgeon|
|    6|bfDD7CDEF5D865B|      Erin|      Day|  Male| tconner@example.org|001-171-649-9856x...|   2015-10-28|Waste management ...|
|    7|bE9EEf34cB72AF7| Katherine|     Buck|Female|conniecowan@examp...|+1-773-151-6685x4...|   1989-01-22|Intelligence analyst|
|    8|2EFC6A4e77FaEaC|   Ricardo|   Hinton|  Male|wyattbishop@examp...|001-447-699-7998x...|   1924-03-26|      Hydrogeologist|
|    9|baDcC4DeefD8dEB|      Dave|  Farrell|  Male| nmccann@example.net|  603-428-2429x27392|   2018-10-06|              Lawyer|
|   10|8e4FB470FE19bF0|    Isaiah|    Downs|  Male|virginiaterrell@e...|+1-511-372-1544x8206|   1964-09-20|      Engineer, site|
|   11|BF0BbA03C29Bb3b|    Sheila|     Ross|Female|huangcathy@exampl...|        895.881.4746|   2008-03-20|Advertising accou...|
|   12|F738c69fB34E62E|     Stacy|   Newton|  Male|rayleroy@example.org|  710.673.3213x80335|   1980-10-20|       Warden/ranger|
|   13|C03fDADdAadAdCe|     Mandy|    Blake|  Male|jefferynoble@exam...|  (992)466-1305x4947|   2007-12-08|Scientist, clinic...|
|   14|b759b74BD1dE80d|   Bridget|     Nash|Female|mercedes44@exampl...|       (216)627-8359|   2004-06-28|       Social worker|
|   15|1F0B7D65A00DAF9|   Crystal|   Farmer|  Male|pmiranda@example.org|     +1-024-377-5391|   1992-03-09|Agricultural cons...|
|   16|50Bb061cB30B461|    Thomas|   Knight|Female|braunpriscilla@ex...|     +1-360-880-0766|   2006-02-18|Sport and exercis...|
|   17|D6dbA5308fEC4BC|   Maurice|   Rangel|  Male|sheenabanks@examp...|       (246)187-4969|   2004-08-20|Secretary/adminis...|
|   18|311D775990f066d|     Frank|  Meadows|  Male| gbrewer@example.org|   429.965.3902x4447|   2008-09-16|Audiological scie...|
|   19|7F7E1BAcb0C9AFf|     Alvin|     Paul|  Male|gilbertdonaldson@...|  219.436.0887x07551|   1949-05-12|Teacher, adult ed...|
|   20|88473e15D5c3cD0|     Jared| Mitchell|Female| jcortez@example.com|     +1-958-849-6781|   1921-01-18|    Paediatric nurse|
+-----+---------------+----------+---------+------+--------------------+--------------------+-------------+--------------------+
only showing top 20 rows

In [ ]:
df.printSchema()

root
 |-- Index: string (nullable = true)
 |-- User Id: string (nullable = true)
 |-- First Name: string (nullable = true)
 |-- Last Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Email: string (nullable = true)
 |-- Phone: string (nullable = true)
 |-- Date of birth: string (nullable = true)
 |-- Job Title: string (nullable = true)

In [ ]:
# from pyspark.sql import SparkSession
# from pyspark.sql.types import StructType, StructField, StringType, IntegerType

# # Create a SparkSession
# spark = SparkSession.builder \
#     .appName("CreateDataFrameExample") \
#     .getOrCreate()

# # Define schema for the DataFrame
# schema = StructType([
#     StructField("id", IntegerType(), True),
#     StructField("name", StringType(), True),
#     StructField("age", IntegerType(), True)
# ])

# # Sample data
# data = [(1, "Harsh", 30),
#         (2, "Yash", 25),
#         (3, "Janit", 35)]

# # Create a DataFrame
# df = spark.createDataFrame(data, schema)

# # Show the DataFrame
# df.show()

+---+-----+---+
| id| name|age|
+---+-----+---+
|  1|Harsh| 30|
|  2| Yash| 25|
|  3|Janit| 35|
+---+-----+---+

In [ ]:
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)

In [ ]:
from pyspark.sql.functions import col
df = df.withColumn("age", col("age").cast("string"))

In [ ]:
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)

In [ ]:
sc=spark.sparkContext
data = [1, 2, 3, 4, 5]
rdd = sc.parallelize(data)

print(rdd.collect())

[1, 2, 3, 4, 5]

In [ ]:
df2 = spark.read.parquet("/content/userdata1.parquet")

In [ ]:
df2.show(5)

+-------------------+---+----------+---------+--------------------+------+--------------+----------------+------------+---------+---------+--------------------+--------+
|  registration_dttm| id|first_name|last_name|               email|gender|    ip_address|              cc|     country|birthdate|   salary|               title|comments|
+-------------------+---+----------+---------+--------------------+------+--------------+----------------+------------+---------+---------+--------------------+--------+
|2016-02-03 07:55:29|  1|    Amanda|   Jordan|    ajordan0@com.com|Female|   1.197.201.2|6759521864920116|   Indonesia| 3/8/1971| 49756.53|    Internal Auditor|   1E+02|
|2016-02-03 17:04:03|  2|    Albert|  Freeman|     afreeman1@is.gd|  Male|218.111.175.34|                |      Canada|1/16/1968|150280.17|       Accountant IV|        |
|2016-02-03 01:09:31|  3|    Evelyn|   Morgan|emorgan2@altervis...|Female|  7.161.136.94|6767119071901597|      Russia| 2/1/1960|144972.51| Structural Engineer|        |
|2016-02-03 00:36:21|  4|    Denise|    Riley|    driley3@gmpg.org|Female| 140.35.109.83|3576031598965625|       China| 4/8/1997| 90263.05|Senior Cost Accou...|        |
|2016-02-03 05:05:31|  5|    Carlos|    Burns|cburns4@miitbeian...|      |169.113.235.40|5602256255204850|South Africa|         |     null|                    |        |
+-------------------+---+----------+---------+--------------------+------+--------------+----------------+------------+---------+---------+--------------------+--------+
only showing top 5 rows

In [ ]:
df2.printSchema()

root
 |-- registration_dttm: timestamp (nullable = true)
 |-- id: integer (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- email: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- ip_address: string (nullable = true)
 |-- cc: string (nullable = true)
 |-- country: string (nullable = true)
 |-- birthdate: string (nullable = true)
 |-- salary: double (nullable = true)
 |-- title: string (nullable = true)
 |-- comments: string (nullable = true)

In [ ]:
#read the json file by taking the multiline=true
df3=spark.read.json("/content/example_1.json")

In [ ]:
!cat /content/example_1.json

{
    "fruit": "Apple",
    "size": "Large",
    "color": "Red"
}

In [ ]:
df3.printSchema()

root
 |-- _corrupt_record: string (nullable = true)

In [ ]:
df3 = df3.filter(df3["_corrupt_record"].isNull())

In [ ]:
#read the json file by taking the multiline=true

df4=spark.read.json("/content/example_1.json")

!cat /content/example_1.json

{
    "fruit": "Apple",
    "size": "Large",
    "color": "Red"
}

As you can see, when multiline=false, PySpark reads the entire file as a single JSON object and stores it in a column named _corrupt_record, because the data is not formatted correctly for this setting. This is why it's important to choose the appropriate value for the multiline option based on the structure of your JSON data.

In [ ]:
df5 = spark.read.option("multiline", "false").json("/content/sample_data/anscombe.json")
df5.show()

+------+----+-----+---------------+
|Series|   X|    Y|_corrupt_record|
+------+----+-----+---------------+
|  null|null| null|              [|
|     I|10.0| 8.04|           null|
|     I| 8.0| 6.95|           null|
|     I|13.0| 7.58|           null|
|     I| 9.0| 8.81|           null|
|     I|11.0| 8.33|           null|
|     I|14.0| 9.96|           null|
|     I| 6.0| 7.24|           null|
|     I| 4.0| 4.26|           null|
|     I|12.0|10.84|           null|
|     I| 7.0| 4.81|           null|
|     I| 5.0| 5.68|           null|
|    II|10.0| 9.14|           null|
|    II| 8.0| 8.14|           null|
|    II|13.0| 8.74|           null|
|    II| 9.0| 8.77|           null|
|    II|11.0| 9.26|           null|
|    II|14.0|  8.1|           null|
|    II| 6.0| 6.13|           null|
|    II| 4.0|  3.1|           null|
+------+----+-----+---------------+
only showing top 20 rows

#
Reading the JSON file

In [ ]:
df6 = spark.read.option("multiline", "true").json("/content/example_2.json")
df6.show()

+--------------------+
|                quiz|
+--------------------+
|{{{12, [10, 11, 1...|
+--------------------+

In [ ]:
df5.printSchema()

root
 |-- Series: string (nullable = true)
 |-- X: double (nullable = true)
 |-- Y: double (nullable = true)
 |-- _corrupt_record: string (nullable = true)

In [ ]:
df5.columns

['Series', 'X', 'Y', '_corrupt_record']

Truncate=When truncate is set to True (which is the default behavior if not specified), the displayed strings in the columns are truncated if they exceed a certain length, and ... is appended at the end of the truncated strings.

In [ ]:
df5.show(10,truncate=True)

+------+----+-----+---------------+
|Series|   X|    Y|_corrupt_record|
+------+----+-----+---------------+
|  null|null| null|              [|
|     I|10.0| 8.04|           null|
|     I| 8.0| 6.95|           null|
|     I|13.0| 7.58|           null|
|     I| 9.0| 8.81|           null|
|     I|11.0| 8.33|           null|
|     I|14.0| 9.96|           null|
|     I| 6.0| 7.24|           null|
|     I| 4.0| 4.26|           null|
|     I|12.0|10.84|           null|
+------+----+-----+---------------+
only showing top 10 rows

Truncate means if there are large number of records in the database and we want to show the data if the data is false it will show .... if it is true it will show all of the data.

In [ ]:
df5.show(10,truncate=False)

+------+----+-----+---------------+
|Series|X   |Y    |_corrupt_record|
+------+----+-----+---------------+
|null  |null|null |[              |
|I     |10.0|8.04 |null           |
|I     |8.0 |6.95 |null           |
|I     |13.0|7.58 |null           |
|I     |9.0 |8.81 |null           |
|I     |11.0|8.33 |null           |
|I     |14.0|9.96 |null           |
|I     |6.0 |7.24 |null           |
|I     |4.0 |4.26 |null           |
|I     |12.0|10.84|null           |
+------+----+-----+---------------+
only showing top 10 rows

In [ ]:
df6.show(20)

+--------------------+
|                quiz|
+--------------------+
|{{{12, [10, 11, 1...|
+--------------------+

In [ ]:
df_no_duplicates=df6.dropDuplicates()

In [ ]:
df_no_duplicates.show()

+--------------------+
|                quiz|
+--------------------+
|{{{12, [10, 11, 1...|
+--------------------+

In [ ]:
sorted_df = df_no_duplicates.orderBy("quiz")

# Show the sorted DataFrame
sorted_df.show()

+--------------------+
|                quiz|
+--------------------+
|{{{12, [10, 11, 1...|
+--------------------+

In [ ]:
df6.show()

+--------------------+
|                quiz|
+--------------------+
|{{{12, [10, 11, 1...|
+--------------------+

In [ ]:
#In PySpark, the distinct() function is used to remove duplicate rows from a DataFrame.
#It returns a new DataFrame with distinct rows.
df6.distinct().show(20)

+--------------------+
|                quiz|
+--------------------+
|{{{12, [10, 11, 1...|
+--------------------+

In [ ]:
df.show(5)

+---+-----+---+
| id| name|age|
+---+-----+---+
|  1|Harsh| 30|
|  2| Yash| 25|
|  3|Janit| 35|
+---+-----+---+

In [ ]:
df.select("age").show(5)

+---+
|age|
+---+
| 30|
| 25|
| 35|
+---+

In [ ]:
#Filter operations
#Column rename

In [ ]:
df = spark.read.option("delimiter",' ').csv("/content/500.txt",header=True,inferSchema=True)
df.show()
df.printSchema()

+----------+--------+------------+--------+------------+-----------+------+------------+-----------+---------+----------+----------+--------+---------+----------+-----------------+-------------+----------+----------+----------+----------+---------+-----------+----------+-------------+--------------+-----------+--------+------------+----------+-----------+-----------+-------------+----------+----------+-----------+-----------+
|        In|    the1|       realm|     of3| cyberspace,|      where| bytes|       dance|       and8|electrons|    twirl,|       a11|symphony|     of13|characters|         unfolds.|        The16|   digital|landscape,|   adorned|      with|    the21|      likes|      of23|           @,|            #,|      and26|      $,|      weaves|       a29|   tapestry|       of31|communication|      that|transcends|traditional|boundaries.|
+----------+--------+------------+--------+------------+-----------+------+------------+-----------+---------+----------+----------+--------+---------+----------+-----------------+-------------+----------+----------+----------+----------+---------+-----------+----------+-------------+--------------+-----------+--------+------------+----------+-----------+-----------+-------------+----------+----------+-----------+-----------+
|        As|     the|       clock| strikes|   midnight,|          a|  lone|     hacker,|   wielding|        a|  keyboard|      like|       a| virtuoso|      with|                a|       piano,|   embarks|        on|         a| nocturnal|  journey|    through|       the|      matrix.|           The|click-clack|      of|        keys|    echoes|         in|        the|      virtual|corridors,|        as|        the|     hacker|
|Meanwhile,|       a|        chat|    room|     springs|         to|  life|        with|     emojis|     that|     wink,|    smirk,|     and|  express|         a|           myriad|           of| emotions.|    üòéüöÄüåü|       The|  language|       of|        the|  internet|           is|           not|   confined|      to|     letters|       and|     words;|         it|           is|         a|   collage|         of|   symbols,|
|        In|     the|   encrypted|  depths|          of|        the|  web,|           a|clandestine|  meeting|        is|     about|      to|     take|    place.|              The|participants,|identified|        by|pseudonyms|      such|       as|DarkPhoenix|       and|CipherShadow,|      exchange|    cryptic|messages|   encrypted|      with|     arcane|   symbols.|        %$!&^|      null|      null|       null|       null|
|        As|     the|conversation|unfolds,|           a| mysterious|figure|     emerges|       from|      the|   digital|  shadows.|   Their|username,|         a|      combination|           of|     Greek|   letters|       and| numerals,|     adds|         an|       air|           of|        enigma|         to|     the|proceedings.|    Œ®Œ£Œ©007|       null|       null|         null|      null|      null|       null|       null|
|       The| virtual|       realm|      is|           a| playground|   for| creativity,|      where|    ASCII|       art|flourishes|    like|  digital| graffiti.|                A|    pixelated|    dragon|  breathes|      fire|        in|      one|    corner,|     while|            a|     whimsical|        cat|composed|          of|characters|    frolics|         in|     another.|     ‚âß^‚ó°^‚â¶|      null|       null|       null|
|    Amidst|     the|         sea|      of|alphanumeric|characters,|     a|      string|         of|     code|   emerges|      that|   holds|      the|       key|               to|            a|   virtual|  treasure|    trove.|       The|sequence,|          a|   complex|       fusion|            of|    symbols|     and|    numbers,| resembles|         an|  intricate|       puzzle|   waiting|        to|         be|    solved.|
|        In|     the|       heart|      of|           a|   bustling|online|marketplace,|        the| currency|        of|       the|  future|       is|exchanged.|Cryptocurrencies,|  represented|        by|   symbols|      like| Bitcoin's|        ‚Çø|        and|Ethereum's|           Œû,|      redefine|        the| concept|          of|     value|         in|        the|      digital|      age.|      üí∞üåê|       null|       null|
|       The|symphony|          of| special|  characters|  continues|    to|       play,|   creating|        a|harmonious| cacophony|    that|  defines|       the|          digital|  experience.|      From|       the|    subtle|underscore|      (_)|         to|       the|   flamboyant|   exclamation|       mark|    (!),|        each| character|contributes|         to|          the|      vast|   lexicon|         of|        the|
|        In|     the|       grand|tapestry|          of|        the| World|        Wide|       Web,|    every|   special| character|     has|        a|      role|               to|        play.|   Whether|      it's|       the|     tilde|      (~)| gracefully|   tilting|           on|             a|        URL|      or|         the|  asterisk|        (*)|emphasizing|            a|   crucial|    point,|      these| characters|
|        As|     the|     virtual|     sun|       rises|         on|     a|         new|       day,|      the|   special|characters|persist,|  shaping|       the|        narrative|           of|       the|   digital| frontier.|       The| language|         of|cyberspace|           is|ever-evolving,|        and|      in|        this|     dance|         of|characters,|            a|     story|   unfolds|       that| transcends|
+----------+--------+------------+--------+------------+-----------+------+------------+-----------+---------+----------+----------+--------+---------+----------+-----------------+-------------+----------+----------+----------+----------+---------+-----------+----------+-------------+--------------+-----------+--------+------------+----------+-----------+-----------+-------------+----------+----------+-----------+-----------+

root
 |-- In: string (nullable = true)
 |-- the1: string (nullable = true)
 |-- realm: string (nullable = true)
 |-- of3: string (nullable = true)
 |-- cyberspace,: string (nullable = true)
 |-- where: string (nullable = true)
 |-- bytes: string (nullable = true)
 |-- dance: string (nullable = true)
 |-- and8: string (nullable = true)
 |-- electrons: string (nullable = true)
 |-- twirl,: string (nullable = true)
 |-- a11: string (nullable = true)
 |-- symphony: string (nullable = true)
 |-- of13: string (nullable = true)
 |-- characters: string (nullable = true)
 |-- unfolds.: string (nullable = true)
 |-- The16: string (nullable = true)
 |-- digital: string (nullable = true)
 |-- landscape,: string (nullable = true)
 |-- adorned: string (nullable = true)
 |-- with: string (nullable = true)
 |-- the21: string (nullable = true)
 |-- likes: string (nullable = true)
 |-- of23: string (nullable = true)
 |-- @,: string (nullable = true)
 |-- #,: string (nullable = true)
 |-- and26: string (nullable = true)
 |-- $,: string (nullable = true)
 |-- weaves: string (nullable = true)
 |-- a29: string (nullable = true)
 |-- tapestry: string (nullable = true)
 |-- of31: string (nullable = true)
 |-- communication: string (nullable = true)
 |-- that: string (nullable = true)
 |-- transcends: string (nullable = true)
 |-- traditional: string (nullable = true)
 |-- boundaries.: string (nullable = true)

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, IntegerType

# Create a SparkSession
spark = SparkSession.builder \
    .appName("CreateDataFrameExample") \
    .getOrCreate()

# Define schema for the DataFrame
schema = StructType([
    StructField("CountryName", StringType(), True),
    StructField("CountryCode", StringType(), True),
    StructField("Year", IntegerType(), True),
    StructField("value", IntegerType(), True)
])

# Sample data
data = [("India", "IND", 2011,1),
        ("Japan", "JPN", 2012,2),
        ("china", "CHA", 2013,3)]

# Create a DataFrame
df = spark.createDataFrame(data, schema)

# Show the DataFrame
df.show()

+-----------+-----------+----+-----+
|CountryName|CountryCode|Year|value|
+-----------+-----------+----+-----+
|      India|        IND|2011|    1|
|      Japan|        JPN|2012|    2|
|      china|        CHA|2013|    3|
+-----------+-----------+----+-----+

In [ ]:
df = spark.read.options(delimiter='|',infeschema=True,header=True).csv("/content/file.csv.txt")
df.show()
df.printSchema()

+------------+------------+----+-------+
|Country Name|Country Code|Year|Value  |
+------------+------------+----+-------+
|       India|        In01|2000|     90|
|         USA|        US03|2001|     18|
|       China|        ch07|1999|     78|
|       Japan|       jap82|2005|     45|
|       Saudi|       sau81|2003|     56|
+------------+------------+----+-------+

root
 |-- Country Name: string (nullable = true)
 |-- Country Code: string (nullable = true)
 |-- Year: string (nullable = true)
 |-- Value  : string (nullable = true)

Filter is used to filter the things
#Condition and year is 2000 or 2005

In [ ]:
from pyspark.sql.functions import col
filtered_dataframe =df.filter(col('Year').isin(2000,2005) )
filtered_dataframe.show()

+-------+------------+----+-------+
|Country|Country Code|Year|Value  |
+-------+------------+----+-------+
|  India|        In01|2000|     90|
|  Japan|       jap82|2005|     45|
+-------+------------+----+-------+

# Condition for year in 2000 and 2005

In [ ]:
from pyspark.sql.functions import col
filtered_dataframe = df.filter((col('Year') == 2000) & (col('Year') == 2005))
filtered_dataframe.show()
# Empty result because there is no matching column

+-------+------------+----+-------+
|Country|Country Code|Year|Value  |
+-------+------------+----+-------+
+-------+------------+----+-------+

#Filter in Pyspark

In [ ]:
from pyspark.sql.functions import col
filtered_dataframe =df.filter(col('Country Name')=='India' )
filtered_dataframe.show()

+------------+------------+----+-------+
|Country Name|Country Code|Year|Value  |
+------------+------------+----+-------+
|       India|        In01|2000|     90|
+------------+------------+----+-------+

# Do filter,groupBy and aggregation all in one function.

In [ ]:
new_data_frame = df.filter(col('Year') == 2000).groupby("Value  ").agg({'Value  ':'count'})
new_data_frame.show()

+-------+--------------+
|Value  |count(Value  )|
+-------+--------------+
|     90|             1|
+-------+--------------+

# Column Renamed  Function

In [ ]:
# new_data={'country':'countryname'}
df =df.withColumnRenamed("Country Name","Country")
# df_renamed.show()
df.show()

+-------+------------+----+-------+
|Country|Country Code|Year|Value  |
+-------+------------+----+-------+
|  India|        In01|2000|     90|
|    USA|        US03|2001|     18|
|  China|        ch07|1999|     78|
|  Japan|       jap82|2005|     45|
|  Saudi|       sau81|2003|     56|
+-------+------------+----+-------+

change multiple column names

## Partitioning and shuffling
where we can use RDD and data frame