In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz
!tar xf spark-3.1.1-bin-hadoop3.2.tgz
!pip install -q findspark
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
spark

1. **Transformation Operations:**
   a. Write a Spark application to read a text file and convert all words to uppercase using the `map()` transformation.

   b. Given an RDD of integers, filter out numbers greater than 10 using the `filter()` transformation.

   c. Concatenate two RDDs containing strings using the `union()` transformation.

   d. Perform a `flatMap()` transformation on an RDD of sentences to split each sentence into words.
   
   e. Use the `distinct()` transformation to remove duplicate elements from an RDD of integers.

In [ ]:
rdd = spark.sparkContext.textFile("/content/rdd operations.txt")
rdd1=rdd.flatMap(lambda x:x.split('\\s+'))
rdd2 =rdd1.map(lambda x: x.strip())
import re

pattern = r'[,;|!*:.()`]'
rdd2 = rdd2.flatMap(lambda x:re.split(pattern,x))
rdd2=rdd2.flatMap(lambda x:x.split(' '))
rdd2 = rdd2.filter(lambda x:x!='')

rddx = rdd2.map(lambda x:(x,1)).reduceByKey(lambda a,b:a+b).map(lambda x:(x[1],x[0])).sortByKey(False).map(lambda x:(x[1],x[0]))
rddx.collect()

[('the', 34),
 ('a', 20),
 ('RDD', 20),
 ('to', 19),
 ('using', 18),
 ('of', 16),
 ('transformation', 12),
 ('an', 11),
 ('and', 11),
 ('for', 8),
 ('Pair', 8),
 ('b', 6),
 ('c', 6),
 ('d', 6),
 ('Use', 6),
 ('in', 6),
 ('RDDs', 6),
 ('e', 6),
 ('elements', 6),
 ('action', 5),
 ('function', 5),
 ('optimize', 4),
 ('Operations', 4),
 ('on', 4),
 ('from', 4),
 ('key', 4),
 ('Spark', 3),
 ('integers', 3),
 ('two', 3),
 ('operations', 3),
 ('Implement', 3),
 ('each', 3),
 ('values', 3),
 ('with', 3),
 ('or', 3),
 ('create', 3),
 ('custom', 3),
 ('questions', 2),
 ('into', 2),
 ('sum', 2),
 ('reduce', 2),
 ('measure', 2),
 ('different', 2),
 ('exceptions', 2),
 ('fault', 2),
 ('tolerance', 2),
 ('overhead', 2),
 ('perform', 2),
 ('practice', 2),
 ('text', 2),
 ('file', 2),
 ('all', 2),
 ('words', 2),
 ('filter', 2),
 ('number', 2),
 ('5', 2),
 ('by', 2),
 ('time', 2),
 ('taken', 2),
 ('partitions', 2),
 ('data', 2),
 ('checkpoint', 2),
 ('Certainly', 1),
 ('are', 1),
 ('1', 1),
 ('read', 1),
 ('convert', 1),
 ('uppercase', 1),
 ('out', 1),
 ('numbers', 1),
 ('than', 1),
 ('10', 1),
 ('remove', 1),
 ('Action', 1),
 ('Calculate', 1),
 ('Find', 1),
 ('value', 1),
 ('floats', 1),
 ('max', 1),
 ('Count', 1),
 ('count', 1),
 ('array', 1),
 ('take', 1),
 ('Save', 1),
 ('contents', 1),
 ('Join', 1),
 ('based', 1),
 ('join', 1),
 ('Group', 1),
 ('Sort', 1),
 ('cogroup', 1),
 ('combine', 1),
 ('4', 1),
 ('Performance', 1),
 ('cache', 1),
 ('persist', 1),
 ('subsequent', 1),
 ('broadcast', 1),
 ('large', 1),
 ('read-only', 1),
 ('worker', 1),
 ('nodes', 1),
 ('coalesce', 1),
 ('parallelize', 1),
 ('collection', 1),
 ('executor/memory', 1),
 ('settings', 1),
 ('performance', 1),
 ('Error', 1),
 ('Handling', 1),
 ('Fault', 1),
 ('Tolerance', 1),
 ('gracefully', 1),
 ('when', 1),
 ('external', 1),
 ('like', 1),
 ('HDFS', 1),
 ('S3', 1),
 ('try-catch', 1),
 ('blocks', 1),
 ('handle', 1),
 ('specific', 1),
 ('Monitor', 1),
 ('job', 1),
 ('progress', 1),
 ('resource', 1),
 ('usage', 1),
 ('identify', 1),
 ('errors', 1),
 ('failed', 1),
 ('tasks', 1),
 ("Spark's", 1),
 ('mechanisms', 1),
 ('distribution', 1),
 ('aggregations', 1),
 ('Combine', 1),
 ('schemas', 1),
 ('zip', 1),
 ('paired', 1),
 ('serialization', 1),
 ('format', 1),
 ('storage', 1),
 ('network', 1),
 ('foreachPartition', 1),
 ('These', 1),
 ('concepts', 1),
 ('Apache', 1),
 ('providing', 1),
 ('opportunities', 1),
 ('hands-on', 1),
 ('learning', 1),
 ('development', 1),
 ('Here', 1),
 ('specified', 1),
 ('topics', 1),
 ('Transformation', 1),
 ('Write', 1),
 ('application', 1),
 ('map', 1),
 ('Given', 1),
 ('greater', 1),
 ('Concatenate', 1),
 ('containing', 1),
 ('strings', 1),
 ('union', 1),
 ('Perform', 1),
 ('flatMap', 1),
 ('sentences', 1),
 ('split', 1),
 ('sentence', 1),
 ('distinct', 1),
 ('duplicate', 1),
 ('2', 1),
 ('maximum', 1),
 ('Collect', 1),
 ('first', 1),
 ('local', 1),
 ('saveAsTextFile', 1),
 ('3', 1),
 ('Compute', 1),
 ('reduceByKey', 1),
 ('their', 1),
 ('keys', 1),
 ('groupByKey', 1),
 ('sortByKey', 1),
 ('same', 1),
 ('Optimization', 1),
 ('Cache', 1),
 ('memory', 1),
 ('actions', 1),
 ('efficiently', 1),
 ('distribute', 1),
 ('variables', 1),
 ('Adjust', 1),
 ('repartition', 1),
 ('parallelism', 1),
 ('in-memory', 1),
 ('Experiment', 1),
 ('cluster', 1),
 ('configurations', 1),
 ('Handle', 1),
 ('reading', 1),
 ('sources', 1),
 ('lineage', 1),
 ('error', 1),
 ('handling', 1),
 ('logic', 1),
 ('UI', 1),
 ('troubleshoot', 1),
 ('Retry', 1),
 ('automatically', 1),
 ('6', 1),
 ('Advanced', 1),
 ('partitioner', 1),
 ('shuffle', 1),
 ('aggregateByKey', 1),
 ('complex', 1),
 ('Utilize', 1),
 ('efficient', 1),
 ('bulk', 1),
 ('cover', 1),
 ('wide', 1),
 ('range', 1),
 ('skill', 1)]

In [ ]:
import random
import numpy as np
rdd = spark.sparkContext.parallelize(np.random.randint(0,989,size=60))
rdd.collect()
rdd=rdd.filter(lambda x:x>300)
rdd.collect()

[954,
 687,
 981,
 826,
 850,
 907,
 587,
 785,
 517,
 430,
 486,
 515,
 438,
 468,
 597,
 863,
 673,
 920,
 558,
 819,
 914,
 335,
 582,
 577,
 772,
 927,
 439,
 944,
 864,
 484,
 960,
 440,
 964,
 818,
 607,
 302,
 668,
 915,
 724,
 752,
 453,
 753,
 325]

In [ ]:
rdd1 = spark.sparkContext.parallelize(["yatendra","taran","kanisk","neel"])
rdd2 = spark.sparkContext.parallelize(["purunjay","janit","pranshu","yatendra"])

rdd1.union(rdd2).collect()

['yatendra',
 'taran',
 'kanisk',
 'neel',
 'purunjay',
 'janit',
 'pranshu',
 'yatendra']

In [ ]:
rdd = spark.sparkContext.parallelize(np.random.randint(0,10,size=16))
rdd.distinct().collect()

[2, 8, 6, 0, 9, 5, 7, 3]

In [ ]:
rdd1 = spark.sparkContext.parallelize([(1,"Yatendra"),(2,"taran"),(3,"neels"),(4,"hash")]);
rdd2 = spark.sparkContext.parallelize([(1,22),(2,21),(3,24),(4,45)])

rdd1.join(rdd2).collect()

[(4, ('hash', 45)),
 (1, ('Yatendra', 22)),
 (2, ('taran', 21)),
 (3, ('neels', 24))]

**Action Operations:**

   a. Calculate the sum of all elements in an RDD of integers using the `reduce()` action.

   b. Find the maximum value in an RDD of floats using the `max()` action.

   c. Count the number of elements in an RDD using the `count()` action.

   d. Collect the first 5 elements of an RDD into a local array using the `take()` action.

   e. Save the contents of an RDD to a text file using the `saveAsTextFile()` action.


```
```

In [ ]:
rdd = spark.sparkContext.parallelize(np.random.randint(0,20,size=10))
print("rdd = "+str(rdd.collect()))
print("sum = "+str(rdd.sum()))
print("max = ",rdd.max())
print("count = ",rdd.count())
arr= rdd.take(5)
print("array",arr)

rdd = [19, 11, 18, 10, 9, 10, 17, 17, 16, 17]
sum = 144
max =  19
count =  10
array [19, 11, 18, 10, 9]

In [ ]:
rdd.saveAsTextFile("/content/NEWoutput.txt")

 **Pair RDD Operations:**

   a. Compute the sum of values for each key in a Pair RDD using the `reduceByKey()` transformation.

   b. Join two Pair RDDs based on their keys using the `join()` transformation.

   c. Group the values of a Pair RDD by key using the `groupByKey()` transformation.

   d. Sort the elements of a Pair RDD by key using the `sortByKey()` transformation.
   
   e. Use the `cogroup()` transformation to combine values from two Pair RDDs with the same key.

In [ ]:
rdd1 = spark.sparkContext.parallelize([("yat",10),("yat",2),("tar",9),('kan',8),('tar',1),('neel',6),('kan',7)])
rdd1 = rdd1.reduceByKey(lambda a,b:a+b)
rdd1.collect()

[('yat', 12), ('tar', 10), ('neel', 6), ('kan', 15)]

In [ ]:
rdd2 = spark.sparkContext.parallelize([("yat",10),('tar',7),('kan',4)])

rddres =rdd1.join(rdd2)
rddres.collect()

[('yat', (12, 10)), ('kan', (15, 4)), ('tar', (10, 7))]

In [ ]:
#with mapValues function(we can pass any iterable in mapvalues)
rdd1 = spark.sparkContext.parallelize([("yat",10),("yat",2),("tar",9),('kan',8),('tar',1),('neel',6),('kan',7)])
rdd1 = rdd1.groupByKey().mapValues(list)
print(rdd1.collect())

#without using mapvalue function
rdd1 = spark.sparkContext.parallelize([("yat",10),("yat",2),("tar",9),('kan',8),('tar',1),('neel',6),('kan',7)])
rdd1 = rdd1.groupByKey()
result = rdd1.collect()
for name, marks in result:
    print(f"{name}: {list(marks)}")

[('yat', [10, 2]), ('tar', [9, 1]), ('neel', [6]), ('kan', [8, 7])]
yat: [10, 2]
tar: [9, 1]
neel: [6]
kan: [8, 7]

In [ ]:
#sortbykey
rdd1 = spark.sparkContext.parallelize([("yat",10),("yat",2),("tar",9),('kan',8),('tar',1),('neel',6),('kan',7)])
rdd1 = rdd1.sortByKey()
rdd1.collect()

[('kan', 8),
 ('kan', 7),
 ('neel', 6),
 ('tar', 9),
 ('tar', 1),
 ('yat', 10),
 ('yat', 2)]

In [ ]:
#cogroup
rdd1 = spark.sparkContext.parallelize([("yat",10),("yat",2),("tar",9),('kan',8),('tar',1),('neel',6),('kan',7)])
rdd2 = spark.sparkContext.parallelize([("yat",17),('tar',7),('kan',4)])

rddx = rdd1.cogroup(rdd2)
rddx = rddx.collect()

for key, values in rddx:
    print(f"Key: {key}, Values: {list(map(list, values))}")

Key: yat, Values: [[10, 2], [17]]
Key: neel, Values: [[6], []]
Key: kan, Values: [[8, 7], [4]]
Key: tar, Values: [[9, 1], [7]]

4. **Performance Optimization:**

   a. Cache an RDD in memory using the `cache()` or `persist()` function and measure the time taken for subsequent actions.

   b. Use the `broadcast()` function to efficiently distribute large read-only variables to worker nodes.

   c. Adjust the number of partitions using the `repartition()` or `coalesce()` function to optimize parallelism.

   d. Use `parallelize()` to create an RDD from an in-memory collection and measure the time taken for operations.
   
   e. Experiment with different cluster configurations and executor/memory settings to optimize performance.

In [ ]:
### cache and persist do same thing it's just cache stores data in memory
### and persist can store it in 5 diffrent types of storage

rdd1 = spark.sparkContext.parallelize([("yat",10),("yat",2),("tar",9),('kan',8),('tar',1),('neel',6),('kan',7)])

import time

start_time = time.time()
persistMemory = rdd1.persist()
end_time = time.time()

print(f"Time taken while persist = {end_time-start_time}")

start_time = time.time()
cacheMemory = rdd1.cache()
end_time = time.time()

print(f"Time taken while caching = {end_time-start_time}")

Time taken while persist = 0.0072290897369384766
Time taken while caching = 0.00466156005859375

In [ ]:
## Broadcast variable
## Broadcast variables are read-only shared variables that are cached and available
## on all nodes in a cluster in-order to access or use by the tasks. Instead of
## sending this data along with every task, PySpark distributes broadcast variables
## to the workers using efficient broadcast algorithms to reduce communication costs.

states = {"NY":"New York", "CA":"California", "FL":"Florida"}
broadcastStates = spark.sparkContext.broadcast(states)

data = [("James","Smith","USA","CA"),
    ("Michael","Rose","USA","NY"),
    ("Robert","Williams","USA","CA"),
    ("Maria","Jones","USA","FL")
  ]

rdd = spark.sparkContext.parallelize(data)

def state_convert(code):
    return broadcastStates.value[code]

result = rdd.map(lambda x: (x[0],x[1],x[2],state_convert(x[3]))).collect()
print(result)

[('James', 'Smith', 'USA', 'California'), ('Michael', 'Rose', 'USA', 'New York'), ('Robert', 'Williams', 'USA', 'California'), ('Maria', 'Jones', 'USA', 'Florida')]

In [ ]:
# repartition and coalesce

repartitionedRDD = rdd.repartition(4)
print(repartitionedRDD.glom().collect())

## Coalesce the RDD into 2 partitions
coalescedRDD = rdd.coalesce(3)

## Action to view the partitions
coalescedRDD.glom().collect()

[[], [('Robert', 'Williams', 'USA', 'CA'), ('Maria', 'Jones', 'USA', 'FL')], [], [('James', 'Smith', 'USA', 'CA'), ('Michael', 'Rose', 'USA', 'NY')]]

[[('James', 'Smith', 'USA', 'CA'), ('Michael', 'Rose', 'USA', 'NY')],
 [('Robert', 'Williams', 'USA', 'CA'), ('Maria', 'Jones', 'USA', 'FL')]]

In [ ]:
data = [("James","Smith","USA","CA"),
    ("Michael","Rose","USA","NY"),
    ("Robert","Williams","USA","CA"),
    ("Maria","Jones","USA","FL")
  ]

start_time = time.time()
rdd = spark.sparkContext.parallelize(data)
end_time = time.time()
print(end_time-start_time)

cacheRDD = rdd.cache()

start_time = time.time()
newRDD = spark.sparkContext.parallelize(cacheRDD.collect())
end_time = time.time()

print(end_time-start_time)
newRDD.collect()

0.005979299545288086
0.040570974349975586

[('James', 'Smith', 'USA', 'CA'),
 ('Michael', 'Rose', 'USA', 'NY'),
 ('Robert', 'Williams', 'USA', 'CA'),
 ('Maria', 'Jones', 'USA', 'FL')]