In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz
!tar xf spark-3.1.1-bin-hadoop3.2.tgz
!pip install -q findspark
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
spark

In [ ]:
df = spark.read.options(delimiter='|',inferschema=True,header=True).csv("/content/file.csv.txt")
df.show()

+------------+------------+----+-------+
|Country Name|Country Code|Year|Value  |
+------------+------------+----+-------+
|       India|        In01|2000|     90|
|         USA|        US03|2001|     18|
|       China|        ch07|1999|     78|
|       Japan|       jap82|2005|     45|
|       Saudi|       sau81|2003|     56|
+------------+------------+----+-------+

In [ ]:
df.printSchema()

root
 |-- Country Name: string (nullable = true)
 |-- Country Code: string (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Value  : integer (nullable = true)

In [ ]:
df.columns

['Country Name', 'Country Code', 'Year', 'Value  ']

In [ ]:
df.show(2)

+------------+------------+----+-------+
|Country Name|Country Code|Year|Value  |
+------------+------------+----+-------+
|       India|        In01|2000|     90|
|         USA|        US03|2001|     18|
+------------+------------+----+-------+
only showing top 2 rows

In [ ]:
df = spark.read.options(delimiter='|',inferschema=True,header=True).csv("/content/file.csv - Copy.txt")
df.show()

+------------+------------+----+-------+
|Country Name|Country Code|Year|Value  |
+------------+------------+----+-------+
|       India|        In01|2000|     90|
|         USA|        US03|2001|     18|
|       China|        ch07|1999|     78|
|       Japan|       jap82|2005|     45|
|       Saudi|       sau81|2003|     56|
|         USA|        US03|2001|     18|
|       China|        ch07|1999|     78|
+------------+------------+----+-------+

In [ ]:
#df1= df.dropDuplicates()
df.show()

+------------+------------+----+-------+
|Country Name|Country Code|Year|Value  |
+------------+------------+----+-------+
|       India|        In01|2000|     90|
|         USA|        US03|2001|     18|
|       China|        ch07|1999|     78|
|       Japan|       jap82|2005|     45|
|       Saudi|       sau81|2003|     56|
|         USA|        US03|2001|     18|
|       China|        ch07|1999|     78|
+------------+------------+----+-------+

In [ ]:
df.show()
duplicate_rows = df.exceptAll(df.dropDuplicates('Country Name'))
duplicate_rows.show()

+------------+------------+----+-------+
|Country Name|Country Code|Year|Value  |
+------------+------------+----+-------+
|       India|        In01|2000|     90|
|         USA|        US03|2001|     18|
|       China|        ch07|1999|     78|
|       Japan|       jap82|2005|     45|
|       Saudi|       sau81|2003|     56|
|         USA|        US03|2001|     18|
|       China|        ch07|1999|     78|
+------------+------------+----+-------+

Py4JError: An error occurred while calling z:org.apache.spark.api.python.PythonUtils.toSeq. Trace:
py4j.Py4JException: Method toSeq([class java.lang.String]) does not exist
	at py4j.reflection.ReflectionEngine.getMethod(ReflectionEngine.java:318)
	at py4j.reflection.ReflectionEngine.getMethod(ReflectionEngine.java:339)
	at py4j.Gateway.invoke(Gateway.java:276)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.lang.Thread.run(Thread.java:750)

In [ ]:
#filter
from pyspark.sql.functions import col
df.filter(col("Country Name")=='India')

DataFrame[Country Name: string, Country Code: string, Year: int, Value  : int]

In [ ]:
#sorting and orderby
df.select('Country Code','Value  ').orderBy('Value  ',ascending=False).show()

+------------+-------+
|Country Code|Value  |
+------------+-------+
|        In01|     90|
|        ch07|     78|
|        ch07|     78|
|       sau81|     56|
|       jap82|     45|
|        US03|     18|
|        US03|     18|
+------------+-------+